 
.about{background:url(../images/yuan_top.gif) no-repeat left 0;width:980px;margin:auto;margin-bottom:10px}
.full{background:url(../images/yuan_top.gif) repeat-y right 0;min-height:300px;_height:300px;margin-top:5px;float:left;width:980px;}
.leftpan{width:200px;float:left;}
.leftpan h2{margin:15px 0 0 15px;height:35px;}
.leftpan ul{margin:0 0 0 10px;border-top:#EAEAEA solid 1px;}
.leftpan ul li{line-height:40px;height:40px;font-size:14px;border-bottom:#EAEAEA solid 1px;}
.leftpan ul li a{text-decoration:none;display:block;color:#333;padding-left:30px;background:url(../images/jt.gif) no-repeat 8px -29px;}
.leftpan ul .tl a{color:#f90;background:url(../images/jt.gif) no-repeat 8px 11px;}
.leftpan ul .tl{background:url(../images/about/tl.gif) no-repeat left;width:201px;height:42px;margin:0 0 0 0;border:none;position:relative;top:-1px;}
.leftpan ul li a:hover{color:#F60;}
.rightpan{float:right;width:750px;}
.rightpan h1{text-align:center;font-size:20px;height:50px;border-bottom:#ccc solid 1px;line-height:50px;font-weight:normal;font-family:"simhei";margin-right:20px;}
.detail{margin:20px 30px 20px 10px;line-height:22px;color:#333;}


.bt_1{ width:700px; height:35px;  line-height:35px; }
.hezuo_logo{ width:700px; height:auto; display:table; margin-top:10px; margin-bottom:20px;}
.hezuo_logo ul{margin:10px 0 0 5px;padding-bottom:10px;float:left;}
.hezuo_logo li{float:left;display:inline;margin:0 0 0 5px;height:50px; margin-bottom:15px;}
.hezuo_logo li a{border:#ededed solid 2px; float:left; padding:1px;}
.hezuo_logo li a:hover{border:#FFCC00 solid 3px;float:left;padding:0px;}
.hezuo_logo li a img{height:50px;width:160px;}


.wenzi_link{ width:690px; height:auto; display:table; margin-top:10px; margin-bottom:20px; border:#ededed solid 2px; margin-left:5px;}
.wenzi_link ul{float:left; margin:8px; padding-bottom:10px;}
.wenzi_link li{float:left;margin:0 0 0 2px;height:20px; margin-bottom:5px;width:110px; text-align:left;}
.wenzi_link li a{ color:#3399CC; text-decoration:none;}
.wenzi_link li a:hover{ color:#3399CC; text-decoration:underline;}


.shenqing_a{ width:700px; text-align:center; height:51px; margin:10px 0px;}
.shenqing_a a{background:url(../images/shengqing.jpg) no-repeat 0 0; height:46px;width:166px;display:block; margin:auto; text-align:center;}
.shenqing_a a:hover{background-position: 0 -56px;}
