body{height:100%;color:#333;font-size:12px;margin:0;padding:0;font-family:Verdana, Arial, Helvetica, sans-serif}
p,ul,li,h2,dl,dd,dt{margin:0;padding:0;}
ul li{list-style:none;}
img{border:0;}

.hy{float:left;border-left:#ddd solid 2px;margin:12px 0 0 15px;padding:11px 0 2px 15px;height:44px;display:inline;}
.T_right{float:right;margin:10px 10px 0 0;display:inline}
.T_right a{color:#bbb;text-decoration:none;}
.T_right a:hover{color:#F90;text-decoration:underline}
.T_right span{color:#bbb;margin:0 5px;}
.center{border:#ddd solid 1px;width:948px;margin:auto;margin-bottom:10px;}
.bz{background:url(http://sf.panli.com/FrontEnd/images20090801/mima/yj.gif) no-repeat left top;width:800px;position:relative;margin:-1px;height:130px;padding:50px 0 0 150px;}
.bz h2{font-size:24px;color:#80AB51;height:66px;line-height:66px;padding-left:72px;background:url(../images/xiao.gif) no-repeat left;margin:0 0 0 65px;}
.bz p{font-size:12px;color:#F90;height:35px;padding-left:140px;}
.yaunyin{background:url(../images/bj2.gif) no-repeat;height:136px;width:619px;margin:0 0 130px 170px;}
.yaunyin ul li{float:left;width:160px;padding-right:23px;border-right:#ddd solid 1px;line-height:22px;margin:0 7px 0 15px;display:inline;color:#aaa}
.yaunyin ul{margin:45px 0 0 0;float:left;}
.yaunyin ul .qu{border:none;}
.yaunyin ul li b{display:block;font-size:14px;font-weight:100;}
.yaunyin ul li a{color:#5d9acf;}
.yaunyin ul li a:hover{color:#F90;text-decoration:none}

.floor{background:url(../images/change2.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/change2.png');_background-image:none;width:376px;height:153px;margin-left:-270px;margin-bottom:-400px;position:relative;z-index:200;float:left;display:inline;}
.change{width:376px;height:153px;position:relative;z-index:201;margin-left:-270px;margin-bottom:-400px;float:left;display:inline;}
.change table{border-collapse:collapse;border:none;width:100%;float:left}
.change table td{border:none;height:30px;}
.change table .zuo{width:80px;text-align:right;}
.change input{float:left;display:inline;}
.change table img{float:left;width:120px;height:26px;margin-left:10px;display:inline;}
.c1,.c1_,.c3{border:#BADBEA solid 1px;padding:4px 5px 4px 5px;width:230px;height:16px;}
.c1_{color:#333}
.c3{color:#333;width:100px}
.c2,.c2_{background:url(../images/c2.gif) no-repeat;width:86px;border:none;color:#fff;height:28px;cursor:pointer;margin:5px 0 0 83px;}
.c2_{background-position:0 bottom;color:#FFF;}
.change p{margin:15px 0 0 85px;color:#D7C57D;display:inline;height:22px;float:left;display:inline}
.change .red{color:#FF0000;}
.change .lv{color:#A8CF85}
.close{width:19px;height:15px;float:right;background:url(../images/w.gif) no-repeat top;display:inline;margin:17px 15px -200px 0;position:relative;z-index:300;}
.close:hover{background-position:0 bottom;}
.ch_top{background:url(../images/ok.gif) no-repeat 10px 5px;padding-left:57px;line-height:22px;border-bottom:#CCC dashed 1px;height:60px;margin:35px 0 0 28px;float:left;display:inline;width:250px;}
.ch_top span{color:#588f1b;margin:0 3px}
.change .tishi{margin-top:15px;}
.yj{background:url(http://sf.panli.com/FrontEnd/images20090801/mima/yj.gif) no-repeat right top;height:5px;position:relative;margin:-1px;width:950px;}

