body {
	padding: 0;
	margin: 0;
	font-family: ו;
	font-size: 12px;
	color: #000;
}
p,h1,h2,h3,h4,h5,li,dl,dd,dt,ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
img {
	border: 0;
}
.gs_background {
	background: #F2F2F2;
	padding: 10px 0;
}
.gs_center {
	background: #fff url(../images/background_middle.gif) repeat-y 0 0;
	width: 980px;
	margin: auto;
}
.gs_bottom {
	background: url(../images/background_bottom.gif) no-repeat 0 bottom;
	width: 980px;
	padding-bottom: 60px;
}
.pic {
	background: url(../images/background_top.gif) no-repeat 0 top;
	height: 90px;
}
.dashed {
	background: url(../images/dashed.gif) no-repeat;
	height: 1px;
	margin: 10px 0 0 15px;
}
.font p {
	padding: 25px 0 0 30px;
}
.font a {
	padding: 0 5px 0 5px;
	color: #0764b5;
	text-decoration: none;
}
.font a: hover {
	color: #ff4200;
	text-decoration: underline;
}
.font span {
	padding: 0 5px 0 5px;
}
.font b {
	color: #999;
	font-weight: normal;
}
.left {
	float: left;
	width: 310px;
	padding-left: 20px;
}
.right {
	width: 630px;
	float: right;
}
.gs_bj {
	background: url(../images/cartoonpic.gif) no-repeat right 0;
	height: 400px;
	width: 880px;
	margin: auto;
}
.gs_jg {
	background: url(../images/jieguo.gif) no-repeat right 0;
	height: 400px;
	width: 880px;
	margin: auto;
}
.one {
	background: url(../images/one.gif) no-repeat left 0;
	padding: 0 25px;
	height: 75px;
}
.two {
	background: url(../images/two.gif) no-repeat left 0;
	padding: 0 25px;
	height: 75px;
}
.three {
	background: url(../images/three.gif) no-repeat left 0;
	padding: 0 25px;
	height: 100px;
}
.fangkuang {
	width: 177px;
	font-size: 14px;
	padding: 5px;
	border: #71A8CF solid 1px;
	background: #fff;
}
.left h1 {
	padding: 0 0 20px 20px;
	font-size: 24px;
}
.left ul {
	font-size: 14px;
	color: #5e5e5e;
}
.left ul li span {
	color: #979797;
}
.left ul li p {
	background: url(../images/ico-pa.gif) no-repeat left;
	padding-left: 16px;
	font-size: 12px;
	height: 20px;
	color: #F00;
	line-height: 22px;
}
.an {
	padding: 15px 0 0 25px;
}
.left ul li h3 {
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 6px;
	color: #5e5e5e;
}
.tishi {
	padding-top: 4px;
	font-size: 12px;
	line-height: 20px;
}
.tishi dt {
	float: left;
	background: url(../images/clew.gif) no-repeat left;
	padding-left: 18px;
	width: 62px;
}
.tishi dd {
	float: left;
	width: 40px;
}
.tishi dd a {
	float: left;
}
.tishi dd a: hover {
	color: #F90;
}
.ts {
	width: 135px;
	background: #adacac;
	color: #FFF;
	float: left;
	margin: 15px -1000px -1000px 0;
	position: relative;
	padding: 6px 10px;
	line-height: 22px;
	left: 0;
}
.left ul li em {
	font-weight: bold;
	font-style: normal;
	font-size: 12px;
	color: #999;
}
.left ul li {
	height: 80px;
}
.red_t {
	border: #F98487 solid 1px;
	background: #FFD9D9;
}
.left ul li b {
	font-size: 12px;
	text-decoration: underline;
	color: #a4a3a3;
	font-weight: normal;
}
.left ul li a {
	color: #a4a3a3;
}
.anniu,.anniu_on {
	border: medium none;
	background: url(../images/gz4.gif) no-repeat 0 top;
	color: #fff;
	height: 45px;
	width: 107px;
	font-size: 14px;
	padding-bottom: 10px;
	cursor: pointer;
	color: #CF9C56;
}
.anniu_on {
	background-position: 0 -46px;
	color: #fff;
}
.three select {
	width: 150px;
	height: 22px;
}
.box {
	float: right;
	width: 550px;
	padding-top: 60px;
}
.box h2 {
	font-size: 20px;
	padding-left: 200px;
	height: 35px;
}
.box table {
	border-collapse: collapse;
	width: 480px;
}
.box table td {
	border: #ccc solid 1px;
	text-align: center;
	font-size: 12px;
	padding: 5px 7px;
}
.box table th {
	border: #ccc solid 1px;
	background: #f1f1f1;
	color: #898989;
	font-size: 12px;
	font-weight: normal;
	padding: 8px 10px;
}
.red {
	color: #F00;
}
.box p {
	color: #999;
	padding: 0 0 0 20px;
	margin-top: 10px;
	background: url(../images/tt_46.gif) no-repeat left 0;
	line-height: 20px;
}
.loading {
	text-align: center;
	padding-top: 140px;
}
.loading p {
	color: #bbb;
	padding-top: 10px;
}

