body{height:100%;color:#333;font-size:12px;margin:0;padding:0;font-family:Verdana, Arial, Helvetica, sans-serif}
p,ul,li,h2,dl,dd,dt{margin:0;padding:0;}
ul li{list-style:none;}
img{border:0;}


.hy{float:left;border-left:#ddd solid 2px;margin:12px 0 0 15px;padding:11px 0 2px 15px;height:44px;display:inline;}
.T_right{float:right;margin:10px 10px 0 0;display:inline}
.T_right a{color:#bbb;text-decoration:none;}
.T_right a:hover{color:#F90;text-decoration:underline}
.T_right span{color:#bbb;margin:0 5px;}

.center{border:#ddd solid 1px;width:948px;margin:auto;margin-bottom:10px;}
.bz{background:url(../images/yjj.gif) no-repeat left top;width:950px;position:relative;margin:-1px;height:150px;}
.bz img{margin:50px 0 0 100px;}

.z{text-align:right;width:320px;font-size:14px}
.xiugai{border-bottom:#ddd solid 1px;margin:0 30px;height:190px;}
.xiugai table{border-collapse:collapse;border:none;width:100%;}
.xiugai table td{border:0;height:41px;padding:0;margin:0;}
.xiugai table input{float:left;border:#BADBEA solid 1px;padding:5px 5px 5px 5px;width:250px;height:16px;background:#fff}
.xiugai table .on{background:#F4FDFF}
.xiugai table .wrong{border:#FF4646 solid 1px;color:#f00}
.xiugai table .verification{width:110px;}

.xiugai table p{float:left;color:#CCC;line-height:28px;height:28px;margin-left:10px;}
.xiugai table img{float:left;width:135px;height:28px;margin-left:5px;}
.xiugai table .red{color:#F00;}
.xiugai table p img{height:19px;width:19px;margin:4px 0 0 0;}
.xiugai a{text-decoration:none;color:#72a8ce;float:left;margin:5px 0 0 10px;display:inline;}
.button,.button_{background:url(../images/navv.gif) no-repeat top;width:143px;height:30px;border:none;height:44px;color:#FFFFFF;line-height:30px;padding-bottom:14px;cursor:pointer;font-size:14px;}
.button_{background-position:0 bottom;}
.tijiao{margin:10px 0 0 320px;height:60px;float:left;display:inline}
.wenxin{background:url(../images/deng.gif) no-repeat left 4px;padding:0 0 20px 20px;line-height:25px;height:25px;margin:15px 0 0 160px;color:#aaa;}
.wenxin span{color:#333;}
.wenxin a{color:#2B86D1;margin:0 3px;}
.wenxin a:hover{color:#FF6600;text-decoration:none;}

.yifa{background:url(../images/yifa.gif) no-repeat left;height:70px;padding:20px 0 0 80px;margin-left:230px;}
.yifa ul{font-size:14px;line-height:35px;}
.yifa ul span{color:#29A026;margin-left:5px;}
.shouqu{margin:10px 0 0 300px;}
.shouqu a{background:url(../images/nav22.gif) no-repeat top;width:191px;height:30px;border:none;height:44px;color:#FFFFFF;line-height:30px;cursor:pointer;font-size:14px;float:left;text-align:center;text-decoration:none;}
.shouqu a:hover{background-position:0 bottom}

.bz3{border:none;padding-bottom:50px;}
.ti{font-size:14px;color:#399FDD;margin-left:220px;}
.bz3 .z{width:250px;}
.bz3 .tijiao{margin:15px 0 0 250px;}
.gongxi{font-size:14px;color:#67B719;margin:0 0 0 250px;height:30px;}
.yj{background:url(../images/yjj.gif) no-repeat right top;height:5px;position:relative;margin:-1px;width:950px;}

.cg{margin:0 30px;border-bottom:#E6E6E6 solid 1px;height:130px;}
.cg img{margin:0 0 0 250px;}
.cg p{margin:10px 0 0 323px;font-size:14px;color:#979797;}
.cg p b{color:#FF0000;margin-right:5px;}
.cz h2{font-size:14px;font-weight:100;margin:15px 0 0 250px;float:left;height:30px;display:inline}
.cz{height:90px;}
.cz ul{clear:left;margin-left:250px;}
.cz ul li{font-size:14px;float:left;margin-right:80px;display:inline;}
.cz ul li a{color:#5096D2;}
.cz ul li a:hover{color:#FF6600;text-decoration:none;}

.bottom_1{background:url(../images/top_yj.gif) no-repeat right top;width:950px;height:10px;margin:-1px auto 10px auto}