 
.freepic{width:980px;margin:auto;margin-bottom:10px}
.box{background:#FAFAFA;border:#CCC solid 1px;width:978px;margin:auto;margin-bottom:10px;}
.freepic img{display:block;width:980px; height:110px;}
.lmmc{background:url(../images/fr_yj.gif) no-repeat left top;width:980px;margin:-1px -1px -1px -1px;height:4px;position:relative;height:50px;}
.lmmc h2{margin:20px 0 0 15px;float:left;border-bottom:#E5E5E5 solid 1px;width:940px;background:url(../images/sjj.gif) left center no-repeat; padding-left:14px;font-size:16px; font-weight:bold;height:22px; line-height:27px;padding-bottom:5px;overflow:hidden;}
.lmmc img{height:22px;margin:2px 0 -2px 0;position:relative}

.sj_logo{background:url(../images/fr_yj.gif) no-repeat right bottom;width:980px;position:relative;margin:-1px -1px -1px -1px;}
.sj_logo li{float:left;display:inline;margin:0 0 0 15px;height:102px;}
.sj_logo ul{margin:10px 0 0 7px;padding-bottom:10px;float:left;display:inline}
.sj_logo li a{border:#D9D9D9 solid 1px;float:left;padding:1px;}
.sj_logo li a:hover{border:#FFCC00 solid 2px;float:left;padding:0px;}
.sj_logo li a img{height:88px;width:218px;}

.ranking{background:url(../images/fr_yj.gif) no-repeat right bottom;width:980px;position:relative;margin:-1px -1px -1px -1px;height:420px;}

.raning_mc{margin:15px 0 0 15px;width:663px;float:left;display:inline}
.leftpan{border:#E8E8E8 solid 2px;width:225px;background:#FFF;float:left;display:inline;height:390px}
.leftpan ul b,.leftpan ul span,.raning_sj b,.raning_sj span{display:block;float:left;font-weight:bold;font-size:10px;background:url(../images/ph.gif) no-repeat;height:13px;width:16px;text-align:center;color:#FFF;line-height:12px;margin-top:9px;}
.leftpan ul{margin:10px 0 0 9px}
.leftpan ul b,.raning_sj b{background-position:0 -31px;}
.leftpan ul p,.raning_sj p{float:left;display:inline;margin-left:7px;}
.leftpan ul li{height:33px;line-height:33px;padding-left:5px;cursor:pointer;background:url(../images/d-6.gif) repeat-x bottom;float:left;width:200px;}
.leftpan ul .xz{background:url(../images/xz_1.gif) no-repeat;width:225px;height:36px;position:relative;margin:-1px -28px 0 -3px;border:none;padding-left:8px;color:#F60;display:inline;font-weight:bold;}

.leftpan h2,.raning_sj h2{background:#F6F6F6;border-bottom:#ddd solid 1px;font-size:12px;height:30px;line-height:30px;padding-left:10px;color:#999}
.rightpan h2{background:#FEFAEF;border-bottom:#FFE6B0 solid 1px;font-size:12px;height:30px;line-height:30px;padding-left:10px;color:#FF8100}
.rightpan{background:#FFF;border:#FFD06C solid 2px;float:right;width:420px;height:390px;}
.raning_dp dl{background:url(../images/sz.gif) no-repeat 3px 15px;height:56px;border-bottom:#CCC dashed 1px;margin:0 10px;padding-left:30px;}
.raning_dp .p2{background-position:3px -38px;}
.raning_dp .p3{background-position:3px -90px;}
.raning_dp .p4{background-position:3px -143px;}
.raning_dp .p5{background-position:3px -196px;}
.raning_dp .p6{background-position:3px -249px;}

.raning_dp dt{float:left;margin-top:8px;width:125px;}
.raning_dp dt a{border:#D9D9D9 solid 1px;float:left;}
.raning_dp dt img{height:39px;width:112px;}
.raning_dp dd{float:left;display:inline;width:210px}
.raning_dp dd p a{color:#333;text-decoration:none;}
.raning_dp dd p a:hover{text-decoration:underline;color:#f60}
.raning_dp dd p{margin-top:20px;float:left;}
.raning_dp dd span{float:right;margin-top:22px}
.raning_dp dd span a{display:block;background:url(../images/go_4.gif) no-repeat;height:12px;width:12px;}

.raning_sj{background:#FFF;border:#E8E8E8 solid 2px;float:right;width:270px;height:390px;margin:15px 15px 0 0;display:inline;}
.raning_sj li{height:33px;line-height:33px;padding-left:5px;background:url(../images/d-6.gif) repeat-x bottom;float:left;width:245px;}
.raning_sj ul{margin:10px 0 0 9px}
.raning_sj ul i{float:right;margin-top:11px;}
.raning_sj ul a{color:#3398FF;float:left;margin-left:10px;display:inline}
.raning_sj ul a:hover{text-decoration:none;color:#FF6600}

































