h1,h2{font-family:Î¢ÈíÑÅºÚ;Arial;}
.center{background:url(../images/help_bj.gif) repeat-y left;width:978px;margin:auto;border:#F7CF1F solid 1px;}
.search{background:url(../images/help_sou.gif) repeat-x 0 -62px;height:61px;margin:-1px -1px 0 -1px;width:980px;position:relative;}
.cz{background:url(../images/help_sou.gif) no-repeat left 0;height:39px;float:left;width:300px;text-align:right;padding-top:22px;font-size:14px;color:#D07500;font-weight:bold;}
.gjc{background:url(../images/help_sou.gif) no-repeat right -124px;float:right;width:650px;height:61px;}
.s1,.s1_{border:#E9B74C solid 1px;padding:5px;width:350px;color:#bbb;margin-top:15px;float:left;}
.s2,.s2_{background:url(../images/help_ok.gif) no-repeat 0 top;width:65px;height:27px;border:none;color:#eee;margin:15px 0 0 5px;float:left;cursor:pointer;}
.s1_{color:#333;}
.s2_{background-position:0 bottom;color:#FFF;}
.left_h{margin:0 0 0 13px;width:179px;float:left;display:inline;padding-bottom:25px;}
.left_h h2{float:left;height:44px;margin-top:15px;}
.left_h h2 a{display:block;background:url(../images/sort.gif) no-repeat;width:179px;height:44px;line-height:44px; font-size:16px; font-weight:bold;text-align:center;color:#666;}
.left_h h2 a:hover{background-position:0 -46px;}
.left_h .n2 a{background:url(../images/ask.gif) no-repeat;}
.left_h .n3 a{background:url(../images/thrift.gif) no-repeat;}
.left_h .n4 a{background:url(../images/xuzhi.gif) no-repeat;}
.left_h .n5 a{background:url(../images/lianxi.gif) no-repeat;}
.left_h .n3,.left .n4,.left_h .n5{margin-bottom:-7px;position:relative}

.left_h ul{width:179px;margin-top:10px;float:left;}
.left_h ul a{display:block;height:28px;text-decoration:none;padding-left:20px;color:#3D96D8;background:url(../images/k.gif) no-repeat 10px 11px;}
.left_h ul li{height:26px;width:179px;border-bottom:#EBE9DD solid 1px;float:left;line-height:26px;}
.left_h ul a:hover{color:#f00;text-decoration:none;font-size:14px}
.left_h ul .xt{background:#FFF url(../images/k.gif) no-repeat 9px -19px;border:#EBE9DD solid 1px;border-right:none;height:26px;width:173px;margin:-1px -20px -1px 0;color:#f00;font-size:14px;padding-left:19px;position:relative;}

.right_h{width:740px;float:right;margin-right:15px;display:inline;padding-bottom:20px}
.weizhi{border-bottom:#ccc solid 1px;height:55px;}
.weizhi p{float:left;font-size:12px;margin:28px 0 0 0;display:inline;color:#bbb;}
.weizhi p a{color:#3D96D8;text-decoration:none;}
.weizhi p a:hover{color:#F00;text-decoration:underline;}
.weizhi p span{margin:0 5px;}
.weizhi p b{color:#333;font-weight:100;}
.weizhi div{float:right;margin:28px 5px 0 0;display:inline;padding-left:22px;background:url(../images/yanshi.gif) no-repeat left;height:19px;line-height:19px;}
.weizhi div a{color:#609CDB;font-size:14px;}
.weizhi div a:hover{color:#F00;text-decoration:none;}
.tu{height:210px;width:710px;margin-top:10px;}
.index h1{font-size:14px;margin-top:5px;height:15px;}
.index h1 a{float: right; font-size: 12px;font-weight:100;margin-right:10px;color:#aaa;text-decoration:none;}
.index h1 a:hover{text-decoration:underline;color:#f00;}

.wenti{border-bottom:#ccc dashed 1px;float:left;height:185px;width:354px;margin-top:25px;}
.wu{border:none;}
.wenti h2{font-weight:100;font-size:12px;padding-left:10px;background:url(../images/sanjiao.jpg) no-repeat left 2px;height:20px;}
.wenti h2 a{color:#7ab33c;text-decoration:none;padding:1px;}
.wenti h2 a:hover{background:#F60;color:#FFF;}
.wenti ul{padding-left:8px;}
.wenti ul b{color:#F90;margin-right:5px;}
.wenti ul li{line-height:22px;}
.wenti ul li a{color:#333;text-decoration:none;}
.wenti ul li a:hover{color:#FF6600;text-decoration:underline;}
.yj{background:url(../images/help_yj.gif) no-repeat;height:4px;overflow:hidden;width:980px;margin:-1px;position:relative;}


.content{line-height:24px;padding:0px 15px 20px 15px;font-size:14px;color:#666;}
.bt{height:35px;margin-top:25px;}
.bt h1{color:#333;font-family:"simhei";font-size:20px;font-weight:normal;text-align:center;color:#333}
.fy a{font-size:14px;color:#3D96D8;cursor:pointer;}
.fy a:hover{color:#F90;text-decoration:none;}
.fy{text-align:right;height:40px;color:#3D96D8;padding:0 10px;line-height:24px;}
.fy span{margin:0 10px;}
.fy dd{float:right;}
.fy dt{float:right;margin-right:15px;display:inline;}
 .fy dt a{display:block;height:24px;width:86px;background:url(../images/db.gif) no-repeat;}

.relational{background:#FFF4EE;border:#FBE8CE solid 1px;margin:0 0 0 10px;float:left;width:690px;display:inline;padding-bottom:10px;}
.relational h2{font-size:12px;margin:10px;}
.relational ul{float:left;margin-left:10px;}
.relational li{float:left;width:170px;font-size:14px;line-height:24px}
.relational li a{color:#F90;}
.relational li a:hover{text-decoration:none;color:#F00;}
.two li{width:680px;}


.fenlei_h li{float:left;min-height:24px;width:330px;font-size:14px;}
.fenlei_h ul{margin:10px 0 0 28px;float:left;display:inline;}
.fenlei_h h2{background:#F3F3F3 url(../images/y.gif) no-repeat 8px 6px;height:25px;line-height:27px;margin-top:15px;font-size:14px;font-weight:100;color:#7AB33C;padding-left:28px;overflow:hidden;float:left;width:680px;}
.fenlei_h li a{color:#666;text-decoration:none;}
.fenlei_h li a:hover{color:#FF9900;text-decoration:underline;}

.ask h2{font-size:14px;font-weight:100;background:#f3f3f3;line-height:25px;height:25px;margin-top:15px;color:#7AB33C;padding-left:10px;}
.ask ul{margin:10px 0 0 20px;}
.ask li{font-size:14px;line-height:24px;}
.ask li b{margin-right:5px;color:#FF9900;}
.ask li a{color:#333;text-decoration:none;}
.ask li a:hover{color:#F60;text-decoration:underline;}

.tj{background:#F7FEE0;border:#D9EEB5 dashed 1px;line-height:28px;height:28px;margin-top:15px;padding-left:10px;font-size:14px;}
.tj b{color:#FF0000;margin:0 3px;}
.tj span{margin:0 5px;}
.jieguo ul{margin:5px 10px 0 10px;}
.jieguo li h1{font-size:14px;font-weight:100;height:25px;line-height:25px;}
.jieguo li h1 a{color:#3399FF;padding:1px;}
.jieguo li h1 a:hover{color:#FFF;background:#FF9900;text-decoration:none;}
.jieguo li p{line-height:24px;font-size:14px;color:#666}
.jieguo li{border-bottom:#CCC dashed 1px;padding:15px 0 10px 0;}

.page-top, .page-bottom {float:right;}
.page-bottom {float:right;height:25px;margin:15px 10px 0 0;display:inline;}
.page-bottom a, .page-bottom .page-cur, .page-bottom .page-start, .page-bottom .page-end {
border:1px solid #AAAAAA;color:#666666;display:inline;float:left;height:20px;line-height:20px;margin-left:2px;padding:0 5px;text-decoration:none;}
.page-bottom .page-start, .page-bottom .page-end {border:1px solid #DDDDDD;color:#CCC;font-family:"simsun";}
.page-bottom a:hover {background:#FFEDE1;border:1px solid #FF9900;}
.page-bottom .page-cur {background:#FFEDE1;border:1px solid #FF6600;color:#FF0000;}
.page-bottom .page-break {float:left;margin:0 3px 0 5px;}
.page-bottom .page-skip {color:#999999;display:inline;float:left;height:22px;line-height:22px;margin-left:5px;}
.ts{border:1px solid #CCCCCC;}
#jumpto,#ajaxjumpto {border:1px solid #aaa;width:20px;margin:0 3px;}
.page_button {background:transparent url(../images/go_2.gif) no-repeat scroll 0 0;border:medium none;cursor:pointer;height:22px;margin:0 0 0 5px;width:22px;}

.left_h .n6 a{background:url(../images/gongju.gif) no-repeat;}
.left_h .n6{margin-bottom:-7px;position:relative}
.gongju dl{float:left;width:345px;height:140px;}
.gongju dl dt{float:left;width:100px;}
.gongju dl dd{float:left;width:210px;}
.gongju h2{margin-top:10px;height:27px;font-size:14px;font-weight:100;}
.gongju h2 a{color:#3399FF;padding:1px;text-decoration:none;}
.gongju h2 a:hover{color:#FFf;background:#FF9900;}
.gongju{float:right;width:700px;margin-right:20px;display:inline;padding-top:20px;}
.gongju p{color:#666;line-height:20px;}


.foot_h{height:60px;margin:auto;width:980px;text-align:center;padding-top:22px;color:#999}.foot_h a{color:#999}.foot_h a:hover{color:#F60}.foot_h p{margin-bottom:8px;}