@charset "utf-8";
/* CSS Document */

/*Css Reset*/
html{
	color:#000;
	background:#FFF;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
li {
	list-style:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
	font-family:微软雅黑,Arial;
}
input,textarea,select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%;
}
a{ text-decoration:none; color:#333;cursor:pointer;}
a:hover{color:#f50;}
/*My style*/

/*Global*/
body{color:#333; font-family:Arial,宋体; font-size:12px;}
.clear{clear:both;}
.left{float:left;}
.right{float:right;}
.noUnderLine{text-decoration:none;}

/*Color*/
.w980 .white{color:#fff;}
.w980 .white a{color:#fff;}

/*Layout*/
.w_50{width:50%; float:left;}
.w980{width:980px; margin:0 auto;}
.w250{ width:250px;}
.h108{ height:108px;}
.pt10{ padding-top:10px;}
.mt10{ margin-top:10px;}
.mb10{ margin-bottom:10px;}
.mt0{margin-top:0px;}
.top5{margin-top:5px;}
/*style*/
.title_blue{border-bottom:3px solid #01cbfb; height:40px; line-height:40px;}
.title_block{background:#fffbf2; height:37px; line-height:37px; border-bottom:1px solid #ccc;}
.title_block a{ color:#000;}
.title_blue a{color:#0099cc;}
.title_block h2,.title_blue h2{ font-size:14px; font-weight:bold; padding-left:18px;font-family:微软雅黑,Arial;}
.more{ float:right; margin-right:12px;}

/*topPan*/
.topPan{background:url(../images2/bg.gif) 0px 0px repeat-x; height:32px; line-height:30px; color:#999;}
.sms{_margin-top:10px;} 
.topPan ul,.topPan li{float:left; padding:0px; margin:0px;}
.topPan li{margin-right:5px;}
.topPan a{text-decoration:none; color:#3465CC;}
.topPan a:hover{color:#f50;}
.topPan .userProfile{float:right;}
.topPan .top_tools{position:relative; float:left;}
.topPan .tools{z-index:999; position:absolute; top:30px; left:-10px; float:left; background:#f8f8f8; border:1px #ddd solid; border-top:none;}
.topPan .tools ul,.topPan .tools li{padding:0px; margin:0px; float:left;}
.topPan .tools ul{width:120px;}
.topPan .tools li{width:110px; line-height:22px; border-bottom:1px #ddd solid; margin:0px 5px; list-style:circle; list-style-position:inside;}
.topPan .tools li a{color:#666;}
.topPan .tools li a:hover{color:#f50;}



.oneKey{background:url(../images2/bg.gif) 0px -73px repeat-x; height:41px; width:650px; margin-top:29px; overflow:hidden;}
.oneKey .urlName{background:url(../images2/bg.gif) 0px -32px no-repeat; height:41px; width:120px; line-height:41px; padding-left:18px;}
.oneKey .url{height:41px; line-height:29px; width:370px;}
.oneKey .url input{height:22px; line-height:22px; border:none;  border-bottom:1px #999 solid; width:330px; margin-top:10px;}
.oneKey .btn{background:url(../images2/btn_bg.png) no-repeat; height:41px; line-height:39px; width:142px; text-align:center; font-size:14px;}
.tip{background:url(../images2/oneKeytip.gif) no-repeat scroll 0 0;color:#999999;display:inline; height:19px;margin:0 0 0 180px;padding-left:7px;padding-top:9px;width:282px; z-index:20px;}
.green {background:url(../images2/oneKeytip.gif) no-repeat scroll 0 -31px;color:#FFFFFF;}
.red {background-position:0 -61px;color:#FF3300;}

/*nav*/
.nav_menu {
	width: 980px;
	margin:0 auto;
	height: 44px;
	background-image: url(../images2/3.gif);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	overflow: hidden;
	padding-bottom: 10px;
}
.nav_menu_fix {
	float: left;
	height: 44px;
	padding-left: 15px;
}
.nav_menu a  i{
	display: block;
	float: left;
	height: 44px;
	background-image: url(../images2/5.gif);
	background-repeat: no-repeat;
	background-position: right 5px;
	font-style: normal;
	padding-right: 20px;
	padding-left: 20px;
}
.nav_menu span  {
	font-size: 0px;
	display: block;
	float: left;
	height: 44px;
}
.nav_menu a  tt{
	display: block;
	float: left;
	font-size: 14px;
	height: 44px;
	line-height: 50px;
	overflow: hidden;
	background-image: url(../images2/6.gif);
	background-repeat: no-repeat;
	background-position: center 100px;
}
.nav_menu a {
	display: inline;
	float: left;
	height: 44px;
	background-image: url(../images2/4.gif);
	background-repeat: repeat-x;
	background-position: left 100px;
	color: #000;
	margin-right: 10px;
}
.nav_menu a b {
	font-weight: lighter;
	display: block;
	float: left;
	height: 44px;
	background-image: url(../images2/4.gif);
	background-repeat: no-repeat;
	background-position: left 100px;
}
.nav_menu a em {
	font-style: normal;
	display: block;
	float: left;
	height: 44px;
	background-image: url(../images2/4.gif);
	background-repeat: no-repeat;
	background-position: right 100px;
}
.nav_menu a:hover {
	background-position: left -44px;
	color: #FFF;
}
.nav_menu a:hover b {
	background-position: left top;
}
.nav_menu a:hover em {
	background-position: right bottom;
}
.nav_menu a:hover  i {
	background-position: right 100px;
	font-style: normal;
}


.nav_menu a:hover tt{
	display: block;
	float: left;
	font-size: 14px;
	height: 44px;
	line-height: 50px;
	overflow: hidden;
	background-image: url(../images2/6.gif);
	background-repeat: no-repeat;
	background-position: center 20px;
}


.nav_menu .current{





}
.nav_menu .current a {
	background-position: left -44px;
	color: #FFF;
}
.nav_menu .current a b {
	background-position: left top;
}
.nav_menu .current a em {
	background-position: right bottom;
}
.nav_menu .current a  i {
	background-position: right 100px;
	font-style: normal;
}


.nav_menu .current a tt{
	display: block;
	float: left;
	font-size: 14px;
	height: 44px;
	line-height: 50px;
	overflow: hidden;
	background-image: url(../images2/6.gif);
	background-repeat: no-repeat;
	background-position: center 20px;
}


/*notice*/
.notice{ border:1px solid #ccc; height:275px;}
.notice ul{width:250px; height:210px; line-height:30px; overflow:hidden; margin-top:15px;}
.notice ul li{ background:url(../images2/li.gif) 20px center no-repeat; padding-left:30px;}
/*slide*/
.slide{width:720px; height:273px; padding:1px; border:1px #ececec solid;}
#SlidePlayer{position:relative;margin:0 auto;overflow:hidden;width:720px;height:273px;}
.slide.Slides{padding: 0;margin: 0;list-style: none;width:720px;}
.slide .Slides li{float:left;width:720px;height:273px;}
.slide .Slides img{width:720px; height:273px;}
.SlideTriggers{margin:0;padding:0;list-style:none;position:absolute;top:225px;right:10px;z-index:10;height:30px;background:url(../images2/SlideTriggers.png) repeat-x; height:30px;}
.SlideTriggers li{float:left;color: #333;text-align:center;line-height:30px;width:31px;height: 30px;font-family:Arial;font-size:1.2em;cursor: pointer;overflow:hidden;}
.SlideTriggers .Current{color:#f30;font-weight:bold;font-size:1.4em;line-height:19px;color:#f50;height:19px;width:21px;margin:0 6px;}

/*box*/

/*box_left*/
.box_left{ width:720px; margin-right:10px;}
/*box_1*/
.box_1{width:400px; height:272px; margin-right:11px; border:1px solid #ccc; overflow:hidden;}
#Slider{padding-top:5px; margin-top:0px;}
.box_1 .content ul{margin-top:9px; float:left;width:370px;overflow:hidden;height:210px;margin-left:15px;_margin-left:8px;}
.box_1 .content ul li{float:left;width:362px;}
.box_1 .content .detailed{border-bottom:#CCC solid 1px;height:95px;margin:0px;width:370px;display:none;}
.box_1 .content .pic,.box_1 .content .pd_pic{width:90px;overflow:hidden;float:left;}
.box_1 .content .pic a,.box_1 .content .pd_pic a{height:80px;width:80px;display:table-cell;overflow:hidden;vertical-align:middle;text-align:center;border:1px solid #ddd;font-family:Arial;*display:block;*font-size:71px;}
.box_1 .content .pic a img,.box_1 .content .pd_pic a img{vertical-align:middle; padding:1px;}
.box_1 .content .info{width:270px;float:right;overflow:hidden;}
.box_1 .content .info h2{font-size:14px;font-weight:100;line-height:20px;height:44px;}
.box_1 .content .info h2 a{color:#3399cc;}
.box_1 .content .info h2 a:hover{color:#f50;text-decoration:none;}
.box_1 .content .info b{color:#f30;font-size:14px;float:left;}
.box_1 .content .info span{float:right;color:#3399ee;}
.box_1 .content .info dd{color:#999;height:17px;overflow:hidden;}
.box_1 .content .info i{color:#f60;font-style:normal;padding-right:5px;}
.box_1 .content .info .i_bj{background:url(../images2/daigou_bg.png) no-repeat 0 -450px;height:22px;width:265px;line-height:22px;padding-left:5px;}
.box_1 .content .concise{margin:0px;border-bottom:#ccc dashed 1px;height:26px;line-height:26px;padding-left:10px;background:url(../images2/tb.gif) no-repeat left;overflow:hidden;width:360px;}
.box_1 .content .concise a{color:#666;text-decoration:none;}
.box_1 .content .concise p{float:left;}
.box_1 .content .concise a:hover{color:#f30;text-decoration:underline;}
.box_1 .content .concise span{float:right;color:#B6D3EB;}
/*bbs*/
.bbs{width:305px; height:272px;border:1px solid #ccc;overflow:hidden;}
.why_Use ul{padding-top:2px;margin:0 15px;}
.why_Use ul li{border-bottom:#ccc dashed 1px;height:50px;padding-top:4px;}
.why_Use li span{background:url(../images2/new_tb.gif) no-repeat -100px 0;float:left;height:32px;width:32px;text-indent:-10000px;margin-top:7px;}
.why_Use li .why_2{background-position:-100px -53px;}
.why_Use li .why_3{background-position:-100px -108px;}
.why_Use li .why_4{background-position:-100px -162px;}
.why_box{width:230px;float:right;}
.why_box h3{font-size:14px;font-weight:100;color:#71a8cf;height:25px;line-height:25px;padding-top:3px;}
.why_box p{line-height:16px;}
/*recommend*/
.recommendpro{width:718px;height:440px; border:1px solid #ccc;overflow:hidden;}
.recommendpro .proList{padding:0px 20px 0 0; text-align:center;}
.recommendpro .proList a{color:#333; text-decoration:none; line-height:28px; font-size:12px;}
.recommendpro .tt{position:relative; margin-left:30px; margin-top:-12px; z-index:20px; color:#f50; font-weight:bold;}
.recommendpro .tt a{color:#f50; text-decoration:none;}
.recommendpro .tt a:hover{color:#f50; text-decoration:underline;}
.recommendpro .content{width:698px; padding:10px 0px 10px 20px; overflow:hidden; float:left;}

.goodsitem{float:left; margin:10px 10px 10px 5px;}
.goodspic img{width:115px; height:117px; padding:1px 2px; border:1px #ccc solid;}
.goodsitem p{width:120px;}
.buynum{position:relative; margin-top:-20px; background:url(../images2/buynum.png) repeat-x; text-align:center; color:#fff; height:18px; line-height:18px;}
.goodsname{height:36px; overflow:hidden; line-height:18px;}
.goodsname a{color:#333; text-decoration:none;}
.goodsname a:hover{color:#f30; text-decoration:none;}
.goodsprice{text-align:center; color:#f50;}
/*box_right*/
.box_right{ width:250px;}
.box_3{ width:248px;border:1px solid #ccc;overflow:hidden;}

/*talkover*/
.talkover{ height:337px; }
.bbs_info{height：270px; margin:0 15px;width:220px;overflow:hidden;}
.bbs_info li{line-height:20px;background:url(../images2/talkover.gif) no-repeat left top;margin:8px 0; }
.gst_img{height:25px;padding-left:28px;}
.gst_img span{}
.gst_con{background:url(../images2/talkover_msg.gif) left top no-repeat;padding-top:9px;}
.gst_con a{border:1px solid #e7e7e7; border-top:0;background:#f9f9f9;display:block; width:192px; line-height:22px;height:44px; padding:5px 8px;overflow:hidden;}

/*question*/
.question{ height:183px;}
.question ul{width:240px; height:125px; line-height:25px; overflow:hidden; margin-top:15px;}
.question ul li{ background:url(../images2/li2.gif) 13px 10px no-repeat; padding-left:25px;}
/*contact*/
.contact{width:248px; height:180px;border:1px solid #d6e1e7;overflow:hidden; background:#eef6f9;}
.contact .content{ border:1px solid #fff;}
.contact .content span{ display:block; width:204px; height:44px; line-height:44px; overflow:hidden;border-bottom:1px solid #d6e1e7; padding-left:40px;}
.contact_email,.contact_msn,.contact_qq{border-top:1px solid #fff;}
.contact_tel{ background:url(../images2/contact_tel.gif) 10px 13px no-repeat;}
.contact_email{ background:url(../images2/contact_email.gif) 10px 13px no-repeat;}
.contact_msn{ background:url(../images2/contact_msn.gif) 10px 13px no-repeat;}
.contact_qq{ background:url(../images2/contact_qq.gif) 10px 13px no-repeat;}
/*footer_help*/
.footer_help{ height:148px; overflow:hidden;background:url(../images2/help.gif) no-repeat;}
.footer_help .faq {float:left; padding:25px 0 0 25px; width:220px; overflow:hidden;}
.footer_help .faq ul li {line-height:22px;}
.footer_help .faq a:hover {color:#3366cc; text-decoration:underline;}
.footer_help .faq h3 {color:#333; font-size:13px; margin-bottom:5px; font-weight:bold;font-family:微软雅黑,Arial;}
/*footer_link*/
.footer_link{ height:68px; overflow:hidden;background:url(../images2/link.gif) no-repeat;}
.footer_link a{margin:15px 15px 15px 20px;display:block;float:left;height:36px;}
.footer_link #paypal{width:55px;text-indent:-9999px;background:url(../images2/footer_img.png) no-repeat 0 -99px;}
.footer_link #visa{width:55px;text-indent:-9999px;background:url(../images2/footer_img.png) no-repeat 0 0;}
.footer_link #maestrocard{width:55px;text-indent:-9999px;background:url(../images2/footer_img.png) no-repeat 0 -49px;}
.footer_link #dhl{width:117px;text-indent:-9999px;background:url(../images2/footer_img.png) no-repeat 0 -197px;}
.footer_link #western{width:117px;text-indent:-9999px;background:url(../images2/footer_img.png) no-repeat 0 -148px;}
.footer_link #ems{width:117px;text-indent:-9999px;background:url(../images2/footer_img.png) no-repeat 0 -247px;}
.footer_link #tnt{width:117px;text-indent:-9999px;background:url(../images2/footer_img.png) no-repeat 0 -296px;}
.footer_link #verisign{width:117px;text-indent:-9999px;background:url(../images2/footer_img.png) no-repeat 0 -345px;}
.footer_link #alipay{width:117px;text-indent:-9999px;background:url(../images2/footer_img.png) no-repeat 0 -394px;}

/*copyright*/
.copyright{border:1px #ccc solid; border-width:1px 0px 0px 0px; padding:8px 0px; text-align:center; margin-bottom:15px; color:#666;}
.copyright a:hover{color:#f30;}

.tit_dian_h2,.tit_new_h2,.tit_jiantou_h2,.tit_jiantou2_h2
{
	font-size:14px; color:#333; padding-left:15px;font-weight:bold;line-height:35px;font-family:微软雅黑,Arial;float:left;
}
.tit_dian_h2{background:url(../images/see_tj.gif) right center no-repeat;padding-right:77px;}
.tit_new_h2{background:url(../images/zhanshi.gif) right center no-repeat;padding-right:50px;}
.h45{height:45px; line-height:45px;font-size:16px; }
.tit_jiantou_h2{background:url(../images/fenlei.gif) right center no-repeat;padding-right:22px;}
.tit_jiantou2_h2{background:url(../images/bang.gif) right center no-repeat;padding-right:43px;}
.wap_h2{width:100%;background:#fff;border-bottom:1px solid #ddd;float:left;}
.wap2_h2{width:100%;background:#fff;float:left;}