.fill{float:right;width:720px;margin-right:22px;display:inline;padding:20px 10px;}
.circuit{background:url(../images/circuit3.gif) no-repeat bottom;height:100px;width:720px;margin:10px 0 15px 0;}
.circuit img{margin:9px 0 0 343px;}

.search{background:#FAFAFA;border:#E3E6E5 solid 1px;margin-bottom:15px;}
.sou{margin:1px;background:#F3F3F3;padding-top:8px;height:42px;}
.search table{border-collapse:collapse;padding:0;}
.search table td{padding:3px 0;}
.c{width:288px;}
.z{width:70px;text-align:right;font-size:14px;}
.c .s{padding:5px 3px;border:#E3E6E7 solid 1px;width:200px;margin:0;font-size:12px;height:16px;float:left;}
.c select{margin:0;width:150px;}
.ok{height:28px;margin:0;background:url(../images/sou.gif) no-repeat;width:54px;border:none;cursor:pointer;float:left;margin-left:8px;display:inline;}

.xk li{float:left;width:118px;text-align:center;line-height:32px;background:url(../images/order.gif) no-repeat -121px 0;height:29px;margin:3px 5px -2px 0;display:inline;font-size:14px;color:#666;cursor:pointer;overflow:hidden;position:relative;}
.xk{height:30px;border-bottom:#94CE69 solid 2px;position:relative;margin-bottom:15px;}
.xk .t{background-position:0 0;color:#FFFFFF;font-weight:bold;}

.qh table{width:100%;border-collapse:collapse;font-family:Tahoma,Helvetica,Arial,'宋体',sans-serif;}
.bt{text-align:left;height:30px;background:#eee;font-weight:900;color:#333;font-size:12px;padding-left:8px;border:#eee solid 1px;line-height:30px;margin-bottom:10px;}
.bt span{color:#FF0000;font-weight:100;}
.bt li{float:left;}
.w1 img{cursor:pointer;}
.bt .w1{width:80px;text-align:left;padding-left:33px;}
.bt .w2{width:235px;}
.bt .w3{width:75px;}
.bt .w4{width:50px;}
.bt .w5{width:70px;}
.bt .w6{width:70px;}

.bh{margin-bottom:10px;}
.bh table td{padding:10px 0 10px 0;border:#eee solid 1px;}
.bh table .w1{width:30px;text-align:center;}
.bh table .w2{padding-left:8px;width:72px;}
.bh table td.w3{line-height:18px;padding:8px 8px;}
.bh table td.w3 a{color:#71A8CF;}
.bh table td.w3 a:hover{color:#FF0000;text-decoration:none;}
.bh table td.w3 img{margin:-3px 2px -3px 0;}
.bh table .w4{padding-left:8px;width:65px;color:#f00;}
.bh table .w5{padding-left:8px;width:40px;}
.bh table .w6{padding-left:8px;width:62px;}
.bh table .w7{padding-left:8px;width:60px;background:#fbfbfb;}
.bh table .w8{width:108px;}
.w8 a{background:url(../images/tubiao_1.gif) no-repeat 0 -2px;padding-left:18px;float:left;margin-left:8px;display:inline;color:#71A8CF;text-decoration:none;}
.w8 a:hover{color:#FF9900;text-decoration:underline;}
.w8 .dx{background-position:0 -22px;}
.w8 .dx_{background-position:0 -42px;}
.w8 .dx_,.w8 .dx_:hover{color:#bbb;text-decoration:none;cursor:default;}
.bh table .d{background:#f8f8f8;}
.bh table .d .w7{background:#f3f3f3;}

.bh table .red,.bh table .red .w7{background:#FFFFCC;}

.dd{background:#eee;border:#eee solid 1px;text-align:right;padding-right:10px;color:#009933;line-height:28px;height:28px;}
.dd span{margin-right:20px;}


.di{padding-top:10px;}
.di p{float:left;font-size:14px;color:#999;padding-left:8px;}
.di p span{margin:0 5px;}
.di p a{color:#333;}
.di p a:hover{color:#FF0000;text-decoration:none;}
.di input{background:url(../images/anniu_3.gif) no-repeat;height:50px;width:193px;border:none;font-size:14px;color:#FFF;line-height:30px;padding-bottom:15px;cursor:pointer;float:right;}
.di .by{background-position:0 -52px;margin:0;}
.di b button{background:#4F88BB;color:#FFF;border:#396995 solid 1px;margin-left:20px;height:20px;cursor:pointer;}
.di b{float:left;font-weight:100;}
.di b span{color:#999;margin-left:5px;}
.tishi{height:20px;color:#F90;}
.kong{font-size:14px;padding:20px 0 20px 0;text-align:center;padding-right:20px;}
.kong p{height:40px;font-size:14px;padding-left:15px;}
.kong a{color:#3399FF;font-size:14px;display:inline;}
.kong a:hover{color:#FF0000;text-decoration:none;}
.kong i{margin:0 10px;color:#bbb;font-style:normal;}
.box table .w1{display:none;}
.box .bt .w1{padding-left:3px;}
.box .bt .w2{width:265px;}
.qixian{background:#FFFFcc url(../images/tanhao.gif) no-repeat 10px 7px;border:#CCC solid 1px;font-size:12px;padding:0 0 0 28px;margin-bottom:10px;height:15px;height:28px;}
.qixian p{float:left;line-height:28px;}
.qixian a{color:#3399FF;}
.qixian button{background:url(../images/clo.gif) no-repeat center;float:right;height:12px;width:12px;border:none;display:inline;margin:3px 5px 0 0;cursor:pointer;}
.bh table .red_,.bh table .red_ .w7{background:#FFF0F0;}

.beizhu{display:inline;float:left;width:0;height:160px;background:#EEF5FD;border:#599ED5 solid 1px;position:relative;margin:-41px -500px -500px -2px;}
.if input{float:left;}
.if label{line-height:22px;}
.if{height:30px;padding:10px 0 0 10px;}

.beizhu textarea{border:#BADBEA solid 1px;height:65px;width:249px;margin:0 0 0 12px;padding:3px;font-size:12px}
.beizhu .hui{background:#f0f0f0;border:#ccc solid 1px;color:#bbb}
.beizhu dl{margin:10px 0 0 0;display:inline;float:left}
.beizhu dl dt{float:left;padding-left:12px;display:inline;}
.beizhu dl dd{float:left;padding-left:12px;display:inline;}
.beizhu dl dt input{background:#FF8729;color:#fff;border:#E25D1B solid 1px;height:22px;width:50px;cursor:pointer;}
.beizhu dl dd input{background:#666;color:#fff;border:#555 solid 1px;height:22px;width:50px;cursor:pointer;}
.beizhu img{float:right;position:relative;margin:43px -7px 0 0;}
.b8 .orange{color:#FF9900;}

.overlay{
	moz-opacity:0.56; /* Moz + FF 透明度20%*/ 
	opacity: 0.56; /* 支持CSS3的浏览器（FF 1.5也支持）透明度20%*/
	filter:alpha(opacity=56); /* IE 透明度20% */ 
	position:fixed;bottom:0;top:0;left:0;right:0;background:#000;height:100%;width:100%;_position:absolute;
}
.sc_dialog{background:#ffa500 url(../images/yj_.gif) no-repeat bottom;width:555px;height:454px;position:fixed;z-index:300;_position:absolute;left:50%; margin-left:-277px;top:50%;margin-top:-227px;_margin-top:0;_top:0;z-index:601;}
.sc_windowname{background:url(../images/yj_.gif) no-repeat left top;margin-top:-2px;position:relative;height:32px;overflow:hidden}
.sc_windowname h2{color:#FFF;font-size:14px;font-weight:100;float:left;line-height:32px;margin-left:10px;display:inline}
.sc_windowname a{float:right;background:url(../images/close_1.gif) no-repeat 0 -14px;height:14px;width:21px;display:inline;margin:10px 10px 0 0;}
.sc_windowname a:hover{background-position:0 0;}
.sc_inlay{height:411px;background:#FFF url(../images/yj_.gif) no-repeat right top;margin:0 10px;float:left;width:535px;display:inline;overflow:hidden}
.sc_inlay h2{font-size:14px;font-weight:100;margin:20px 0 0 25px;height:25px;}
.sc_inlay h2 span{color:#FF9900;}
.sc_inlay ul{margin:0 0 0 18px;height:270px;overflow:auto;padding:5px 0 0 0;width:510px;}
.sc_inlay ul li{float:left;background:#f9f9f9;height:24px;line-height:24px;width:220px;border:#f2f2f2 solid 1px;display:inline;margin:0 0 8px 10px;padding-left:10px;color:#666;}
.sc_inlay ul li span{color:#aaa;font-family:Arial;margin-left:2px;}
.sc_inlay ul li b{float:left;font-weight:100;}
.sc_inlay ul p{float:right;}
.sc_inlay ul p a{float:left;color:#579AD0;margin-right:5px;}
.sc_inlay ul p a:hover{color:#FF9900;text-decoration:none;}
.sc_inlay ul input{margin-top:2px;padding:2px 2px;border:#AAC5E1 solid 1px;width:120px;font-size:12px;float:left;}

.liebiao_top{font-size:12px; color:#333333; font-weight:bold;}
.liebiao_lv{ text-align:right; color:#0A8B31; padding-right:5px;}
.liebiao_bg{ background:#F7F7F7;  border-bottom:1px solid #D6D6D6;border-top:1px solid #D6D6D6;}
.hg{ line-height:18px;}
a.lan{ font-size:12px; color:#71A8CF; text-decoration:none;}
a.lan:hover{ font-size:12px; color:#71A8CF;text-decoration: underline;}
.liebiao_xia_font1{ font-size:14px; color:#C6C6C6; float:left;}
.in,.in_{background:url(../images/anniu_2.gif) no-repeat 0 0;border:none;width:139px;color:#FFF;font-size:14px;cursor:pointer;height:50px;margin-left:30px;padding-bottom:15px;float:right;display:inline; margin-right:10px;}
.in_{background-position:0 -52px; float:right; display:inline; margin-right:10px;}
.liebiao_xia_font2 a{ font-size:14px; color: #999; float:left; padding:0px 5px;}
.hg_50{ line-height:50px; height:50px; padding-top:10px;}

.orderremark{font-size:12px;color:#CC3300;position:relative;background:url(../images/yunfei.gif) no-repeat;height:40px;width:290px;margin:-50px -200px -500px -127px;float:left;}
.orderremark p{padding-left:10px;float:left;margin:0px 0 0 0;line-height:30px;}
.orderremark button{background:url(../images/clo.gif) no-repeat center;height:15px;width:15px;border:none;cursor:pointer;float:right;display:inline;margin:5px 5px 0 0;}
