.fill{width:720px;float:right;margin:20px 23px 0 0;display:inline;padding-bottom:20px;}
.yijian{background:url(../images/gwd.gif) no-repeat 10px center;height:53px;padding-left:120px;margin-bottom:10px;}
.shoucang{height:35px;}
.wangzhi,.wangzhi_{float:left;border:#88B0C4 solid 1px;font-size:14px;padding:5px 3px;width:435px;margin-right:10px;display:inline;}
.fix,.fix_{float:left;background:url(../images/fix.gif) no-repeat 0 -31px;border:0;height:28px;width:83px;color:#eee;font-size:14px;cursor:pointer;}
.fix_{background-position:0 0;color:#FFF;}
.wangzhi_{background:#FFFFDD;}
.yijian p{padding-left:5px;color:#999;line-height:20px;}
.yijian .red{padding-left:25px;background:url(../images/wrong.gif) no-repeat left;color:#FF0000;}

.biaoqian{border:#eee solid 1px;background:#fdfdf6;padding:10px 0 5px 0;float:left;width:718px;margin-bottom:10px;}
.bq{height:20px;border-bottom:#e2e2e2 solid 1px;margin:0 10px 7px 10px;line-height:18px;padding:0 5px;}
.bq h2{float:left;font-size:14px;color:#2B71A4}
.bq a{float:right;color:#71a8cf;}
.bq a:hover{color:#FF0000;text-decoration:none;}
.name{padding:0 10px;}
.name li{float:left;font-family:"simsun";margin:0 8px 0 5px;display:inline;line-height:20px;white-space:nowrap;}
.name li a{color:#333;text-decoration:none;}
.name li a:hover{color:#F00;text-decoration:underline;}
.name li span{color:#aaa;}
.name .xuan a,.name .xuan span{color:#F90;font-weight:bold;}

.biao{clear:both;}
.biao table{width:100%;border-collapse:collapse;font-family:Arial}
.biao table th{background:#eaeaea;height:28px;border:#ddd solid 1px;text-align:left;padding-left:10px;}
.biao table td{border:#ddd solid 1px;padding:10px 0 5px 10px;border-left:0;border-right:0;}
.biao table .w1{width:30px;text-align:center;padding:0;border-left:#ddd solid 1px;border-right:#ddd solid 1px;}
.w2{width:350px;}
.sm{float:left;width:270px;margin-left:10px;display:inline;}
.sm h2{font-size:12px;width:270px;height:20px;line-height:22px;overflow:hidden;font-weight:100;}
.sm h2 a{color:#71a8cf;}
.sm h2 a:hover{color:#FF0000;text-decoration:none;}
.pic{float:left;}
.pic a{border:#ccc solid 1px;float:left;width:60px;height:60px;}
.pic img{width:60px;height:60px;}
td.w3{color:#F00;width:75px;}
.biao table .w5{width:95px;border-right:#ddd solid 1px;}
.w5 a{float:left;padding-left:20px;color:#71a8cf;line-height:20px;}
.w5 a:hover{color:#FF0000;text-decoration:none;}
.w5 .jiaru{background:url(../images/sc_an.gif) no-repeat left 3px;margin-bottom:5px;}
.w5 .shanchu{background:url(../images/sc_an.gif) no-repeat left -28px;}
.w6 {}
.w2 dl{color:#aaa;margin-top:5px;}
.w2 dl a{color:#aaa;}
.w2 dl dd a:hover{color:#333;text-decoration:none;}
.w2 dl dt{height:22px;}
.w2 dl dt span{margin:0 5px;}
.w2 dl dt a:hover{color:#FF0000;text-decoration:none;}
.w2 dl dd{line-height:16px;}
.w2 dl dd b{float:left;font-weight:100;}
.w2 dl dd li{float:left;font-weight:100;white-space:nowrap;padding-right:12px;}
.w2 dl dd ul{float:left;width:234px;}
.w2 dl dd li a{float:left;}
.w2 dl dd li .close{float:left;background:url(../images/close_.gif) no-repeat 0 0;height:9px;width:9px;overflow:hidden;position:absolute;line-height:9px;margin-top:-2px;}
.w2 dl dd li .close:hover{background-position:0 -10px;}
.w2 dl dd button{cursor:pointer;background:url(../images/jia.gif) no-repeat center;height:12px;width:12px;border:none;float:left;margin:1px -10px 0 -8px;position:relative;}


.tianjia{background:#F0FAFF;border:#B2D1FF solid 1px;position:absolute;margin:15px -1000px 0 -15px;height:235px;width:378px;z-index:100;}
.tianjia .h3{color:#333;margin:10px 0 0 10px;height:25px;}
.tianjia .h3 h3{font-size:14px;float:left;font-weight:bold;}
.tianjia .h3 .guan{float:right;background:url(../images/sc_guan.gif) no-repeat 0 bottom;height:13px;width:19px;margin-right:10px;display:inline;}
.tianjia .h3 .guan:hover{background-position:0 0;}
.gx{margin:0 10px 0 10px;border-bottom:#CCC dashed 1px;color:#58C653;height:50px;}
.gx label{float:left;margin:3px 0 0 0;}
.gx input{border:#B1CEDC solid 1px;background:#FFF;width:285px;padding:2px 1px;float:left;}
.gx p{color:#999;float:left;margin:3px 0 0 60px;display:inline;clear:left;}
.gx .red{color:#FF0000;}
.chang{color:#58C653;margin:10px 10px 0 10px;height:100px;}
.chang label{float:left;width:60px;}
.chang p{float:left;width:298px;height:94px;overflow:hidden;}
.chang p a{float:left;height:20px;line-height:20px;padding:0 2px;text-decoration:;color:#579AD0;margin:0 4px 3px 0;white-space:nowrap;display:inline;}
.chang p .h{background:#FF9900;color:#fff;text-decoration:none;}
.w2 .chang p a:hover{background:#f60;color:#FFF;}
.ok{margin-left:68px;}
.ok input,.ok .by{cursor:pointer;margin:0 7px 0 0;background:url(../images/tijiao.gif) no-repeat;border:none;height:23px;width:68px;color:#FFF;font-size:14px;}
.ok .by{background-position:0 -25px;}

.hui{background:#f8f8f8;}

.page-top, .page-bottom {float:right;}
.page-bottom {float:right;height:25px;margin:15px 0 0 0;display:inline;}
.page-bottom a, .page-bottom .page-cur, .page-bottom .page-start, .page-bottom .page-end {
border:1px solid #AAAAAA;color:#666666;display:inline;float:left;height:20px;line-height:20px;margin-left:2px;padding:0 5px;text-decoration:none;}
.page-bottom .page-start, .page-bottom .page-end {border:1px solid #DDDDDD;color:#CCC;font-family:"simsun";}
.page-bottom a:hover {background:#FFEDE1;border:1px solid #FF9900;}
.page-bottom .page-cur {background:#FFEDE1;border:1px solid #FF6600;color:#FF0000;}
.page-bottom .page-break {float:left;margin:0 3px 0 5px;}
.page-bottom .page-skip {color:#999999;display:inline;float:left;height:22px;line-height:22px;margin-left:5px;}
.ts{border:1px solid #CCCCCC;}
#jumpto,#ajaxjumpto{border:1px solid #aaa;width:20px;margin:0 3px;}
.page_button{background:transparent url(../images/go_2.gif) no-repeat scroll 0 0;border:medium none;
cursor:pointer;height:22px;margin:0 0 0 5px;width:22px;}

.kz{font-size:14px;margin:15px -100px 0 0;float:left;display:inline;}
.kz span{float:left;display:inline;line-height:20px;height:20px;margin-top:1px;}

.kz a{color:#999;float:left;line-height:20px;height:21px;margin-right:5px;display:inline;font-size:12px;background:url(../images/g_nav.gif) no-repeat 0 0;width:57px;text-align:center;text-decoration:none;line-height:22px;overflow:hidden;}
.kz a:hover{background-position:0 -23px;color:#666;}
.kz input{margin-left:5px;float:left;display:inline;cursor:pointer;padding:1px 6px;margin-top:-1px;}

.overlay{
	moz-opacity:0.56; /* Moz + FF ͸����20%*/ 
	opacity: 0.56; /* ֧��CSS3���������FF 1.5Ҳ֧�֣�͸����20%*/
	filter:alpha(opacity=56); /* IE ͸����20% */ 
	position:fixed;bottom:0;top:0;left:0;right:0;background:#000;height:100%;width:100%;_position:absolute;
}
.sc_dialog{background:#ffa500 url(../images/yj_.gif) no-repeat bottom;width:555px;height:454px;position:fixed;z-index:300;_position:absolute;left:50%; margin-left:-277px;top:50%;margin-top:-227px;_margin-top:0;_top:0;z-index:601;}
.sc_windowname{background:url(../images/yj.gif) no-repeat left top;margin-top:-2px;position:relative;height:32px;overflow:hidden}
.sc_windowname h2{color:#FFF;font-size:14px;font-weight:100;float:left;line-height:32px;margin-left:10px;display:inline}
.sc_windowname a{float:right;background:url(../images/close_1.gif) no-repeat 0 -14px;height:14px;width:21px;display:inline;margin:10px 10px 0 0;}
.sc_windowname a:hover{background-position:0 0;}
.sc_inlay{height:411px;background:#FFF url(../images/yj_1.gif) no-repeat right top;margin:0 10px;float:left;width:535px;display:inline;overflow:hidden}
.sc_inlay h2{font-size:14px;font-weight:100;margin:20px 0 0 25px;height:25px;}
.sc_inlay h2 span{color:#FF9900;}
.sc_inlay ul{margin:0 0 0 18px;height:270px;overflow:auto;padding:5px 0 0 0;width:510px;}
.sc_inlay ul li{float:left;background:#f9f9f9;height:24px;line-height:24px;width:220px;border:#f2f2f2 solid 1px;display:inline;margin:0 0 8px 10px;padding-left:10px;color:#666;}
.sc_inlay ul li span{color:#aaa;font-family:Arial;margin-left:2px;}
.sc_inlay ul li b{float:left;font-weight:100;}
.sc_inlay ul p{float:right;}
.sc_inlay ul p a{float:left;color:#579AD0;margin-right:5px;}
.sc_inlay ul p a:hover{color:#FF9900;text-decoration:none;}
.sc_inlay ul input{margin-top:2px;padding:2px 2px;border:#AAC5E1 solid 1px;width:120px;font-size:12px;float:left;}

.tj{height:50px;margin:0 0 5px 28px;border:#eee solid 1px;background:#f9f9f9;padding:8px 0 0 0;width:497px;}
.tj dt{float:left;font-size:14px;color:#008000;padding:0 0 0 10px;line-height:24px;}
.tj dd{float:left;}
.tj dd p{float:left;clear:left;color:#aaa;margin-top:5px;width:300px;}
.tj dd .red{color:#FF0000;}
.j{border:#7EA8C7 solid 1px;padding:3px;font-size:12px;width:250px;float:left;}
.o{cursor:pointer;margin:0 7px 0 10px;background:url(../images/tijiao.gif) no-repeat 0 -25px;border:none;height:23px;width:68px;color:#FFF;font-size:14px;float:left;display:inline;}

.collect_dialog{background:#ffa500 url(../images/yj_2.gif) no-repeat left bottom;width:500px;height:400px;position:fixed;z-index:300;_position:absolute;left:50%; margin-left:-250px;top:50%;margin-top:-200px;}
.collect_windowname{background:url(../images/yj3.gif) no-repeat left top;margin-top:-2px;position:relative;height:32px;overflow:hidden}
.collect_windowname h2{color:#FFF;font-size:14px;font-weight:100;float:left;line-height:32px;margin-left:10px;display:inline}
.collect_windowname a{float:right;background:url(../images/close_2.gif) no-repeat 0 -14px;height:14px;width:21px;display:inline;margin:10px 10px 0 0;}
.collect_windowname a:hover{background-position:0 0;}
.collect_inlay{height:357px;background:#FFF url(../images/yj3.gif) no-repeat right top;margin:0 10px;float:left;width:480px;display:inline;overflow:hidden;}

.collect_biao{padding-top:16px;height:208px;}
.collect_biao table{border-collapse:collapse;width:100%;}
.l1{width:75px;text-align:right;color:#666;}
.l2{width:320px;}
.collect_biao table td{padding:4px 0;}
.collect_biao table input{background:#fff;border:#BADBEA solid 1px;padding:5px 5px 5px 5px;color:#333;float:left;font-size:12px;margin:0;}
.collect_biao table .c_hui{background:#f3f3f3;border:#ddd solid 1px;color:#bbb;}
.t1{width:375px;}
.t2{width:180px;}
.collect_biao table .c_red{color:#FF0000;border:#f90 solid 1px;}
.t3{width:50px;}
.t4{width:110px;}
.l2 span{color:#f90;margin:5px 0 0 5px;float:left;display:inline;}
.l2 .sh{color:#aaa;}
.l2 i{float:left;margin:5px 2px 0 2px;display:inline;font-family:Arial;}
.clooect_pic a{float:right;border:#CCC solid 1px;height:60px;width:60px;margin-right:20px;display:inline;}
.clooect_pic a img{height:60px;height:60px;}
.collect_bq{border-top:#CCC solid 1px;margin:9px 15px;padding-top:12px;}

.collect_gx{margin:0;border-bottom:#CCC dashed 1px;color:#58C653;height:55px;}
.collect_gx label{float:left;margin:6px 0 0 0;}
.collect_gx input{border:#B1CEDC solid 1px;background:#FFFFEC;width:375px;padding:5px;float:left;}
.collect_gx p{color:#999;float:left;margin:4px 0 0 60px;display:inline;clear:left;width:385px;}
.collect_gx .collect_red{color:#FF0000;}
.collect_chang{color:#58C653;margin:15px 10px 0 0;}
.collect_chang label{float:left;width:60px;margin-top:3px;}
.collect_chang p{float:left;width:375px;height:75px;overflow:hidden;}
.collect_chang p a{float:left;height:20px;line-height:20px;padding:0 2px;text-decoration:;color:#579AD0;margin:0 4px 3px 0;white-space:nowrap;display:inline;}
.collect_chang p .h{background:#FF9900;color:#fff;text-decoration:none;}
.collect_chang p a:hover{background:#f60;color:#FFF;text-decoration:none;}
.go{margin:0 0 0 60px;}
.go .next,.go .next_,.go .next_no{background:url(../images/go_3.gif) no-repeat top;height:39px;width:109px;border:none;cursor:pointer;float:left;font-size:14px;padding-bottom:8px;color:#FFF;}
.go .next_{background-position:0 -40px;}
.go .next_no{background-position:0 -80px;}
.go a{text-decoration:none;color:#999;float:left;margin:10px 0 0 20px;display:inline;}
.go a:hover{color:#FF9900;}
.wcg{margin:7px 0 -27px 78px;color:#F00;line-height:20px;height:20px;}
.c_loading{text-align:center;}
.c_loading h2{font-size:12px;font-weight:100;color:#339900;}
.c_loading p{margin-top:120px;height:50px;}

.c_sutop{background:url(../images/c22.gif) no-repeat 10px 0;padding-left:90px;height:70px;border-bottom:#CCC dashed 1px;margin:30px 15px 0 15px;padding-top:10px;}
.c_sutop h2{font-weight:normal;font-family:"simhei";color:#80AB51;line-height:30px;font-size:20px;height:35px;}
.c_sutop p{color:#333;}
.c_sutop p span{margin-right:10px;color:#f90}
.c_sp{margin:30px 20px 0 20px;}
.c_pic{float:left;width:95px;}
.c_pic img{height:80px;width:80px;}
.c_pic a{border:#ccc solid 1px;float:left;height:80px;width:80px;}
.c_summary h2{font-weight:100;color:#7DBADB;font-size:14px;line-height:20px;height:40px;overflow:hidden;margin-bottom:2px;}
.c_summary li i{font-style:normal;}
.c_summary li span{color:#F00;}
.c_summary li{line-height:20px;color:#999;}
.gaunbi a{background:url(../images/next.gif) no-repeat 0 0;width:143px;height:46px;line-height:30px;float:left;color:#eee;text-align:center;font-size:14px;text-decoration:none;}
.gaunbi a:hover{background-position:0 -47px;color:#FFF;}
.gaunbi{padding:20px 0 0 115px;}

.sc_dialog,.favoritePanel_overlay{background:#ffa500 url(../images/yj_2.gif) no-repeat bottom;width:555px;height:454px;position:fixed;z-index:300;_position:absolute;left:50%; margin-left:-277px;top:50%;margin-top:-227px;_margin-top:0;_top:0;z-index:802;}
.collect_dialog{z-index:802}
.f_c{cursor:pointer;background:url(../images/jia.gif) no-repeat center;height:12px;width:12px;border:none;float:left;margin:1px -10px 0 -3px;}
.m_y{background:url(../images/b7.gif) no-repeat 100px 50px;padding-left:230px;clear:both;height:180px;padding-top:40px;}
.m_y h2{font-size:14px;font-size:16px;font-weight:100;line-height:30px;padding-top:20px;height:35px;}
.m_y p{line-height:22px;color:#999;}
.m_y p a{color:#71a8cf;padding:0 2px;}
.m_y p a:hover{color:#FF0000;text-decoration:none;}


.pages {float:right;height:25px;margin:15px 0 0 0;display:inline;}
.pages li{list-style-type: none;}
.pages  a{text-decoration:none;}
.pages li{
border:1px solid #AAAAAA;color:#666666;display:inline;float:left;height:20px;line-height:20px;margin-left:2px;padding:0 5px;text-decoration:none;}
.pages li {border:1px solid #DDDDDD;color:#CCC;font-family:"simsun";}
.pages li:hover {background:#FFEDE1;border:1px solid #FF9900;}
.pages .current {background:#FFEDE1;border:1px solid #FF6600;color:#FF0000;}
.pages em {color:#999999;display:inline;float:left;height:22px;line-height:22px;margin-left:5px;}


