body{height:100%;color:#333;font-size:12px;margin:0;padding:0;font-family:Verdana, Arial, Helvetica, sans-serif}
p,ul,li,h2,dl,dd,dt{margin:0;padding:0;}
ul li{list-style:none;}
img{border:0;}
.top{width:950px;margin:auto;height:82px;margin-top:2px}
.logo{float:left;margin-top:7px;}
.hy{float:left;border-left:#ddd solid 2px;margin:12px 0 0 15px;padding:11px 0 2px 15px;height:44px;display:inline;}
.T_right{float:right;margin:10px 10px 0 0;display:inline}
.T_right a{color:#bbb;text-decoration:none;}
.T_right a:hover{color:#F90;text-decoration:underline}
.T_right span{color:#bbb;margin:0 5px;}

.box{border:#CCC solid 1px; border-bottom:none;width:948px;margin:auto;height:470px;}
.bottom_1{background:url(../images/top_yj.gif) no-repeat right top;width:950px;height:10px;margin:-1px auto 10px auto}
.move{margin:48px 1px 0 0;display:block;background:url(../images/top_yj.gif) no-repeat left top;width:950px;margin:-1px;position:relative;height:60px;}
.move img{margin:25px 0 0 20px}
.welcome{margin:30px 0 0 190px;width:500px;color:#72A8CE;}

.register{width:850px;margin:10px 0 0 87px;}
.register table{width:100%;border-collapse:collapse;}
.register table td{padding:6px 0;}
.register p{float:left;color:#CCC;line-height:28px;height:28px;margin-left:10px;}
.register table input{float:left;border:#BADBEA solid 1px;padding:5px 5px 5px 5px;width:284px;height:16px;background:#fff}
.register table .on{background:#F4FDFF}
.register table .wrong{border:#FF4646 solid 1px;color:#f00}

.register .l{width:100px;text-align:right;font-size:14px;padding-right:5px}
.register .verification{width:148px;}
.register img{float:left;width:131px;height:28px;margin-left:5px;cursor:pointer;}
.register .red{color:#F00;}
.register p img{height:19px;width:19px;margin:4px 0 0 0;}
.register .prompt{
	background:url(../images/prompt.gif) no-repeat;
	width:410px;
	padding-left:15px;
	margin-left:2px;
	color:#9AC55A;
}
.register a{text-decoration:none;color:#72a8ce;}
.register table a{float:left;margin:5px 0 0 10px;display:inline;}
.register a:hover{color:#FF9900;text-decoration:underline}
.refer{color:#999;margin:20px 0 0 104px;line-height:20px;}
.refer label input{float:left;margin-right:3px;display:inline;}
.refer span{display:block;height:40px;}
.button,.button_{
	background:url(../images/nav.gif) no-repeat top;
	width:143px;
	height:30px;
	border:none;
	height:44px;
	color:#FFFFFF;
	line-height:30px;
	padding-bottom:14px;
	cursor:pointer;
	font-size:14px;
}
.button_{background-position:0 bottom;color:#D1500A}

.mail{
	margin:50px 0 0 0;
	margin-left:150px;
	padding-left:90px;
	background:url(../images/mail.gif) no-repeat left 0;
}
.mail h2{font-size:20px;color:#80ab51;font-family:Arial;height:50px;}
.mail h2 span{margin:0 5px;}
.mail dl{height:60px;}
.mail dl dt{float:left;font-size:14px;line-height:30px;margin-right:10px;display:inline;}
.mail dl dd{float:left;}
.mail dl dd a{
	background:url(../images/nav2.gif) no-repeat top;
	width:191px;
	height:30px;
	border:none;
	height:44px;
	color:#FFFFFF;
	line-height:30px;
	cursor:pointer;
	font-size:14px;
	float:left;
	text-align:center;
	text-decoration:none;
}
.mail dl dd a:hover{background-position:0 bottom}
.operate{
	background:url(../images/bj.gif) no-repeat;
	height:156px;
	width:619px;
	margin:auto;
	padding-top:7px;
}
.operate h2{
	font-size:14px;
	margin:0 0 0 20px;
	line-height:30px;
	height:40px;
	padding:10px 0 0 22px;
	background:url(../images/tanhao.gif) no-repeat left 17px;
	font-weight:100
}
.operate ul li{
	font-size:14px;
	line-height:27px;
	padding-left:15px;
	background:url(../images/yuan.gif) no-repeat left;
	color:#aaa
}
.operate ul{margin:0 0 0 27px;}
.operate ul a{color:#5d9acf;margin:0 3px;}
.operate ul a:hover{color:#F90;text-decoration:none;}
.floor{
	background:url(../images/change.png) no-repeat;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images20090801/Register/change.png');	_background-image:none;
	width:376px;
	height:153px;
	left:100px;
	margin-bottom:-400px;
	position:relative;
	z-index:200;
	float:left;
	display:inline;
}
.change{width:376px;height:153px;left:100px;position:relative;z-index:201;margin-bottom:-400px;float:left;}
.change table{border-collapse:collapse;border:none;width:100%;float:left;}
.change table td{border:none;height:32px;}
.change table .zuo{width:80px;text-align:right;}
.change input{float:left;display:inline;}
.change table img{float:left;width:120px;height:26px;margin-left:10px;display:inline;}

/*.c1,.c1_,.c3{border:#BADBEA solid 1px;padding:4px 5px 4px 5px;width:230px;height:16px;}
.c1_{color:#333}
.c3{color:#333;width:100px}
.c2,.c2_{
	background:url(../images/c2.gif) no-repeat;
	width:86px;
	border:none;
	color:#fff;
	height:28px;
	cursor:pointer;
	margin:5px 0 0 83px;
}
.c2_{background-position:0 bottom;color:#FFF;}*/

.change p{margin:17px 0 0 85px;color:#D7C57D;display:inline;height:15px;float:left;display:inline}
.change .red{color:#FF0000;}
.change .lv{color:#A8CF85}
.close{
	width:19px;
	height:15px;
	float:right;
	background:url(../images/close.gif) no-repeat top;
	display:inline;
	margin:17px 15px -200px 0;
	position:relative;
	z-index:300;
}
.close:hover{background-position:0 bottom;}
.ch_top{
	background:url(../images/ok.gif) no-repeat 10px 5px;
	padding-left:57px;
	line-height:22px;
	border-bottom:#CCC dashed 1px;
	height:60px;
	margin:35px 0 0 28px;
	float:left;
	display:inline;
	width:250px;
}
.ch_top span{color:#588f1b;margin:0 3px}
.change .tishi{margin-top:15px;}

.fulfil{margin:50px 0 0 173px;}
.wc{
	background:url(../images/xiao.gif) no-repeat left;
	padding-left:80px;
	height:80px;
	margin-bottom:50px;
}
.wc h2{font-size:20px;color:#80ab51;font-family:Arial;margin-top:10px;float:left;width:700px;height:40px;}
.wc p{float:left;width:400px;}
.wc p span{color:#F90;font-weight:bold;margin-right:5px;font-size:14px}
.link p{color:#5CA2DD;font-size:14px;height:20px;}
.link ul{
	background:url(../images/cz.gif) no-repeat;
	height:99px;
	width:617px;
}
.link li{float:left;margin-top:27px;display:inline;}
.link .l1{margin-left:40px;}
.link .l2{margin-left:170px;}
.link .l3{margin-left:160px;}
.link li a{
	font-size:14px;
	color:#333;
	text-decoration:none;
	background:url(../images/tubiao.gif) no-repeat 10px 0;
	float:left;
	padding-top:40px;
}
.link .l2 a{background-position:10px -140px;}
.link .l3 a{background-position:40px -283px;}
.link li a:hover{color:#FF6600}

.rank{
	background:url
../images/rank.gif) no-repeat left 0;	padding-top:14px;
	width:116px;
	float:left;
	margin:0 0 -5px 10px;
	color:#ff6600;
	height:14px;
	overflow:hidden;
	display:inline
}
.High{background-position:right 0;color:#7fcc30;}
.mid{background-position:-118px 0;color:#7fcc30;}

.chaoshi h2{font-size:22px;color:#FF6600;padding-left:70px;background:url(../images/chaoshi.gif) no-repeat left;line-height:60px;height:60px;margin:60px 0 0 280px;}
.chaoshi h3{background:url(../images/tanhao.gif) no-repeat left;height:25px;line-height:25px;padding-left:20px;margin:40px 0 0 280px;}
.chaoshi ul{margin:10px 0 0 280px;}
.chaoshi ul li{line-height:30px;font-size:14px;color:#666;padding-left:12px;background:url(../images/chaoshi2.jpg) no-repeat left;}
.chaoshi ul li a{color:#5D9ACF;margin-left:5px;}
.chaoshi ul li a:hover{color:#F90;text-decoration:none;}
