.account{margin:25px 23px 0 0;float:right;width:720px;display:inline;}
.tishi{background:#fdfde1 url(../iamges/tixing.gif) no-repeat 8px 7px;border:#ddd dashed 1px;height:30px;line-height:30px;padding-left:25px;margin-bottom:25px;}
.zhanghu{border-bottom:#CCC solid 1px;height:155px;margin-bottom:25px;}
.qian{float:left;width:110px;}
.z_left{float:left;width:425px;}
.yuer{width:305px;float:right;}
.yuer h1{font-size:14px;border-bottom:#ccc dashed 1px;height:30px;color:#61AC35;margin:5px 0 10px 0;}
.yuer dl{font-family:Arial;line-height:28px;font-size:14px;height:70px;}
.yuer dl dt{padding-left:2px;}
.yuer dl dt b{color:#FF0000;font-size:20px;}
.yuer dl dd{padding-top:5px;}
.yuer dl dd a{color:#999;background:url(../iamges/nav_1.gif) no-repeat 0 0;font-size:12px;text-decoration:none;width:79px;text-align:center;display:block;height:21px;line-height:21px;float:left;margin-right:20px;display:inline;}
.yuer dl dd a:hover{background-position:0 -23px;color:#333;}
.yuer p{padding-left:2px;}
.yuer p a{color:#6DB4D6;}
.yuer p a:hover{color:#f90;text-decoration:none;}

.z_right{float:right;width:280px;}
.z_right h2{font-size:14px;height:25px;}
.z_right ul li{line-height:22px;padding-left:10px;background:url(../iamges/fk.gif) no-repeat left;}
.z_right ul li a{color:#666;}
.z_right ul li a:hover{color:#F00;text-decoration:none;}

.fangshi{height:280px;}
.fangshi ul{border-bottom:#CCC dashed 1px;height:185px;}
.fangshi h2{font-size:14px;font-weight:100;height:30px;font-weight:bold;}
.fangshi li{float:left;width:240px;}
.k1,.k2,.k3{background:url(../images/ka.gif) no-repeat left;height:140px;width:212px;float:left;display:inline;margin-left:15px;}
.k2{background-position:-248px 0;}
.k3{background-position:-493px 0;}
.fangshi li p{float:left;margin:5px 0 0 15px;display:inline;}
.fangshi li p a{font-size:14px;color:#3399ff;padding:2px;}
.fangshi li p a:hover{color:#fff;background:#FF9900;text-decoration:none;}
.fangshi div{margin:20px 0 0 15px;color:#bbb;color:#f90;}
.fangshi div a{color:#fff;padding:1px;background:#FF9900;text-decoration:none;margin:0 2px;}
.fangshi div a:hover{color:#fff;background:#FF6600;}


.chongzhi{border-bottom:#FFAF04 solid 2px;height:30px;font-size:14px;}
.chongzhi h2{float:left;height:30px;background:#FFAF04 url(../images/h2.gif) no-repeat top;width:141px;color:#FFF;font-size:14px;line-height:30px;text-align:center;}
.chongzhi .tui{float:left;color:#589DD6;margin:7px 0 0 10px;display:inline;}
.chongzhi .more{float:right;color:#bbb;margin:7px 5px 0 0;display:inline;}
.chongzhi a:hover{text-decoration:none;color:#FF0000;}

.jilu table{width:100%;border-collapse:collapse;padding:0;margin:0;border:#CCC solid 1px;margin:15px 0;}
.jilu table th{border-bottom:#CCCCCC solid 1px;background:url(../images/bj.jpg) repeat-x bottom;height:30px;padding-left:10px;text-align:left;color:#666;}
.jilu table td{border:#CCCCCC solid 1px;padding:10px;margin:0;}
.jilu table .z{text-align:center;width:50px;padding:0;color:#bbb;font-weight:bold;}
.jilu table .h{background:#F9F9F9;}
.jilu table .z3{color:#FF0000;width:80px;}
.jilu table .z2{width:100px;}
.jilu table .z4{width:150px;}

.gaiyao{background:url(../images/cz.gif) no-repeat;height:97px;width:720px;margin-bottom:25px;}
.gaiyao h2{font-size:14px;padding:15px 10px 0 15px;font-weight:100;height:25px;color:#009900}
.gaiyao ul{line-height:22px;margin-left:15px;}

.fashion h2{font-size:12px;height:30px;font-size:14px;}
.optional{width:735px;margin-right:-50px;height:61px;}
.optional li{float:left;width:243px;margin-right:0;}
.optional li a{background:url(../images/anniu.gif) no-repeat 0 0;height:61px;width:234px;float:left;}
.optional li .p2{background-position:-242px 0;}
.optional li .p3{background-position:-484px 0;}
.optional li .p1:hover{background-position:0 -130px;}
.optional li .p2:hover{background-position:-242px -130px;}
.optional li .p3:hover{background-position:-484px -130px;}
.optional .on a{position:relative;height:62px;margin-bottom:-1px;}
.optional .on .p1,.optional .on .p1:hover{background-position:0 -65px;}
.optional .on .p2,.optional .on .p2:hover{background-position:-242px -65px;}
.optional .on .p3,.optional .on .p3:hover{background-position:-484px -65px;}

.box{border:#ddd solid 1px;margin-bottom:20px;}
.point{background:#f3f3f3;margin:25px 20px 0 20px;line-height:30px;height:30px;color:#999;padding-left:10px;}
.fg{background:#F3F9EC}
.point span{color:#FF9900;padding:0 2px;}
.box h3{font-weight:100;font-size:14px;margin:25px 0 0 45px;height:30px;}
.box h3 span{color:#FF9900;padding:0 2px;font-size:12px;}
.box h3 b{color:#FF0000;padding:0 2px;font-size:12px;}
.edu{margin:0 40px 0 45px;height:75px;border-bottom:#CCC dashed 1px;}
.edu label input{float:left;}
.edu label{line-height:18px;font-size:14px}
.edu li{float:left;width:158px;height:35px;}
.number,.number_{border:#ccc solid 1px;width:50px;background:#f3f3f3;padding:3px;margin:-2px 0 -2px 3px;color:#999;position:relative;}
.number_{background:#fff;border:#A7D0E4 solid 1px;color:#333;}

.jiesuan{margin:20px 40px 0 45px;padding-bottom:20px;}
.jiesuan dt{line-height:22px;color:#999;}
.jiesuan dt span{color:#FF9900;}
.jiesuan dd{font-size:14px;margin-top:10px;}
.jiesuan dd span{color:#FF0000;padding-right:2px;}
.jiesuan dd b{font-family:Arial;font-size:20px;color:#FF0000;padding-left:2px;}

.next{height:70px;padding-left:45px;}
.next input{background:url(../images/next.gif) no-repeat;height:43px;width:143px;border:none;font-size:14px;color:#FFF;line-height:30px;padding-bottom:11px;cursor:pointer;}
.next .by{background-position:0 -47px;}

.paypal{margin:0 40px 0 45px;border-top:#CCC dashed 1px;padding:25px 0 10px 0;height:70px;}
.paypal .p_logo{float:left;width:135px;margin-top:5px;}
.paypal dl{line-height:24px;}
.paypal dt a{color:#00468d;}
.paypal dt a:hover{color:#FF9900;}
.paypal dd{color:#999;}
.yuan{background:url(../images/yuan_1.gif) no-repeat top;height:5px;margin:-1px;position:relative;width:720px;}

.guowai{margin:0 40px 0 45px;border-top:#CCC dashed 1px;padding-top:15px;}
.guowai h4{font-weight:100;color:#3975AA;height:25px;line-height:25px;margin-bottom:15px;padding-left:15px;background:url(http://sf.panli.com/FrontEnd/images20090801/newmypanli/xx.gif) no-repeat left;font-size:14px;}
.guowai li{cursor:pointer;float:left;width:300px;}
.guowai li img{display:block;margin-bottom:15px;}
.guowai ul{height:110px;}
.guowai li input{float:left;margin-right:3px;display:inline;}
.guowai li label{line-height:18px;}
