.fill{float:right;width:715px;margin-right:22px;display:inline;padding:25px 0 20px 0;}
.address{background:#e3e3e3;margin-bottom:20px;position:relative;float:left}
.address .box{border:#ddd solid 1px;background:#FFF;position:relative;top:-4px;left:-4px;float:left}
.address table{width:695px;border-collapse:collapse;margin-left:10px;font-family:Tahoma,Helvetica,Arial,'simsun',sans-serif;line-height:18px;float:left;*display:inline;}
.address td{padding:5px 2px;margin:0;border:none;border-bottom:#e3e3e3 dashed 1px;}
.address table .z{width:58px;color:#666; font-size:12px;}
.address table .c{width:250px;}
.chaozuo{background:#f3f3f3;border-top:#e3e3e3 solid 1px;margin:-1px 0 0 0;position:relative;z-index:1;height:26px;line-height:26px;padding:0 10px;float:left;width:695px;}
.chaozuo ul li{float:left;padding-left:10px;}
.chaozuo ul{float:right;}
.chaozuo ul li a{color:#aaa;}
.chaozuo ul li a:hover{text-decoration:none;color:#F00;}
.address table a{color:#71A8CF;}
.address table a:hover{text-decoration:none;color:#F00;}
.address table span{margin-left:10px;}
.address p{color:#bbb;margin:2px 0 0 3px;float:left;display:inline;}
.address .red{color:#FF0000;}
.address input.red{border:#FF0000 solid 1px;background:#FFF3F0;}
.chaozuo ul li .z_x{padding-left:18px;background:url(../images/x_z.gif) no-repeat left;}

.address table td input{border:#7F9DB9 solid 1px;font-size:12px;padding:2px;float:left;}
.address table th{text-align:left;font-weight:100;padding:5px 0;font-size:13px;color:#7F9DB9;}
.address table select{font-size:12px;height:20px;float:left;}

.s1 .box{border:#70BE58 solid 1px;}
.s1 .chaozuo{background:#EBFADE;}

.s2{background:#F8E7B8}
.s2 .box{border:#fb0 solid 1px;}
.s2 .chaozuo{background:#FFFEEE;}
.s2 ul li a{color:#FF9900;}
.cj{clear:both;margin-left:285px;float:left;}
.cj a{background:url(../images/anniu_2.gif) no-repeat 0 0;display:block;width:139px;height:50px;line-height:35px;font-size:14px;color:#eee;text-align:center;text-decoration:none;}
.cj a:hover{background-position:0 -52px;color:#FFF;}
.queren{height:30px;}
.queren li{float:left;margin-right:10px;display:inline;}

.xia_b{ border-bottom:1px dashed #ddd; height:20px; line-height:20px;}