<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{lang Shopping_Demo} - {$cfg_site_name}</title>
</head>

<body>

{template 'header'}

<div class="w960 see_main">     
   <div class="content">
  <div class="demo_main">  	
    <div class="main_other1">

    <div class="clear"></div>
<table cellspacing="0" cellpadding="5" border="0" align="center" width="950">
  <tbody>
  <tr>
            <td><div align="center"><img height="146" width="856" src="{TPL}images/rhdg.gif"><span style="font-size: 14px;"><br>

            </span><br>
            <br>
            <a href="{url_demo.php?action=demo}" style="background:url({TPL}images/rhdg1.gif) no-repeat; display:block; width:159px; height:36px;line-height:36px; text-align:center; color:#fff;font-size:17px; font-family:微软雅黑;">{lang Start_presentation}</a><br>
            <br><a href="{url_shop.php}">{lang see_now_purchasing} &gt;&gt; </a><br>
            <br>
            <br>

            <br>
            </div></td>
          </tr>
</tbody>
</table>

<map id="Map" name="Map">
  <area href="1_1.htm" coords="2,3,117,23" shape="rect">
<area href="2_1.htm" coords="131,-5,249,22" shape="rect">
<area href="3_1.htm" coords="272,-5,378,21" shape="rect">
<area href="4_1.htm" coords="406,-1,521,24" shape="rect">
<area href="5_1.htm" coords="541,-5,694,21" shape="rect">
</map>
<map id="Map2" name="Map2"><area href="#" coords="153,348,289,411" shape="rect">
</map>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    </div>﻿
  </div>
</div>
{template 'footer'}
</body>
</html>
