<div class="foot">
    <div class="help">
        <div class="fenlei">
            <h3>
                {lang newcomer}</h3>
            <ul>
                <li><a target="_blank" href="{url_help.php?action=list&id=1}">{lang New_notes}</a></li>
                <li><a target="_blank" href="{url_help.php?action=list&id=2}">{lang Operations_Guide}</a></li>
                <li><a target="_blank" href="{url_help.php?action=list&id=6}">{lang explain}</a></li>
                <li><a target="_blank" href="{url_help.php?action=list&id=8}">{lang levels_and_points}</a></li>
            </ul>
        </div>
        <div class="fenlei">
            <h3>
                {lang Shopping_Guide}</h3>
            <ul>
                <li><a target="_blank" href="{url_help.php?action=view&id=14}">{lang pick_goods}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=13}">{lang Shopping_Process}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=15}">{lang generate_orders}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=16}">{lang Item_Status}</a></li>
            </ul>
        </div>
        <div class="fenlei">
            <h3>
                {lang pay_explain}</h3>
            <ul>
                <li><a target="_blank" href="{url_help.php?action=view&id=23}">{lang paypalpay}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=24}">{lang internation}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=25}">{lang inland_card}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=26}">{lang Other_Payment}</a></li>
            </ul>
        </div>
        <div class="fenlei">
            <h3>
                {lang Delivery_note}</h3>
            <ul>
                <li><a target="_blank" href="{url_help.php?action=view&id=27}">{lang Transportation}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=28}">{lang Shipping_goods}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=29}">{lang Customs_and_taxes}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=30}">{lang Receiving_Attention}</a></li>
            </ul>
        </div>
        <div class="fenlei">
            <h3>
                {lang service}</h3>
            <ul>
                <li><a target="_blank" href="{url_help.php?action=view&id=80}">{lang Return_principle}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=37}">{lang Return_Process}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=81}">{lang Retention}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=19}">{lang refund}</a></li>
            </ul>
        </div>
        <div class="fenlei">
            <h3>
                {lang User_Guide}</h3>
            <ul>
                <li><a target="_blank" href="{url_help.php?action=view&id=82}">{lang Terms_Service}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=82}">{lang Services}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=82}">{lang Amendment}</a></li>
                <li><a target="_blank" href="{url_help.php?action=view&id=82}">{lang privacy_protection_rules}</a></li>
            </ul>
        </div>
        <div class="lx">
            <h3>
                <img alt="{lang Tims_of_Service}" src="{TPL}images/rexian.gif"></h3>
            <ul>
                <li>{lang Customer_Email}：<a href="mailto:service@panli.com">service@panli.com</a></li>
                <li>{lang Tims_of_Service}：周一至周日（8:30～20:00）</li>
            </ul>
            <div class="Gobal_time">
                <input type="hidden" id="Beijing_Time" value="{$timestamp}">
                <label id="BeijingDate">{lang Time_of_BeiJing}：</label><p id="BeijingTime"><span>00</span><b></b><span>00</span><b></b><span>00</span></p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="b_logo">
            <a href="/news/about.html?nid=4">
                <img alt="代购网" src="{TPL}images/f_logo.gif"></a>
        </div>
        <div class="b_box">
            <p>
                <a href="{url_about.php?action=aboutus}">{lang About_us}</a><span>|</span><a href="{url_about.php?action=contactus}">{lang contact_us}</a><span>|</span><a href="{url_about.php?action=joinus}">{lang join_us}</a><span>|</span><a href="{url_about.php?action=links}">{lang my_links}</a></p>
            <p>
                 {$cfg_site_bottomtxt}</p>
				 
        </div>
        <div class="b_box2">
            <ul>
                <li class="juli"><a onclick="javascript:window.open('#','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');" href="javascript:;">
                <img alt="paypal接受标记" src="{TPL}images/paypal_.gif"></a></li>
                <li><a target="_blank" href="#">
                    <img alt="paypal" src="{TPL}images/paypal.gif"></a></li>
                <li>
                    <img alt="paypal" src="{TPL}images/v.gif"></li>
            </ul>
        </div>
    </div>
</div>
@ZZQSScopyright@