<div class="foot">

    <div class="help">

        <div class="fenlei">

            <h3>

                {lang newcomer}</h3>

            <ul>

                <li><a target="_blank" href="{url_help.php?action=list&id=1}">{lang New_notes}</a></li>

                <li><a target="_blank" href="{url_help.php?action=list&id=2}">{lang Operations_Guide}</a></li>

                <li><a target="_blank" href="{url_help.php?action=list&id=6}">{lang explain}</a></li>

                <li><a target="_blank" href="{url_help.php?action=list&id=8}">{lang levels_and_points}</a></li>

            </ul>

        </div>

        <div class="fenlei">

            <h3>

                {lang Shopping_Guide}</h3>

            <ul>

                <li><a target="_blank" href="{url_help.php?action=view&id=14}">{lang pick_goods}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=13}">{lang Shopping_Process}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=15}">{lang generate_orders}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=16}">{lang Item_Status}</a></li>

            </ul>

        </div>

        <div class="fenlei">

            <h3>

                {lang pay_explain}</h3>

            <ul>

                <li><a target="_blank" href="{url_help.php?action=view&id=23}">{lang paypalpay}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=24}">{lang internation}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=25}">{lang inland_card}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=26}">{lang Other_Payment}</a></li>

            </ul>

        </div>

        <div class="fenlei">

            <h3>

                {lang Delivery_note}</h3>

            <ul>

                <li><a target="_blank" href="{url_help.php?action=view&id=27}">{lang Transportation}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=28}">{lang Shipping_goods}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=29}">{lang Customs_and_taxes}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=30}">{lang Receiving_Attention}</a></li>

            </ul>

        </div>

        <div class="fenlei">

            <h3>

                {lang service}</h3>

            <ul>

                <li><a target="_blank" href="{url_help.php?action=view&id=80}">{lang Return_principle}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=37}">{lang Return_Process}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=81}">{lang Retention}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=19}">{lang refund}</a></li>

            </ul>

        </div>

        <div class="fenlei">

            <h3>

                {lang User_Guide}</h3>

            <ul>

                <li><a target="_blank" href="{url_help.php?action=view&id=82}">{lang Terms_Service}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=82}">{lang Services}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=82}">{lang Amendment}</a></li>

                <li><a target="_blank" href="{url_help.php?action=view&id=82}">{lang privacy_protection_rules}</a></li>

            </ul>

        </div>

        <div class="lx">

            <h3>

                <img alt="{lang Tims_of_Service}" src="{TPL}images/rexian.gif"></h3>

            <ul>

               <li>{lang Customer_Email}：<a href="mailto:service@panli.com">service@panli.com</a></li>

                <li>{lang Tims_of_Service}：周一至周日（8:30～20:00）</li>

            </ul>

           

        </div>

    </div>

<link type="text/css" rel="Stylesheet" href="/templates/default/css/index.css" />

<style>
.bottom{width:950px;margin:auto;border-top:1px solid #ddd;width:950px;clear:both;padding-top:5px;}
.b_logo{float:left;border-right:#e3e3e3 solid 0px;width:140px;height:120px;}
.b_logo img{margin-top:30px;}
.b_box{width:800px;float:left;margin-right:-1120px;}
.b_box p{color:#bbb;margin:5px 0 0 15px;line-height:20px;}
.b_box p a{color:#bbb;}
.b_box p a:hover{color:#FF0000;}
.b_box p span{padding:0 10px;}
</style>
 



    <div class="bottom">

       
        <div class="b_box">

            <p>

                <a href="{url_about.php?action=aboutus}">{lang About_us}</a><span>|</span><a href="{url_about.php?action=contactus}">{lang contact_us}</a><span>|</span><a href="{url_about.php?action=joinus}">{lang join_us}</a><span>|</span><a href="{url_about.php?action=links}">{lang my_links}</a></p>

            <p>

                 {$cfg_site_bottomtxt}</p>

				 

        </div>



 <div class="help_anbao">
            <ul>
                <li class="anbao_1"><a href="http://www.ectrustprc.org.cn/certificate.id/certificateb.php?id=20007298"
                    target="_blank" rel="nofollow">中国电子商务诚信单位</a></li>
                <li class="anbao_2"><a href="https://ss.cnnic.cn/verifyseal.dll?sn=2010110400100002784&ct=df&pa=111995"
                    target="_blank" rel="nofollow">可信网站</a></li>
                <li class="anbao_3"><a href="https://www.paypal.com/verified/pal=paypal@panli.com"
                    target="_blank" rel="nofollow">paypal</a></li>
                <li class="anbao_4"><a href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20120423152518650"
                    target="_blank" rel="nofollow">上海工商</a></li>
            </ul>
        </div>
    </div>




    </div>

</div>
