<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="Stylesheet" href="{TPL}css/NewTopFoot.css" />
<link href="{TPL}css/AddItemPanel.css" rel="stylesheet" type="text/css" />
<meta name="keywords" content="{lang Shopping_money_Dangdang_excellence}" />
<meta name="description" content="{$cfg_site_name}“{lang Post_free_business_Taobao_Sellers}。" />
<link href="{TPL}css/freePostage.css" rel="stylesheet" type="text/css" />
<title>
	[{$cfg_site_name}] - {lang shipping_purchasing_cheaper}.！
</title></head>
<body>	
	
  {template 'header'}
	
	
    <script src="{TPL}js/para.js" type="text/javascript"></script>
    <script type="text/javascript" src="{TPL}js/Free_postageRun.js"></script>

    <div class="freepic">
        <img src="{TPL}images/free.jpg" />
    </div>

    <div class="box">
        <div class="lmmc">
            <h2>{lang free_postage_business}</h2>
        </div>
        <div class="sj_logo">
            <ul>
                <li><a href="http://www.360buy.com/" target="_blank">
                    <img src="{TPL}images/l1.gif" /></a></li>

                <li><a href="http://www.dangdang.com/" target="_blank">
                    <img src="{TPL}images/l2.gif" /></a></li>
                <li><a href="http://www.vancl.com/" target="_blank">
                    <img src="{TPL}images/l3.gif" /></a></li>
                <li><a href="http://www.m18.com/" target="_blank">
                    <img src="{TPL}images/l4.gif" /></a></li>
                <li><a href="http://www.amazon.cn/" target="_blank">
                    <img src="{TPL}images/l5.gif" /></a></li>
                <li><a href="http://www.china-pub.com/" target="_blank">

                    <img src="{TPL}images/l6.gif" /></a></li>
                <li><a href="http://lhok.blemall.com/" target="_blank">
                    <img src="{TPL}images/l7.gif" /></a></li>
                <li><a href="http://www.shishangqiyi.com/" target="_blank">
                    <img src="{TPL}images/l8.gif" /></a></li>
                <li><a href="http://www.x.com.cn/" target="_blank">
                    <img src="{TPL}images/l9.gif" /></a></li>
                <li><a href="http://www.818shyf.com/" target="_blank">
                    <img src="{TPL}images/l10.gif" /></a></li>

                <li><a href="http://www.redbaby.com.cn/" target="_blank">
                    <img src="{TPL}images/l11.gif" /></a></li>
                <li><a href="http://www.newegg.com.cn/" target="_blank">
                    <img src="{TPL}images/l12.gif" /></a></li>
            </ul>
            <div style="clear: both">
            </div>
        </div>
    </div>

    <div class="box">
        <div class="lmmc">
            <h2>{lang Purchasing_ranking}</h2>
        </div>
       <div class="ranking">
            <div class="raning_mc">
                <div class="leftpan">
                    <h2>

                       {lang hot_shopping}</h2>
                    <ul>
                        <li><span>1</span><p>
                          {lang Clothing}</p>
                        </li>
                        <li><span>2</span><p>
                             {lang Fashion_Jewelry}</p>

                        </li>
                        <li><span>3</span><p>
                           {lang Beauty}</p>
                        </li>
                        <li class="xz"><b>4</b><p>
                            {lang Audio_Books}</p>
                        </li>

                        <li><b>5</b><p>
                            {lang Shoebag}</p>
                        </li>
                        <li><b>6</b><p>
                            {lang Home}</p>
                        </li>
                        <li><b>7</b><p>

                            {lang hire}</p>
                        </li>
                        <li><b>8</b><p>
                            {lang Digital_Communications}</p>
                        </li>
                        <li><b>9</b><p>
                            {lang Food}</p>

                        </li>
                        <li><b>10</b><p>
                            {lang Appliances}</p>
                        </li>
                    </ul>
                </div>
                <div class="rightpan">
                    <h2>

                        {$cfg_site_name}{lang audio_books_favorite_sites}</h2>
                    <div class="raning_dp">
                        <dl class="p1">
                            <dt><a href="http://www.dangdang.com">
                                <img src="{TPL}images/dangdang.png" /></a></dt>
                            <dd>
                                <p>
                                    <a href="http://www.dangdang.com">{lang Dangdang}</a></p>

                                <span><a href="http://www.dangdang.com"></a></span>
                            </dd>
                        </dl>
                        <dl class="p2">
                            <dt><a href="http://www.amazon.cn">
                                <img src="{TPL}images/amazonLogo.png" /></a></dt>
                            <dd>
                                <p>
                                    <a href="http://www.amazon.cn">{lang Excellent}</a></p>

                                <span><a href="http://www.amazon.cn"></a></span>
                            </dd>
                        </dl>
                        <dl class="p3">
                            <dt><a href="http://www.china-pub.com">
                                <img src="{TPL}images/china-pubLogo.png" /></a></dt>
                            <dd>
                                <p>
                                    <a href="http://www.china-pub.com">{lang Interactive_Publishing_China}</a></p>

                                <span><a href="http://www.china-pub.com"></a></span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="raning_sj">
                <h2>
                    {lang Taobao_sellers_attention}</h2>

                <ul>
                    <li><span>1</span><a href="http://shop33027857.taobao.com/" target="_blank">{lang Fresh_Shop}</a><i><img
                        src="{TPL}images/x10.gif" /></i></li>
                    <li><span>2</span><a href="http://shop33070710.taobao.com/" target="_blank">{lang Twins_cheap_shop}</a><i><img
                        src="{TPL}images/x10.gif" /></i></li>
                    <li><span>3</span><a href="http://shop1450644.taobao.com/" target="_blank">{lang through}</a><i><img
                        src="{TPL}images/x8.gif" width="59" height="11" /></i></li>
                    <li><b>4</b><a href="http://shop33808335.taobao.com/" target="_blank">{lang Fairy_Kingdom}</a><i><img
                        src="{TPL}images/x7.gif" width="59" height="11" /></i></li>

                    <li><b>5</b><a href="http://shop34189316.taobao.com/" target="_blank">{lang Home_home}</a><i><img
                        src="{TPL}images/x6.gif" width="59" height="11" /></i></li>
                    <li><b>6</b><a href="http://shop33128282.taobao.com/" target="_blank">{lang personal_professional}</a><i><img
                        src="{TPL}images/x5.gif" width="59" height="11" /></i></li>
                    <li><b>7</b><a href="http://shop33630499.taobao.com/" target="_blank">{lang Pegmatite_Love}</a><i><img
                        src="{TPL}images/x4.gif" width="59" height="11" /></i></li>
                    <li><b>8</b><a href="http://shop33714494.taobao.com/" target="_blank">{lang color_summer}</a><i><img
                        src="{TPL}images/x4.gif" width="59" height="11" /></i></li>
                    <li><b>9</b><a href="http://shop33054073.taobao.com/" target="_blank">ifisis</a><i><img
                        src="{TPL}images/x2.gif" width="59" height="11" /></i></li>

                    <li><b>10</b><a href="http://shop33756187.taobao.com/" target="_blank">{lang Fairy}</a><i><img
                        src="{TPL}images/x2.gif" /></i></li>
                </ul>
            </div>
        </div>
    </div>

    {template 'footer'}

</body>
</html>

