<script src="templates/default/js/jquery.cookies.2.1.0.min.js" type="text/javascript"></script>

<link href="{TPL}css/NewIndex.css" rel="stylesheet" type="text/css" />

<!-- 一键填单代码开始 -->

<link href="add/AddItemPanel.css" rel="stylesheet" type="text/css" />

<div class="addpanel_dialog" style="display: none;">

  <div class="addpanel_windowname">

    <h2>{lang Fill_a_key}</h2>

    <a id="closeBtn" title="{lang Close}"></a> </div>

  <div class="addpanel_inlay">

    <div id="p0"> <img src="/add/newimages/loading.gif" alt="{lang Loading}。。。" />

      <p> {lang Loading}…… </p>

    </div>

    <div id="p1"> </div>

    <div id="p2" style="display: none;"> </div>

    <div id="p3" style="display: none;"> </div>

  </div>

</div>

<div class="addpanel_overlay"> </div>

 <script src="{TPL}js/Gobal.js" type="text/javascript"></script>

<!-- 一键填单代码结束 -->



<!--topPan-->

<div class="topPan">

  <div class="w980">

    <div class="w_50" style="width:40%">

	  {if empty($_USERS)}

                <div id="Gobal_LoginInfo">{lang hello}！{lang visitor} {lang please} <a href="{url_user.php?action=login}">[{lang login}]</a> {lang or} <a href="{url_user.php?action=register}">[{lang register}]</a></div>

			{else}

				<div id="Gobal_LoginInfo">{lang hello}！{$_USERS['uname']} [<a href="{url_user.php?action=quit}">{lang out}</a>]&nbsp;&nbsp;<a href="{url_m.php?name=pm}" target="_blank"><img src="{TPL}images/an2.gif" class="sms" alt="" />{lang SMS}<span class="orange">({$_USERS['pm']})</span></a></div>

			{/if}

    </div>

    <div class="w_50"  style="width:60%">

      <ul class="userProfile">

        <li><a target="_blank" id="Gobal_Shoppingcart" href="{url_shoppingcart.php}">{lang Shopping_Cart}<span class="orange">({$_CARTCOUNT})</span></a>&nbsp;&nbsp;|</li>

				<li><a href="{url_m.php}">{lang Member_Center}</a>&nbsp;&nbsp;|</li>

				<li><a href="{url_m.php?name=orderlist}">{lang My_Order}</a>&nbsp;&nbsp;|</li>

				<li><a href="{url_help.php}">{lang Help_Center}</a>&nbsp;&nbsp;|</li>

				<li id="Tools" class="top_tools"><a onclick="return false;" href="#">{lang Common_tools}</a>

          <ul class="tools" id="ToolsList" style="display:none">

            <li><a target="_blank" href="{url_page.php?action=estimates}">{lang Cost_estimates}</a></li>

            <li><a target="_blank" href="{url_page.php?action=measureconversion}">{lang Size_Conversion}</a></li>

            <li><a target="_blank" href="{url_page.php?action=postage}">{lang Shipping_prices}</a></li>

            <li><a target="_blank" href="http://www.123cha.com/hl/">{lang Exchange_rates}</a></li>

            <li><a target="_blank" href="{url_page.php?action=track}">{lang Package_Query}</a></li>

          </ul>

        </li>

		<li><a href="{url_index.php?l=cn}">中文</a> <a href="{url_index.php?l=en}">英文</a> <a href="{url_index.php?l=ewen}">俄文</a></li>

      </ul>

    </div>

    <div class="clear"></div>

  </div>

</div>

<!--end topPan-->

<!--logo-->

<div class="w980 h108">

  <div class="logo left"> <a href="#" title=""><img src="{TPL}images2/logo.gif" alt="" /></a> </div>

  <div class="oneKey right">

    <div class="urlName left gray">{lang Buy_Website}：</div>

    <div class="url left">

      <input type="text" name="" id="CrawlUrl" class="left orange" value="http://" />

    </div>

    <div class="btn left white"><a class="noUnderLine" id="CrawlBtn" href="javascript:;">{lang Quick_Shopping}</a></div>

  </div>

  <div class="tip left" id="CrawlPromt">{lang Purchasing_goods}！</div>

  <div class="clear"></div>

</div>

<!--end logo-->

<!--nav-->

<div class="nav_menu">

  <div class="nav_menu_fix">

  <span><a id="Default" href="{url_index.php}"><b><em><tt><i>{lang index}</i></tt></em></b></a></span> 

  <span><a id="see" href="{url_see.php}"><b><em><tt><i>{lang Casual_look}</i></tt></em></b></a></span>

  <span><a id="sharetao" href="{url_fen.php}"><b><em><tt><i>{lang daigou_share}</i></tt></em></b></a></span>

  <span><a id="songli" href="{url_songli.php}"><b><em><tt><i>{lang songli_country}</i></tt></em></b></a></span> 

  <span><a id="demo" href="{url_demo.php}"><b><em><tt><i>{lang Shopping_Demo}</i></tt></em></b></a></span>

  <span><a id="shop" href="{url_shop.php}"><b><em><tt><i>{lang Free_Goods}</i></tt></em></b></a></span> 

  <span><a id="guestbook" href="{url_guestbook.php}"><b><em><tt><i>{lang User_Reviews}</i></tt></em></b></a></span> 

  <span><a id="special" href="{url_special.php}"><b><em><tt><i>{lang news}</i></tt></em></b></a></span> 

  <span><a id="free_postage" href="{url_free_postage.php}"><b><em><tt><i style="background-position: left 100px;">{lang SB}</i></tt></em></b></a></span> 

  </div>

</div>

<!--end nav-->

