<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head><meta content="text/html; charset=utf-8" http-equiv="Content-Type">

<link type="text/css" rel="stylesheet" href="{TPL}css/help.css">

<link href="{TPL}css/NewTopFoot.css" rel="Stylesheet" type="text/css">

<link type="text/css" rel="stylesheet" href="{TPL}css/AddItemPanel.css">

<script type="text/javascript" src="{TPL}js/jquery-1.4.1.min.js"></script>

<script type="text/javascript" src="{TPL}js/jQuery.Extend.js"></script>

<script src="{TPL}js/jQuery.Drag.min.js" type="text/javascript"></script>

<script type="text/javascript" src="{TPL}js/jquery.cookies.2.1.0.min.js"></script>

<script src="{TPL}js/Gobal.js" type="text/javascript"></script>



<title>[{$cfg_site_name}] - {lang Help_Center}</title>

</head>

<body>



<form id="aspnetForm" action="List.aspx?cid=1" method="post" name="aspnetForm">

    {template 'header'}

    

    <div class="center">

        <div class="search">

            <div class="cz">

                {lang Find_Help}：</div>

            <div class="gjc">

                 <input type="text" onblur="if($.trim(this.value).length&lt;=0){this.className='s1';this.value='{lang Enter_keywords_purchasing}？'}" onfocus="if(this.className=='s1'){this.value='';this.className='s1_';}" value="{lang Enter_keywords_purchasing}" id="hkey" name="keyword" class="s1"><input type="submit" value="{lang Search}" onmouseout="this.className='s2'" onmouseover="this.className='s2_'" id="hbtn" name="" class="s2" onclick="">

            </div>

        </div>

        <div class="left_h">

            <h2 class="n1">

                <a title="{lang Help_Category}" href="{url_help.php}">{lang Help_Category}</a>

            </h2>

            <ul>

                {loop $atypearray $aval}

				{if $aval['node']==0}

                        <li><a href="{url_help.php?action=list&id=}{$aval['typeid']}">

                            {$aval['typename']}</a></li>

				{/if}

				{/loop}

                

            </ul>

            <h2 class="n2">

                <a title="{lang Questions}" href="{url_help.php?id=9}">{lang Questions}</a>

            </h2>

            <ul>

                 {loop $atypearray $aval}

				{if $aval['node']==7}               

                        <li><a href="{url_help.php?action=list&id=}{$aval['typeid']}">

                            {$aval['typename']}</a></li>

				{/if}

				{/loop}

                    

            </ul>

            <h2 class="n6">

                <a title="{lang Common_tools}" href="{url_tools.php}">{lang Common_tools}</a>

            </h2>

            

            <h2 class="n4">

                <a title="{lang User_Guide}" href="{url_help.php?action=view&id=82}">{lang User_Guide}</a>

            </h2>

            

        </div>

        

    <div class="right_h">

        <div class="weizhi">

            <p>

                 <b>{lang Location}：</b><a href="{url_help.php}">{lang Find_Help}</a><span>&gt;</span>{lang Help_Center}</p>

            <div>

             </div>

        </div>

        <div class="bt">

            <h1>

                {$value['title']}</h1>

        </div>

        <div class="content">

 

			{$value['body']}

 

 

        </div>

        <dl class="fy">

            <dd>{if !empty($nextvalue)}<a href="{url_help.php?action=view&id=$nextvalue[aid]}">{lang View_next}»</a>{/if}</dd>

            <dt><a onclick="$(document).scrollTop(0);" title="返回顶部"></a></dt>

        </dl>

        <div class="relational">

            <h2>

                {lang Help}</h2>

            <ul>

                {loop $articlelist $val}

                        <li><a href="{url_help.php?action=view&id=$val[aid]}">

                            {$val['title']}</a></li>

				{/loop}

            </ul>

        </div>

    </div>

    <div style="clear: both;" class="yj">

    </div>



    </div>

    <input type="text" style="display: none;">

    <div class="foot_h">

        <p>

            	{eval 

	$Table=new Tableclass('about','aid');

	$aboutlist=$Table->getdata('','','listorder asc,aid asc','title,aid');

}

{loop $aboutlist $r}

	<a href="{url_about.php?aid=$r['aid']}">{$r['title']}</a>&nbsp;|&nbsp;

{/loop}

        </p>


  {$cfg_site_bottomtxt} 

    </div>

    </form>



</body>