<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link type="text/css" rel="Stylesheet" href="{TPL}css/NewTopFoot.css" />
<link href="{TPL}css/AddItemPanel.css" rel="stylesheet" type="text/css" />

    <script src="{TPL}js/jquery-1.4.1.min.js" type="text/javascript"></script>

    <script src="{TPL}js/jQuery.Extend.js" type="text/javascript"></script>

    <script type="text/javascript" src="{TPL}js/jQuery.Drag.min.js"></script>

    <script src="{TPL}js/jquery.cookies.2.1.0.min.js"type="text/javascript"></script>

    <script type="text/javascript" src="{TPL}js/Gobal.js"></script>
    
    <link href="{TPL}css/special.css" rel="stylesheet" type="text/css" />
<title>
	{$value['title']} - {$cfg_site_name}
</title></head>
<body>
    <form name="" method="post" action="#" id="">

  {template 'header'}
    
    <div class="special">
	
	{$value['body']}
	
	
	</div>

	
{template 'footer'}
    </form>
</body>
</html>

