<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>[{$cfg_site_name}] - {lang The_largest_Shopping_Website}</title>

<meta name="keywords" content="{$cfg_site_keywords}" />

<meta name="description" content="{$cfg_site_description}" />

<link rel="stylesheet" type="text/css" href="css/layout.css">

</head>

<body>

{template 'header'}



<!--banner-->

<div class="w980 banner">

  <div class="w250 left notice">

    <div class="title_block"><span class="more"><a href="{url_news.php}">{lang more}</a></span>

      <h2><a href="{url_news.php}">{lang Announcement}</a></h2>

    </div>

    <ul>

	{loop $newsarray $i $r}

      <li><a {if $i<2}style="color:red"{/if} href="{url_news.php?action=view&nid=$r['nid']}" target="_blank" title="{$r['title']}">{$r['title']}</a></li>

    {/loop}

    </ul>

  </div>

  <div class="w750 right slide">

    <div id="SlidePlayer">

      <ul id="Slides" class="Slides" style="height: 825px; position: absolute; top: -275px;">

	  {loop $topcarray $r}

        <li><a title="{$r['title']}" href="{url_special.php?action=view&sid=$r['sid']}" target="_blank"><img src="{$r['pic']}" alt="{$r['title']}"></a></li>

		{/loop}	

      </ul>

      <ul class="SlideTriggers">

        <li class="">1</li>

        <li class="Current">2</li>

        <li class="">3</li>

      </ul>

    </div>

  </div>

  <div class="clear"></div>

</div>

<!--end banner-->

<!--box-->

<div class="w980 pt10 mb10">

  <div class="box_left left">

    <div class="box_1 left">

      <div class="title_blue"><span class="more"><a href="{url_see.php}">{lang more}</a></span>

        <h2>{lang what_to_buy}？</h2>

      </div>

      <div class="content">

        <div id="Slider">

          <div class="seeLoading"> <img src="images2/loading.gif" alt="{lang Data_Loading}..." />

            <p>{lang Data_Loading}...</p>

          </div>

          <ul>

          </ul>

        </div>

      </div>

    </div>

    <div class="bbs left">

      <div class="title_blue">

        <h2>{lang why_choose_us}</h2>

      </div>

      <div class="why_Use">

        <ul>

          <li><span class="why_1">{lang free}</span>

            <div class="why_box">

              <h3> {lang free}</h3>

              <p> {lang Free_services_inspection}。</p>

            </div>

          </li>

          <li><span class="why_2">{lang Save_money}</span>

            <div class="why_box">

              <h3> {lang Save_money}</h3>

              <p> {lang enjoy_discount_shipping}。</p>

            </div>

          </li>

          <li><span class="why_3">{lang Safe}</span>

            <div class="why_box">

              <h3> {lang Safe}</h3>

              <p> {lang Paypal_EMS_aftersale}。</p>

            </div>

          </li>

          <li><span class="why_4">{lang fast}</span>

            <div class="why_box">

              <h3> {lang fast}</h3>

              <p> {lang within24_process_response_timely}。</p>

            </div>

          </li>

        </ul>

      </div>

    </div>

    <div class="recommendpro left mt10">

      <div class="title_blue">

        <h2 class="left">{lang xb_Recommended}</h2>

		<div class="proList right"><a href="{url_recommend.php?action=list&tid=1}">{lang Clothing}</a> | <a href="{url_recommend.php?action=list&tid=2}">{lang Shoebag}</a> | <a

                                    href="{url_recommend.php?action=list&tid=3}">{lang Beauty}</a> | <a href="{url_recommend.php?action=list&tid=4}">{lang Home}</a> | <a

                                        href="{url_recommend.php?action=list&tid=5}">{lang Accessories}</a> | <a href="{url_recommend.php?action=list&tid=6}">{lang Food}</a></div>

      </div>

      <div class="content">

	   {loop $cptjarray $r}

        <div class="goodsitem">

          <div class="goodspic"><a target="_blank" href="{url_recommend.php?action=view&gid=$r['gid']}"><img alt="{$r['goodsname']}" src="{$r['goodsimg']}"></a></div>

          <p class="buynum">{lang Have_purchased}{$r['buynum']}{lang Pieces}</p>

          <p class="goodsname top5"><a href="{url_recommend.php?action=view&gid=$r['gid']}" target="_blank" title="{$r['goodsname']}">1111{$r['goodsname']}</a></p>

          <p class="goodsprice">￥1111{$r['goodsprice']}</p>

        </div>

		{/loop}

      </div>

    </div>

  </div>

  <!--end box_left-->

  <div class="box_right left">

    <div class="box_3 talkover">

      <div class="title_block"><span class="more"><a href="{url_guestbook.php}" target="_blank">{lang more}</a></span>

        <h2>{lang User_Forums}</h2>

      </div>

      <div class="content">

        <ul class="bbs_info">

		  {loop $dataarray $r}	

          <li>

            <div class="gst_img"><span class="gst_uname">{$r['uname']}</span><span class="gst_time">@{ddate('Y/m/d', $r['commenttime'])}</span>{lang speech}</div>

            <div class="gst_con"><a href="{url_talkover.php}" target="_blank">{substrs($r['comment'],24,1,1)}</a></div>

            

          </li>

		  {/loop}

        </ul>

      </div>

    </div>

    <div class="box_3 question mt10">

      <div class="title_block"><span class="more"><a href="{url_help.php}" target="_blank">{lang more}</a></span>

        <h2>{lang Questions}</h2>

      </div>

      <div class="content">

        <ul class="newslist">

          {loop $articlearray $r}

          <li><a href="{url_help.php?action=view&id=$r['aid']}" target="_blank" title="{$r['title']}">{$r['title']}</a></li>

          {/loop}

        </ul>

      </div>

    </div>

    <div class="contact mt10">

      <div class="content"> <span class="contact_tel">{lang tel}：{$cfg_index_tel}</span> <span class="contact_email">{lang Email_Address}：{$cfg_index_msnlink}</span> <span class="contact_msn">MSN：{$cfg_index_msnlink}</span> <span class="contact_qq">QQ：{$cfg_index_qqlink}</span> </div>

    </div>

  </div>

  <!--end box_right-->

  <div class="clear"></div>

</div>

<!--end box-->



{template 'footer'}

<script type="text/javascript" src="{TPL}js/indexSlide.js"></script>

<script type="text/javascript">

    $(function() {

        var e = function(n, b) {

            if (n.length > b) {

                return n.substring(0, b - 2) + "...";

            }

            return n;

        };		

		

        $.getJSON("/ajax/index_ajax.php?action=maqueeproduct&r=" + Math.random(),

        function(n) {

            var b = $("<ul></ul>");

            $("#Slider").empty().append(b);

            $.each(n,

            function(o, p) {

                b.append('<li><div class="detailed"><div class="pic"><a href="{url_see.php?type=}' + p.c + "#" + p.id + '"><img width=80 height=80 alt="' + p.n + '" src="' + p.p + '" /></a></div><div class="info"><h2><a href="{url_see.php?type=}' + p.c + "#" + p.id + '">' + e(p.n, 40) + "</a></h2><dl><dd><b>￥" + p.m + "</b><span>" + p.d + '</span></dd><dd class="i_bj">{lang Purchasing_information}：' + p.un + "{lang buywith}" + p.s + '</dd></dl></div></div><div class="concise"><p><a href="{url_see.php?type=}' + p.c + "#" + p.id + '">' + e(p.n, 25) + "</a></p><span>" + p.d + "</span></div></li>");

            }); (function(v, x) {

                var w = true;

                var u = b;

                var o = 0;

                var p;

                var t = 1;

                var y = u.find(".concise:eq(0)").outerHeight();

                u.scrollTop(0);

                u.children().each(function() {

                    o += $(this).outerHeight();

                });

                u.append(u.html());

                var q = u.find("li:eq(1)");

                $(q).find(".detailed").show();

                $(q).find(".concise").hide();

                var z = function() {

                    var s = u.scrollTop();

                    if (s >= o) {

                        q = u.find("li:eq(0)");

                        u.find(".detailed").hide();

                        $(q).find(".detailed").show();

                        $(q).find(".concise").hide();

                    }

                    u.scrollTop((s >= o ? 0 : s) + t);

                    if (u.scrollTop() % y == 0) {

                        r();

                    }

                };

                function r() {

                    t = 0;

                    if (w) {

                        setTimeout(function() {

                            $(q).find(".concise").show();

                            q = $(q).next("li:first");

                            if (!q) {

                                q = u.find("li:first");

                            }

                            u.find(".detailed").hide();

                            $(q).find(".detailed").show();

                            $(q).find(".concise").hide();

                            w = true;

                            t = 1;

                        },

                        x);

                    }

                    w = false;

                }

                u.find("li").mouseover(function() {

                    u.find(".detailed").hide();

                    $(this).find(".detailed").show();

                    $(this).find(".concise").hide();

                    clearInterval(p);

                });

                u.find("li").mouseout(function() {

                    u.find(".detailed").hide();

                    $(this).find(".concise").show();

                    $(q).find(".detailed").show();

                    $(q).find(".concise").hide();

                    p = setInterval(z, v);

                });

                p = setInterval(z, v);

            })(30, 3000);

        });

    });

</script>

</body>

</html>

