<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link href="{TPL}css/NewTopFoot.css" rel="Stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="{TPL}css/AddItemPanel.css">
<link href="{TPL}css/public.css" rel="Stylesheet" type="text/css">
<link type="text/css" id="styleName" rel="stylesheet" href="{TPL}css/blue/color.css"/ > 
<script type="text/javascript" src="{TPL}js/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="{TPL}js/wdggcGobal.js"></script>
<script type="text/javascript" src="{TPL}js/Country.js"></script>
<title>
	{lang My_Points} -{$cfg_site_name}
</title></head>
<body>



    <form action="m.php?name=edituserinfo&action=save" method="post" enctype="multipart/form-data" name="aspnetForm" id="aspnetForm">

{template 'header'}

    <div class="admin">
        <div class="ding">
            <div class="shouye">
                <a href="{url_m.php}" title="我的会员中心"></a>
            </div>
            <div class="lb">
               <div class="weizhi">
                      <b>{lang Location}：</b><a href="{url_m.php}">{lang Member_Center}</a><span>&gt;</span>{lang Edit_information}
                  </div>
                
                <div class="shezhi">
                    <p>
                        <a href="{url_m.php}">{lang My_Member_Center}</a><span>|</span>{lang Setting_style}：</p>
                    <ul>
                        <li onClick="changeStyle('orange')" class="mypanliS1"></li>
                        <li onClick="changeStyle('grey')" class="mypanliS2"></li>
                        <li onClick="changeStyle('blue')" class="mypanliS3"></li>
                    </ul>
              </div>
            </div>
        </div>

{template 'member_left'}  

    <div class="fill">
    
       <table cellpadding="0" cellspacing="5" class="rjiandan">
        <thead>
            <tr>
                <th class="p_common" colspan="4">
                   {lang Modify_Profile}                </th>
          </tr>
            <tr>
                <td colspan="4">                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="149">&nbsp;                </td>
                <td width="83">
                    {lang Real_Name}：                </td>
                <td align="left" width="429">
                    <input type="text" class="inp1" id="" maxlength="250" name="tname" value="{$value['tname']}">
                    <span style="color: Red; visibility: hidden;" id="">{lang fill_real_name}</span>                </td>
                <td width="134" rowspan="5"><a href="###" style="padding:2px; border:#f60 solid 2px; width:120px; height:120px;float:left"><img onerror="this.src='{TPL}images/noimg120.gif'" alt="{$_USERS['showname']}" src="{$_USERS['face']}" width="120" height="120"></a></td>
            </tr>
            <tr>
                <td>&nbsp;                </td>
                <td>
                    {lang sex}：                </td>
                <td align="left">
                    <select id="" name="sex">
                      <option value="1" {if $value['sex']==1}selected="selected"{/if}>{lang Men}</option>
                      <option value="0" {if $value['sex']==0}selected="selected"{/if}>{lang women}</option>
                                        </select>                </td>
            </tr>
            <tr>
                <td>&nbsp;                </td>
                <td>
                    {lang Zip_code}：                </td>
                <td align="left">
                    <input name="zip" type="text" class="inp1" id="" value="{$value['zip']}" maxlength="20">                </td>
            </tr>
            <tr>
                <td>&nbsp;                </td>
                <td>
                    {lang tel}：                </td>
                <td align="left">
                    <input name="tel" type="text" class="inp1" id="" value="{$value['tel']}" maxlength="50">                </td>
            </tr>
            <tr>
                <td>&nbsp;                </td>
                <td>
                   {lang address}：                </td>
                <td align="left">
                    <input name="address" type="text" class="inp1" id="" style="width: 245px;" value="{$value['address']}" maxlength="800">                </td>
            </tr>
            <tr>
                <td>&nbsp;                </td>
                <td>
                   {lang State}：                </td>
              <td align="left">
			  <select name="country" id="">
			   <script type="text/javascript">
				document.write(COUNTRY.ToSelect('{$value['country']}'));
			  </script>
			  </select>
                  <span style="color: Red; visibility: hidden;" id="">{lang select_state}</span>
                  <span style="color: Red; visibility: hidden;" id="">{lang input_state_n}</span>                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td> {lang city}： </td>
              <td align="left"><input name="city" type="text" class="inp1" id="" value="{$value['city']}" maxlength="128" />
                  <span style="color: Red; visibility: hidden;" id="">{lang input_city_name}</span> </td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td> QQ： </td>
              <td align="left"><input name="qq" type="text" class="inp1" id="qq" value="{$value['qq']}" maxlength="128" />
                  <span style="color: Red; visibility: hidden;" id="">{lang input_qq}</span> </td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td> msn： </td>
              <td align="left"><input name="msn" type="text" class="inp1" id="msn" value="{$value['msn']}" maxlength="128" />
                  <span style="color: Red; visibility: hidden;" id="">{lang input_msn}</span> </td>
              <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;                </td>
                <td>
                    {lang Upload_picture}：                </td>
                <td align="left" colspan="2">
				 	<input type="hidden"  id="" name="oldface" value="{$value['face']}">
                    <input type="file"  id="faceimg[]" name="faceimg[]">
                    <div id="pnPreview"></div>                </td>
            </tr>
			<tr>
				<td>&nbsp;</td>
				<td>{lang Tips}：</td>
				<td><span style="color:#ff8000;">{lang Upload_picture_limited_format_images}</span></td>
			</tr>
            <tr>
                <td>&nbsp;                </td>
                <td>                </td>
                <td colspan="2">
                    <input type="submit" class="inputblue" id="" onClick="" value="{lang Submitted}" name="commit" />                </td>
            </tr>
        </tbody>
    </table>
    
    </div>


      <div class="yj">
      </div>
    </div>

    
{template 'footer'}

</form>
</body>
</html>