<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link type="text/css" rel="stylesheet" href="{TPL}css/AddItemPanel.css">
<link type="text/css" rel="stylesheet" href="{TPL}css/NewTopFoot.css"  />
<link type="text/css" id="styleName" rel="stylesheet" href="{TPL}css/blue/color.css"/ >    
<link type="text/css" rel="stylesheet" href="{TPL}css/preferential.css"/>
<script src="{TPL}js/jquery-1.4.1.min.js" type="text/javascript"></script>
<script src="{TPL}js/Gobal.js" type="text/javascript"></script>
<script type="text/javascript" src="{TPL}js/wdggcGobal.js"></script>

<title>{lang My_Coupons} - {$cfg_site_name}</title>
</head>

<body>

{template 'header'}

<div class="admin">
        <div class="ding">
            <div class="shouye">
                <a title="我的会员中心" href="{url_m.php}"></a>
            </div>
            <div class="lb">
               <div class="weizhi">
                      <b>{lang Location}：</b><a href="{url_m.php}">{lang Member_Center}</a><span>&gt;</span>{lang My_Coupons}
                  </div>
                
                <div class="shezhi">
                    <p>
                        <a href="{url_m.php}">{lang My_Member_Center}</a><span>|</span>{lang Setting_style}：</p>
                    <ul>
                        <li onclick="changeStyle('orange')" class="mypanliS1"></li>
                        <li onclick="changeStyle('grey')" class="mypanliS2"></li>
                        <li onclick="changeStyle('blue')" class="mypanliS3"></li>
                    </ul>
                </div>
            </div>
        </div>

		
{template 'member_left'}
        
    <div class="fill">
        <div class="p_top">
            <div class="p_pic">
                <img alt="优惠券" src="{TPL}images/preferential.gif">
            </div>
            <div class="p_right">
                <div class="p_info">
                    <h2>
                      {lang Dear}<span style="color:orange;">{$UTYPENAME[$_USERS['utype']]}</span>【{$_USERS['showname']}】，{lang Hello}！</h2>
                    <ul><li>{if empty($dataarray)}{lang currently_use_coupons_discouraged}。{/if}</li><li><a target="_blank" href="{url_help.php?action=view&id=87}">{lang How_get_e_coupons}&gt;&gt;</a></li></ul>
                    <p>
                       {lang You_currently_have_points}：<span>{$_USERS['scores']}</span><a href="{url_m.php?name=coupon&action=getcoupon}"> {lang Redeem_electronic_coupons}&gt;&gt;</a></p>
                </div>
                <div class="ask">
                    <h2></h2><ul>
				{php $helparray=helplist(5,'')}
				{loop $helparray $r}
                    <li><a target="_blank" href="{url_help.php?action=view&id=$r['aid']}">{$r['title']}</a></li>
				{/loop}

					
					
					
					</ul>
                </div>
                <div class="tieshi">
                   {lang Site_Tips}：{lang Electronic_e_coupons_offset_service_charges}。
                </div>
            </div>
        </div>
        <div class="chaozuo">
            <ul>
                <li>
                    <div class="tu">
                        <img alt="{lang E_Coupon_activated}" src="{TPL}images/t1.gif">                    </div>
                    <div class="gy">
                        <h2>
                            <a href="{url_m.php?name=coupon&action=active}">{lang E_Coupon_activated}</a></h2>
                        <p>
                            {lang click_enter_activate_slightly}！</p>
                    </div>
                </li>
                <li>
                    <div class="tu">
                        <img alt="{lang coupon_area_electronics}" src="{TPL}images/t2.gif">
                    </div>
                    <div class="gy">
                        <h2>
                            <a href="{url_m.php?name=coupon&action=present}">{lang coupon_area_electronics}</a></h2>
                        <p>
                           {lang E_coupons_presented_your_friends}！</p>
                    </div>
                </li>
                <li>
                    <div class="tu">
                        <img alt="{lang E_coupons_sale_area}" src="{TPL}images/t3.gif">
                    </div>
                    <div class="gy">
                        <h2>
                            <a href="{url_m.php?name=coupon&action=sell}">{lang E_coupons_sale_area}</a></h2>
                        <p>
                           {lang E_coupons_to_in_this_sale}！</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="jf_xz">
            <ul>
                <li class="o">{lang My_Coupons}</li>
            </ul>
            <p>
                <a target="_blank" href="{url_coupon.php}">{lang City_stroll_electronic_discount_brokerage}&gt;&gt;</a></p>
        </div>
        <div class="jilu">

{if !empty($dataarray)}            
<DIV id=userCouponListPanel class="biao my"><TABLE>
<TBODY>
<TR>
<TH class=w1>{lang Period} </TH>
<TH class=w2>{lang num} </TH>
<TH class=w3>{lang Face_value}<SPAN>(￥)</SPAN> </TH>
<TH class=w4>{lang Accessibility} </TH>
<TH class=w5>{lang Status} </TH></TR>
</TBODY></TABLE>
<TABLE id=userCouponList>
<TBODY>
{loop $dataarray $key $r}
<tr {if $key%2==1}class="hui"{/if}>
<td class="w1">{eval if($r['endtime']!=0)echo date('Y-m-d',$r['endtime']);else echo '{lang Inactive}'}</td>
<td class="w2">{$r['sn']}</td>
<td class="w3">{$r['money']}</td>
<td class="w4">{$r['getwayname']}</td>
<td class="w5"> <span>{$r['statename']}</span></td>
</tr>
{/loop}

</TBODY>
</TABLE>
<DIV id=ajaxPager class=page-bottom></DIV>
<DIV style="CLEAR: both">&nbsp;</DIV></DIV>			
			
{else}			
<div class="biao mei">{lang currently_use_coupons_discouraged}。<br><a target="_blank" href="{url_help.php}">{lang How_get_e_coupons}&gt;&gt;</a></div>			
			
{/if}		
			
			
			
        </div>
    </div>

        <div class="yj">
        </div>
    </div>

    
		
{template 'footer'}
</body>
</html>
