<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link href="{TPL}css/NewTopFoot.css" rel="Stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="{TPL}css/AddItemPanel.css">
<script type="text/javascript" src="{TPL}js/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="{TPL}js/jQuery.Extend.js"></script>
<script src="{TPL}js/jQuery.Drag.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{TPL}js/jquery.cookies.2.1.0.min.js"></script>
<script src="{TPL}js/Gobal.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="{TPL}css/Recommend.css">
<script type="text/javascript" src="{TPL}js/RecommendRun.js"></script>
 
<meta content="{lang Recommendation_purchasing_apparel_skin_care_food}" name="keywords">
<meta content="{lang What_Shopping_what_delicious_Chinese_you}" name="description">
    
<title>
	[{$cfg_site_name}-{lang Recommended}] -{lang Chinese_purchase_purchasing_immediately}！
</title></head>
<body>
{template 'header'}

  <div class="recommend">
    <div class="leftpan">
            <div class="dh">
                <h2 style="font-family:微软雅黑,Arial;">{lang hot_goods_type}
                </h2>
              <ul>
                    <li><a title="{lang Clothing}" href="{url_recommend.php?action=list&tid=1}" class="q1">{lang Clothing}<span class="slogan">{lang Enlist_Clothing}</span></a></li>
                    <li><a title="{lang Shoebag}" href="{url_recommend.php?action=list&tid=2}" class="q2">{lang Shoebag}<span class="slogan">{lang Enlist_Shoebag}</span></a></li>
                    <li><a title="{lang Beauty}" href="{url_recommend.php?action=list&tid=3}" class="q3">{lang Beauty}<span class="slogan">{lang Recommend_bueaty}</span></a></li>
                    <li><a title="{lang Home}" href="{url_recommend.php?action=list&tid=4}" class="q4">{lang Home}<span class="slogan">{lang bulid_home}</span></a></li>
                    <li><a title="{lang Accessories}" href="{url_recommend.php?action=list&tid=5}" class="q5">{lang Accessories}<span class="slogan">{lang Enlist_Accessories}</span></a></li>
                    <li><a title="{lang Food}" href="{url_recommend.php?action=list&tid=6}" class="q6">{lang Food}<span class="slogan">{lang Enlist_Food}</span></a></li>
              </ul>
            </div>
            <div class="ranking">
                <div class="phb">
                    <h2  style="font-family:微软雅黑,Arial;">{lang Purchasing_ranking}
                    </h2>
                </div>
                <div class="ph">
                    
                    {loop $leftarray $key $r}
                    <dl>
                        <dt {if $key==0}style="display: block;"{else}style="display: none;"{/if}>
                            <div class="img">
                                <a target="_blank" href="{url_recommend.php?action=view&gid=$r['gid']}">
                                <img alt="{$r['goodsname']}" src="{$r['goodsimg']}">
                                </a>
                            </div>
                            <div class="xiangxi">
                                <h1>
                                    <b>
                                        1.</b> <a target="_blank" href="{url_recommend.php?action=view&gid=$r['gid']}">
                                            {substrs($r['goodsname'],45)}</a>
                                </h1>
                                <label>
                                    {$r['goodsprice']}</label>
                                <p>
                                    {lang Source_Site}：<span>{$r['shopname']}</span></p>
                            </div>
                        </dt>
                        <dd {if $key==0}style="display: none;"{else}style="display: block;"{/if}>
                            <span>{echo $key+1}</span>
                            <p>
                                <a target="_blank" href="{url_recommend.php?action=view&gid=$r['gid']}">
                                    {substrs($r['goodsname'],45)}</a>
                            </p>
                        </dd>
                    </dl>
					{/loop}

                </div>
            </div>
    </div>
        <div class="rightpan">
            <dl class="gs">
                <dt>
                  <h2  style="font-family:微软雅黑,Arial;">{lang Our_recommend}</h2></dt>
                <dd>
                    <ul>
                        <li>{lang fashionable_selection_merchandise}！</li>
                        <li>{lang Easy_purchasing_whole_China}！</li>
                    </ul>
                </dd>
            </dl>
            <div class="gundong">
                <div id="MainPromotionBanner">
                    <div id="SlidePlayer" style="height: 275px;">
                        <ul id="Slides" class="Slides" style="height: 825px; position: absolute; top: -275px;">
						
								{loop $topcarray $r}
						<li><a title="{$r['title']}" href="{url_special.php?action=view&sid=$r['sid']}" target="_blank"><img src="{$r['pic']}" alt="{$r['title']}"></a></li>
					{/loop}	

						
						
						</ul><ul class="SlideTriggers"><li class="">1</li><li class="Current">2</li><li class="">3</li></ul>
                        
                    </div>
                </div>
            </div>
            <div class="xbtj">
                <h2>
                  {lang xb_Recommended}</h2>
                <p>
                    <a href="{url_recommend.php?action=list&tid=1}">{lang Clothing}</a>&nbsp;|&nbsp;
					<a href="{url_recommend.php?action=list&tid=2}">{lang Shoebag}</a>&nbsp;|&nbsp;
					<a href="{url_recommend.php?action=list&tid=3}">{lang Beauty}</a>&nbsp;|&nbsp;
					<a href="{url_recommend.php?action=list&tid=4}">{lang Home}</a>&nbsp;|&nbsp;
					<a href="{url_recommend.php?action=list&tid=5}">{lang Accessories}</a>&nbsp;|&nbsp;
					<a href="{url_recommend.php?action=list&tid=6}">{lang Food}</a>
					</p>
            </div>
            <div class="lb">
                

			{loop $rightarray $key $r}
                
                <dl>
                    <dt><a target="_blank" href="{url_recommend.php?action=view&gid=$r['gid']}">
                        <img alt="{$r['goodsname']}" src="{$r['goodsimg']}"></a></dt>
                    <dd>
                        <h1>
                            <a target="_blank" href="{url_recommend.php?action=view&gid=$r['gid']}">
                            {$r['goodsname']}
							</a></h1>
                        <ul>
                            <li><b>￥{$r['goodsprice']}</b></li>
                            <li>
                                <label>
                                    {lang Sources_business}：
                                </label>
                                <span><i>
                                    {$r['shopname']}</i></span><a target="_blank" href="{$r['sellerurl']}"><i>{$r['goodsseller']}</i></a></li>
                            <li>
                                <label>
                                    {lang Recommendation_Index}：
                                </label>
                                <div>
                                  <img alt="{$r['goodsname']}" src="{TPL}images/star{$r['rindex']}.gif"></div>
                            </li>
                        </ul>
                    </dd>
               </dl>
		{/loop}               
                <div style="clear: both;">
                </div>
            </div>
				<!--好友推荐模块-->
			 <div class="xbtj">
                <h2>
                  {lang user_recommend}</h2>
                <p>					
                    <a href="{url_recommend.php?action=list&tid=1}">{lang Clothing}</a>&nbsp;|&nbsp;
					<a href="{url_recommend.php?action=list&tid=2}">{lang Shoebag}</a>&nbsp;|&nbsp;
					<a href="{url_recommend.php?action=list&tid=3}">{lang Beauty}</a>&nbsp;|&nbsp;
					<a href="{url_recommend.php?action=list&tid=4}">{lang Home}</a>&nbsp;|&nbsp;
					<a href="{url_recommend.php?action=list&tid=5}">{lang Accessories}</a>&nbsp;|&nbsp;
					<a href="{url_recommend.php?action=list&tid=6}">{lang Food}</a>
					</p>        
			</div>
            <div class="lb">
			{loop $rightuserarray $key $r}
                
                <dl style="height:auto;">
                    <dt><a target="_blank" href="{url_recommend.php?action=view&gid=$r['gid']}">
                        <img alt="{$r['goodsname']}" src="{$r['goodsimg']}" style="height:115px;" /></a></dt>
                    <dd>
                        <h1>
                            <a target="_blank" href="{url_recommend.php?action=view&gid=$r['gid']}">
                            {$r['goodsname']}
							</a></h1>
                        <ul>
                            <li><b>￥{$r['goodsprice']}</b></li>
                            <li>
                                <label>
                                    {lang Sources_business}：
                                </label>
                                <span><i>
                                    {$r['shopname']}</i></span><a target="_blank" href="{$r['sellerurl']}"><i>{$r['goodsseller']}</i></a></li>
                            <li>
                                <label>
                                   {lang Recommendation_Index}：
                                </label>
                                <div>
                                  <img alt="{$r['goodsname']}" src="{TPL}images/star{$r['rindex']}.gif" /></div>
                            </li>
							  <li>
                                <label>
                                    {lang Recommended}：
                                </label>
                                
                                   <i>{$r['uname']}</i>
                            </li>
							
                        </ul>
                    </dd>
					<label>{lang Recommended_reason}：</label><label>{substrs($r['why'],48,0,1)}</label>
                </dl>
		{/loop}
                <div style="clear: both;width:86px;height:58px;">
                </div>
            </div>
    <!--好友推荐模块-->
    </div>
    </div>  
{template 'footer'}
</body>
</html>
