<div id="bdw" class="bdw">
	<div id="bd" class="cf">
		<div id="signuped">
			<div id="content" class="signup-box">

				<div class="box">
					<div class="box-top"></div>
					<div class="box-content">
						
						<div class="head {$css}">
							<h2>{$tip}！</h2>
						</div>
						<div class="sect">
							<div class="notice">

								<p></p>
								
							</div>
							<div class="notice">
								<p>{$msg}</p>
							</div>
												<div class="notice">
								<p>{lang System_will} <span style="color:blue;font-weight:bold">3</span> {lang Seconds_automatically_jump}<a href="{$gourl}">{lang here}</a> {lang Jump}</p>

							</div>
						</div>					</div>
					<div class="box-bottom"></div>
				</div>
			</div>
			<div id="sidebar"> </div>
		</div>
	</div>

	<!-- bd end -->
</div>