<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{TPL}css/NewTopFoot.css" rel="Stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="{TPL}css/AddItemPanel.css">
<script src="{TPL}js/jquery-1.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{TPL}js/Gobal.js"> </script>
<link href="{TPL}css/see.css" rel="Stylesheet" type="text/css">
<title>{lang Discussion_groups} - {$cfg_site_name}</title>
<style type="text/css">
.pages {float:right;height:25px;display:inline;}
.pages li{list-style-type: none;}
.pages  a{text-decoration:none;}
.pages li{
border:1px solid #AAAAAA;color:#666666;display:inline;float:left;height:20px;line-height:20px;margin-left:2px;padding:0 5px;text-decoration:none;}
.pages li {border:1px solid #DDDDDD;color:#CCC;font-family:"simsun";}
.pages li:hover {background:#FFEDE1;border:1px solid #FF9900;}
.pages .current {background:#FFEDE1;border:1px solid #FF6600;color:#FF0000;}
.pages em {color:#999999;display:inline;float:left;height:22px;line-height:22px;margin-left:5px;}
.deals{margin-bottom:10px;}
</style>
</head>

<body>
{template 'header'}

<div class="see">
  <div class="see_main_left mar_right_10">
    <div class="deals">
      <div class="top fudong"><img src="{TPL}images/bg_scodtop.png" width="670" height="8" /></div>
      <div class="mid">
        <div class="gbt_line">{lang Advisory}
          <div style="font-size: 14px; text-align: right;"> <a href="{url_user.php?action=login}">{lang login}</a> / <a href="{url_user.php?action=register}">{lang register}</a> </div>
        </div>
        <div class="sect">
          <div class="daelog">
            <ul>
			
			
			{loop $dataarray $r}
			
              <a name="{$r['gid']}" id="{$r['gid']}"></a>
              <li>
                <div class="l"><img src="{$r['face']}" onerror="this.src='{TPL}images/untitled.jpg'"/></div>
                <div class="r"> <span class="zi_hui">{$r['uname']} {ddate("Y-m-d",$r['addtime'])}</span><br />
                  {$r['msg']} <br />
				  {if !empty($r['reply'])}
                  <div class="huifu">{lang Reply}：{$r['reply']}</div>
				  {/if}
                </div>
              </li>
			  
			{/loop}
			  
              <li></li>
            </ul>
          </div>
        
       {echo pagelist($total,$pagesize,$page,"");}
        </div>
      </div>
      <div class="bom"><img src="{TPL}images/bg_scodbom.png" /></div>
    </div>
  </div>
  
    <div class="see_left">
      <div class="pltj">
        <div class="lm">
          <h2 class="tit_dian_h2">{lang Our_recommend}</h2>
          <span><a target="_blank" href="{url_recommend.php}">{lang more}..</a> </span> </div>
        <ul>
		
		
		{loop $rightarray $r}
		
          <li>
            <dl>
              <dt><a target="_blank" href="{url_recommend.php?action=view&gid=$r['gid']}"> <img alt="{$r['goodsname']}" src="{$r['goodsimg']}"></a></dt>
              <dd>
                <h1> <a target="_blank" href="{url_recommend.php?action=view&gid=$r['gid']}"> {substrs($r['goodsname'],45)}</a></h1>
                <p> {lang price}：<span> ￥{$r['goodsprice']}</span></p>
                <div> {lang Source}：<a target="_blank" href="{$r['sellerurl']}">{$r['goodsseller']}</a></div>
                <b><a href="###">[{$r['shopname']}]</a></b> </dd>
            </dl>
          </li>

		{/loop}
		  
		  

        </ul>
      </div>
      <div class="see_zk" style="">
        <div class="lm">
          <h2 class="tit_dian_h2">{lang Discount_information}</h2>
          <span><a href="{url_discount.php}">{lang more}..</a></span></div>
        <ul>
		{loop $discountarray $r}
          <li>
            <h3><a target="_blank" href="{url_discount.php?action=view&did=$r['did']}">{$r['title']}</a></h3>
            <p>{$r['about']}<a target="_blank" href="{url_discount.php?action=view&did=$r['did']}">{lang Details1}&gt;&gt;</a></p>
          </li>
		{/loop}
		
        </ul>
      </div>
  </div>
</div>
{template 'footer'}
</body>
</html>
