<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head><meta content="text/html; charset=utf-8" http-equiv="Content-Type">

<link type="text/css" rel="stylesheet" href="{TPL}css/help.css">

<link href="{TPL}css/NewTopFoot.css" rel="Stylesheet" type="text/css">

<link type="text/css" rel="stylesheet" href="{TPL}css/AddItemPanel.css">

<script type="text/javascript" src="{TPL}js/jquery-1.4.1.min.js"></script>

<script type="text/javascript" src="{TPL}js/jQuery.Extend.js"></script>

<script src="{TPL}js/jQuery.Drag.min.js" type="text/javascript"></script>

<script type="text/javascript" src="{TPL}js/jquery.cookies.2.1.0.min.js"></script>

<script src="{TPL}js/Gobal.js" type="text/javascript"></script>

<title>[{$cfg_site_name}] - {lang Help_Center}</title>

</head>

 <body>





<form id="aspnetForm" action="{url_help.php?action=list}" method="post" name="aspnetForm">

<!--    <div class="top">

        <div class="logo">

            <a href="/">

                <img alt="代购系统" src="{TPL}images/index_03.gif"></a>

            <p>

                <a href="{url_help.php}">

                    <img alt="帮助中心" src="{TPL}images/help_zx.gif"></a></p>

        </div>

        <div class="top_r">

            <div class="nav">

                <ul>

                    <li><a href="/">{lang index}</a></li>

                    <li><a href="{url_see.php}">{lang Casual_look}</a></li>

                    <li><a href="{url_recommend.php}">{lang Recommend}</a></li>

                    <li><a href="{url_demo.php}">{lang Shopping_Demo}</a></li>

                    <li><a href="{url_discount.php}">{lang Discount_information}</a></li>

                    <li><a href="{url_special.php}">{lang news}</a></li>

                    <li><a href="{url_free_postage.php}">{lang SB}</a></li>

                    <li><a href="{url_guestbook.php}">{lang User_Reviews}</a></li>

                    <li class="wu"><a href="##">论坛</a></li>

                </ul>

            </div>

            <div class="login">

                <ul>

                    <li class="che"><a href="{url_shoppingcart.php}">{lang Add_Cart}<span>({$_CARTCOUNT})</span></a></li>

                    <li class="che"><a href="{url_m.php?name=orderlist}">{lang delivery_vehicles}</a></li>

                    

                </ul>

			{if empty($_USERS)}

                <p id="Gobal_LoginInfo" class="login-info">{lang hello}！{lang visitor} {lang please} <a href="{url_user.php?action=login}">[{lang login}]</a> {lang or} <a href="{url_user.php?action=register}">[{lang register}]</a></p>

			{else}

				 <p class="login-info" id="Gobal_LoginInfo">{lang hello}！{$_USERS['uname']} [<a href="{url_user.php?action=quit}">{lang out}</a>]&nbsp;&nbsp;<a href="{url_m.php?name=pm}" target="_blank"><img src="{TPL}images/an2.gif" style="margin-right: 3px;">{lang SMS}<span style="color: rgb(255, 255, 0);">({$_USERS['pm']})</span></a></p>

			{/if}

            </div>

        </div>

    </div>-->

    {template 'header'}

	

	



	

    <div class="center">

        <div class="search">

            <div class="cz">

                {lang Find_Help}：</div>

            <div class="gjc">

                <input type="text" onblur="if($.trim(this.value).length&lt;=0){this.className='s1';this.value='{lang Enter_keywords_purchasing}？'}" onfocus="if(this.className=='s1'){this.value='';this.className='s1_';}" value="{lang Enter_keywords_purchasing}" id="hkey" name="keyword" class="s1"><input type="submit" value="搜索" onmouseout="this.className='s2'" onmouseover="this.className='s2_'" id="hbtn" name="" class="s2" onclick="">

            </div>

        </div>

        <div class="left_h">

            <h2 class="n1">

                <a title="{lang Help_Category}" href="{url_help.php}">{lang Help_Category}</a>

            </h2>

            <ul>

                {loop $atypearray $aval}

				{if $aval['node']==0}

                        <li><a href="{url_help.php?action=list&id=}{$aval['typeid']}">

                            {$aval['typename']}</a></li>

				{/if}

				{/loop}

                

            </ul>

            <h2 class="n2">

                <a title="{lang Questions}" href="{url_help.php?id=9}">{lang Questions}</a>

            </h2>

            <ul>

                 {loop $atypearray $aval}

				{if $aval['node']==7}               

                        <li><a href="{url_help.php?action=list&id=}{$aval['typeid']}">

                            {$aval['typename']}</a></li>

				{/if}

				{/loop}

                    

            </ul>

            <h2 class="n6">

                <a title="{lang Common_tools}" href="{url_tools.php}">{lang Common_tools}</a>

            </h2>

            

            <h2 class="n4">

                <a title="{lang User_Guide}" href="{url_help.php?action=view&id=82}">{lang User_Guide}</a>

            </h2>

            

        </div>

        

    <div class="right_h">

        <div class="weizhi">

            <p>

                <b>{lang Location}：</b><a href="{url_help.php}">{lang Help_Home}</a><span>&gt;</span>{lang Common_tools}</p>

            <div>

              </div>

        </div>

        <div class="fenlei_h">

        {loop $rightatypearray $aval}

		

            <h2>{$aval['typename']}</h2>

            <ul>

                {loop $rightarticlearray $val}

				{if $val['typeid']==$aval[typeid]}

                <li><a href="{url_help.php?action=view&id=$val[aid]}">{$val['title']}</a></li>

				{/if}

				{/loop}

            </ul>

			

        {/loop}

		

		

		

		    

        </div>

    </div>

	    <div class="gongju">

        <dl>



            <dt>

                <img src="{TPL}images/g1.jpg" /></dt>

            <dd>

                <h2>

                    <a href="{url_page.php?action=postage}" target="_blank">{lang Shipping_prices}</a></h2>

                <p>{lang international_freight_method_choose_delivery}！</p>

            </dd>



        </dl>

        <dl>

            <dt>

                <img src="{TPL}images/g2.jpg" /></dt>

            <dd>

                <h2>

                    <a href="{url_page.php?action=measureconversion}" target="_blank">{lang Size_Conversion}</a></h2>

                <p>{lang provide_China_international_conversion}！</p>

            </dd>

        </dl>

        <dl>

            <dt>

                <img src="{TPL}images/g3.jpg" /></dt>

            <dd>

                <h2>



                    <a href="{url_page.php?action=estimates}" target="_blank">{lang Cost_estimates}</a></h2>

                <p>{lang Before_purchasing_estimation_purchasing_costs}！</p>

            </dd>

        </dl>

        <dl>

            <dt>

                <img src="{TPL}images/g4.jpg" /></dt>



            <dd>

                <h2>

                    <a href="http://www.123cha.com/hl/" target="_blank">{lang Exchange_rates}</a></h2>

                <p>{lang Check_premium_recharge_exchange_conversion}！</p>

            </dd>

        </dl>

        <dl>



            <dt>

                <img src="{TPL}images/g5.jpg" /></dt>

            <dd>

                <h2>

                    <a href="{url_page.php?action=track}" target="_blank">{lang Package_Query}</a></h2>

                <p>{lang Package_check_package_information_delivery}</p>

            </dd>



        </dl>

    </div>

    <div style="clear: both;" class="yj">

    </div>



    </div>

    <input type="text" style="display: none;">

    <div class="foot_h">

        <p>
        	{eval 

	$Table=new Tableclass('about','aid');

	$aboutlist=$Table->getdata('','','listorder asc,aid asc','title,aid');

}

{loop $aboutlist $r}

	<a href="{url_about.php?aid=$r['aid']}">{$r['title']}</a>&nbsp;|&nbsp;

{/loop}

        </p>

  {$cfg_site_bottomtxt} 
    </div>

    </form>



</body>