<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="keywords" content="{$value['title']},{$cfg_site_name}" />

<link type="text/css" rel="Stylesheet" href="{TPL}css/NewTopFoot.css" />

<link href="{TPL}css/AddItemPanel.css" rel="stylesheet" type="text/css" />

<script src="{TPL}js/jquery-1.4.1.min.js" type="text/javascript"></script>

<script src="{TPL}js/jQuery.Extend.js" type="text/javascript"></script>

<script type="text/javascript" src="{TPL}js/jQuery.Drag.min.js"></script>

<script src="{TPL}js/jquery.cookies.2.1.0.min.js" type="text/javascript"></script>

<script type="text/javascript" src="{TPL}js/Gobal.js"></script>

<link href="{TPL}css/discount.css" rel="stylesheet" type="text/css" />

<title>{$value['title']} - {$cfg_site_name}</title>

</head>

<body>



<form name="aspnetForm" method="post" action="Detail.aspx?nid=434" id="aspnetForm">



 {template 'header'}

 

  <div class="weizhi">

    <p> <b>{lang Location}:</b><a href="/">{lang index}</a>&nbsp;&gt;&nbsp;<a href="{url_zhe.php}">{lang Discount_information}</a>&nbsp;&gt;&nbsp;{$value['title']}</p>

  </div>

  <div class="center">

    <div class="zuo">

      <div class="details">

        <h1> {$value['title']}</h1>

        <p class="zhaiyao"> <span>{lang Source}：{$cfg_site_name}</span><span> {lang editor} : {lang Administrator}</span><span>{lang time}：{ddate('Y-m-d',$value['addtime'])}</span> </p>

        <div class="zw">

		

		{$value['body']}

		  

        </div>

        <div class="shangjia">

          <ul>

            <li>{lang Source_Site}：{$value['fromshop']}</li>

            <li>{lang Discount_Time}：{$value['discounttime']}</li>

            <li> {lang Activities_url_address}：<a href="{$value['discounturl']}" title='{$value['discounturl']}' target="_blank">{$value['discounturl']}</a></li>

          </ul>

        </div>

      </div>

      <div class="remen">

        <div class="lm">{lang Hot_Discount_information}</div>

        <ul>

		{loop $topcarray $r}

           <li><a href="{url_zhe.php?action=view&did=$r['did']}">{$r['title']}</a></li>

		{/loop}



        </ul>

      </div>

    </div>

    <div class="you">

      <div class="pltj">

        <div class="lm"> 分享推荐</div>

        <ul>

	    {loop $cptjarray $r}    
          <li>

            <dl>

              <dt><a href="{url_fen.php?action=view&gid=$r['gid']}"> <img alt="{$r['goodsname']}" src="{$r['goodsimg']}"></a></dt>

              <dd>

        <h1> <a href="{url_fen.php?action=view&gid=$r['gid']}"> {substrs($r['goodsname'],50)}</a></h1>

                <p> {lang price}：<span> ￥{$r['goodsprice']}</span></p>

                <div> {lang Source}：<a target="_blank" href="{$r['sellerurl']}">{$r['goodsseller']}</a></div>

                <b><a href="{$r['sellerurl']}">[{$r['shopname']}]</a></b> </dd>

            </dl>

          </li>
		{/loop}
		  
        </ul>

      </div>

    </div>

  </div>

{template 'footer'}

</form>



</body>

</html>

