
              {loop $dataarray $r} 
                    <li>
                        <div class="leftimgs">
                        </div>
                        <div class="tupian">
                        <a href="{$r['goodsurl']}" onclick="window.open('{$r['goodsurl']}');return false;"><img alt="{$r['goodsname']}" src="{$r['orderimg']}" title="{$r['goodsname']}" onerror="this.src='/templates/default/images/xb/noimg220.gif';" /></a>
                        </div>
                        <a href="{$r['goodsurl']}" onclick="window.open('{$r['goodsurl']}');return false;"
                            target="_blank">
                            <h4>
                             {$r['goodsname']}
                            </h4>
                        </a><span>By：{$r['uname']}</span>
                        <span>
                            <p>
                                ￥{$r['goodsprice']}</p>
                            <a href="{url_pinindex.php?action=pay&oid=$r['oid']}" target="_blank">我要拼单</a>
                        </span></li>
						{/loop}
						
	