<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="JUSTYLE,2010,春夏,伦敦之旅,圆领,图案,印花,绣花工艺,休闲T恤,L,黑色, panli代购" name="keywords">
<link href="css/NewTopFoot.css" rel="Stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="css/AddItemPanel.css">

    <script type="text/javascript" src="js/jquery-1.4.1.min.js"></script>

    <script type="text/javascript" src="js/jQuery.Extend.js"></script>

    <script src="js/jQuery.Drag.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="js/jquery.cookies.2.1.0.min.js"></script>

    <script src="js/Gobal.js" type="text/javascript"></script>

    
    <link type="text/css" rel="stylesheet" href="css/Product.css">

    <script type="text/javascript" src="js/jquery.json-1.3.min.js"></script>
   

    <script type="text/javascript">
        function bulidImgSrc(picID) {
            return "http://img.panli.com/cms/product/" + picID + "/cover/sImg/" + picID + ".jpg";
        }
        var flag = false;
        var pid = 8294;
        $(document).ready(function() {
            var pname = $.trim($(".you h1").text()).replace("\n","");
            var data = {};
            var newOptions = { domain: 'panli.com', hoursToLive: 168 };
            try {
                data = $.evalJSON(jaaulde.utils.cookies.get("scan"));
            } catch (eee) {
                data = null;
            }
            if (data != null) {
                data = $.grep(data, function(item, index) { return item["id"] != pid; });

                if (data.length &gt;= 10) flag = true;
                $.each(data, function(index, item) {
                    $("#scan").append("&lt;li&gt;&lt;a href='?pid=" + item["id"] + "'&gt;&lt;img src='" + bulidImgSrc(item["id"]) + "' alt='" + item["n"] + "'  /&gt;&lt;/a&gt;&lt;/li&gt;");
                });
                if (flag) { data = $.grep(data, function(item, index) { return index &lt; 9; }); }
                data = $.merge([{ "id": pid, "n": pname}], data);
                jaaulde.utils.cookies.set("scan", $.toJSON(data), newOptions);
            }
            else {
                jaaulde.utils.cookies.set("scan", '[{"id":' + pid + ',"n":"' + pname + '"}]', newOptions);
            }
            $(".ph dl").each(function() { $(this).mouseover(function() { $(".ph dl dt").hide(); $(".ph dl dd").show(); $(this).find("dd").hide(); $(this).find("dt").show(); }); });
            $(".ph dl:eq(0)").mouseover();

            $("#submitBtn").click(function() {
                $.ajax({
                    type: "POST",
                    url: "/App_Services/CartProductProfile.asmx/AddBuyNum",
                    dataType: "json",
                    contentType: "application/json;utf-8",
                    data: "{pid:'" + pid + "'}",
                    timeout: 10
                });
            });
        });
    </script>


    <style type="text/css">
    #ad20100727{z-index:100;display:none;moz-opacity:0.56;opacity: 0.56; filter:alpha(opacity=56); height:40px;background:#fff url(http://sf.panli.com/FrontEnd/images20090801/special/20100727/footlayer.jpg) repeat-x 0 0;position:fixed;_position:absolute;bottom:0;border-top:#5BB6D0 solid 2px;left:0;right:0;width:100%;}
.gg_close{width:15px;right:10px;margin:5px 0 -100px 0;background:url(images/1000912.gif) no-repeat center 2px;height:15px;position:absolute;z-index:100;}
.gg_img{float:left;position:fixed;_position:absolute;bottom:0;background:;z-index:8;width:950px;height:40px;cursor:pointer;}
.gg_img span{height:40px;width:950px;display:block;}
.zd_hf{position:fixed;_position:absolute;margin-left:-475px;left:50%;height:40px;width:950px;bottom:0;z-index:110;display:none;}
    </style><title>
	JUSTYLE2010春夏伦敦之旅圆领图案印花绣花工艺休闲T恤L黑色 - panli代购
</title></head><body>

    <script type="text/javascript">        $(function() {
            var r;
            try {
                r = jaaulde.utils.cookies.get("ad20100727");
            } catch (eee) {
                r = false;
            }
            if (!!r) {
            $("#ad20100727,#ad20100727a").remove(); 
            } else {
                if (typeof document.body.style.maxHeight == "undefined") {
                    $("#ad20100727,#ad20100727a").css("position", "absolute").css("margin-top", "0px").css("z-index", "100");
                    var divY = getViewportHeight() - $("#ad20100727").outerHeight();
                    $("#ad20100727,#ad20100727a").each(function() { $(this).css("top", (divY + document.documentElement.scrollTop).toString()); });
                    $(window).scroll(function() { $("#ad20100727,#ad20100727a").each(function() { $(this).css("top", divY + document.documentElement.scrollTop + ""); }); });
                }
                 $("#ad20100727,#ad20100727a").show();
            }
        });
    </script>


<form id="aspnetForm" action="Product.aspx?pid=8294" method="post" name="aspnetForm">
  <div style="display: none;" id="Panli_Crawl" class="addpanel_dialog">
        <div class="addpanel_windowname">
            <h2>
                快速代购</h2>
            <a title="关闭" id="closeBtn"></a>
        </div>
        <div class="addpanel_inlay">
            <div id="p0">
                <img alt="加载中。。。" src="images/loading.gif">
                <p>
                    加&nbsp;载&nbsp;中……
                </p>
            </div>
            <div id="p1">
            </div>
            <div style="display: none;" id="p2">
            </div>
            <div style="display: none;" id="p3">
            </div>
        </div>
    </div>
    <div class="All_top">
      <div class="site_nav">
        <div class="site_center">
          <p id="Gobal_LoginInfo" class="login-info">您好！wsl881202[<a href="#">退出</a>]&nbsp;&nbsp;<a target="_blank" href="#"><img style="margin-right: 3px;" src="images/an2.gif" />新短信<span style="color: rgb(255, 255, 0);">(1)</span></a></p>
          <ul class="quick-menu">
            <li><a target="_blank" id="Gobal_Shoppingcart" class="gouwu" href="#">购物车<span>(2)</span></a></li>
            <li><a href="#">我的Panli</a></li>
            <li><a href="#">我的送货车</a></li>
            <li><a href="#">帮助中心</a></li>
            <li id="Panli_Tools" class="top_tool"><a onclick="return false;" href="javascript:;"> 常用服务工具</a></li>
          </ul>
          <div id="Panli_ToolsList" class="gj_xl">
            <ul>
              <li><a target="_blank" href="#">费用估算</a></li>
              <li><a target="_blank" href="#">尺码换算</a></li>
              <li><a target="_blank" href="#">汇率换算</a></li>
              <li><a target="_blank" href="/Track/">包裹跟踪查询</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panli_wrapper">
        <div class="logo"> <a href="/"> <img alt="Panli代购" src="images/logo.gif" /> </a> </div>
        <div class="fast_daigou">
          <label> 购买商品的网址：</label>
          <input type="text" value="http://" id="CrawlUrl" class="fast_wz_" />
          <a class="linkbutton" id="PanliCrawlBtn" href="javascript:;">快速代购</a>
          <div id="CrawlPromt" class="fast_tishi"> {lang Purchasing_goods}！</div>
        </div>
      </div>
      <div id="SiteIndex" class="channel">
        <ul>
          <li><a id="Default" href="/" class="xt">首页</a></li>
          <li><a id="see" href="suibiangg.html">随便逛逛</a></li>
          <li><a id="GroupPurchasing" href="GroupPurchasing.html"><span>团购</span></a></li>
          <li><a id="Piece" href="/Piece/"><span>拼单购</span><b>(VIP)</b></a></li>
          <li><a id="PanliRecommend" href="PanliRecommend.html">Panli推荐</a></li>
          <li><a href="See.html">讨论组</a></li>
        </ul>
        <p> <a id="special" href="/Special/">专题活动</a><span>|</span><a id="discount" href="/Discount/">折扣信息</a><span>|</span><a id="free_postage" href="#">免邮商家</a></p>
      </div>
    </div>
<div class="weizhi">
        <p>
            <b>您的位置：</b><a href="/PanliRecommend">本站推荐</a><span>&gt;</span><a href="List.aspx?category=1">服装</a><span>&gt;</span><a href="List.aspx?subCategory=2">男装</a><span>&gt;</span><i>JUSTYLE2010春夏伦敦之旅圆领图案印花绣花工艺休闲T恤L黑色</i></p>
    </div>
    <div class="list">
  <div class="you" style="float:left;">
            <h1>
                JUSTYLE2010春夏伦敦之旅圆领图案印花绣花工艺休闲T恤L黑色</h1>
            <div class="product">
                <div class="img">
                    <a href="?pid=8294">
                        <img alt="JUSTYLE2010春夏伦敦之旅圆领图案印花绣花工艺休闲T恤L黑色" src="images/829.jpg"></a>
                </div>
                <div class="parameter">
                    <div class="pl">
                      <p>推荐指数：<img alt="10" src="images/x10.gif"></p>
                        <dl>
                            <dt>￥39.00</dt>
                            
                        </dl>
                    </div>
                    <ul>
                        <li>代购件数：1件</li>
                        <li>浏览次数：14次</li>
                        <li>来源商家：<a target="_blank" href="http://www.360buy.com/product/219169.html">京东商城</a></li>
                    </ul>
                    <div class="shopping">
                        <p>
                            Panli网站所有商品信息来源其他购物网站，由于时效性问题，商品信息可能有出入，以来源网站信息为准！</p>
                        <a style="cursor: pointer;" onClick="window.Panli.Crawl.open('http://www.360buy.com/product/219169.html')" id="submitBtn"></a>
                    </div>
                </div>
            </div>
            <div class="lm">
                <h3>
                    商品描述</h3>
            </div>
            <div class="miaoshu">
                <li title="圆领图案印花绣花工艺休闲T恤L黑色102800299L">商品名称：圆领图案印花绣花工艺休闲T恤L黑色102800299L </li>
<li>生产厂家：JUSTYLE</li>
<li>商品产地：中国大陆 </li>
<li>商品毛重：0.3 </li>
<li>上架时间：2010-4-14 9:48:57 </li>
<p>采用了磨毛斜纹面料，柔软适合机理优雅，磨毛的表面让手感更舒适。修身合体的版型，显得体型更修长，上身效果比较好，臀部显得翘。经过免烫处理的面料，长时间穿着还能笔挺如新，也易打理。我们为顾客预留了足够的裤长修改量，让不同体形的客人可以根据自己的体形随时修改裤长。<br>储存方法：避光保存， 服装洗涤方法(手洗）</p>
<p>JUSTYLE&mdash;&mdash;源创于英国伦敦的创新品牌，以“让时尚更简单！”为使命，倡导“时尚和世界是平的”。JUSTYLE&mdash;&mdash;跨越文化和国界的时尚健康生活方式，在全球时尚界创新E2E的营销模式，为都市人提供亲切简约、风格达人的儒雅个性着装和服务体验。</p>
<p>
</p><table cellspacing="0" cellpadding="0" border="0" style="width: 604px;">
<colgroup span="1"><col span="1" width="81"><col span="1" width="96"><col span="1" width="113"><col span="1" width="100"><col span="1" width="98"><col span="1" width="116"></colgroup>
<tbody>
<tr height="19">
<td height="19" width="81"><strong>尺码</strong></td>
<td width="96"><strong>衣长</strong></td>
<td width="113"><strong>胸宽</strong></td>
<td width="100"><strong>下摆</strong></td>
<td width="98"><strong>肩宽</strong></td>
<td width="116"><strong>袖长</strong></td>
</tr>
<tr height="18">
<td height="18">S</td>
<td>66</td>
<td>45</td>
<td>45</td>
<td>41</td>
<td>21</td>
</tr>
<tr height="18">
<td height="18">M</td>
<td>68</td>
<td>47</td>
<td>47</td>
<td>42.5</td>
<td>22</td>
</tr>
<tr height="18">
<td height="18">L</td>
<td>70</td>
<td>49</td>
<td>49</td>
<td>44</td>
<td>23</td>
</tr>
<tr height="18">
<td height="18">XL</td>
<td>72</td>
<td>51</td>
<td>51</td>
<td>45.5</td>
<td>24</td>
</tr>
<tr height="18">
<td height="18" colspan="6">单位：厘米(cm)</td>
</tr>
</tbody>
</table>

<p style="text-align: center;"><img height="413" border="0" width="550" alt="634160989033196485.jpg" src="images/634160989033196485.jpg"></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><img height="550" border="0" width="550" alt="634160989107140615.jpg" src="images/634160989107140615.jpg"></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><img height="413" border="0" width="550" alt="634160989153628696.jpg" src="images/634160989153628696.jpg"></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><img height="413" border="0" width="550" alt="634160989221020815.jpg" src="images/634160989221020815.jpg"></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><img height="413" border="0" width="550" alt="634160989294652944.jpg" src="images/634160989294652944.jpg"></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><img height="413" border="0" width="550" alt="634160989364541067.jpg" src="images/634160989364541067.jpg"></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><img height="413" border="0" width="550" alt="634160989684653629.jpg" src="images/634160989684653629.jpg"></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><img height="413" border="0" width="550" alt="634160989740345727.jpg" src="images/634160989740345727.jpg"></p>
            </div>
        </div>
      <div class="zuo" style="float:right;">
        <div class="ranking">
          <h2> <img alt="Panli推荐" src="images/ranking.gif" /></h2>
          <div class="ph">
            <dl>
              <dt style="display: block;">
                <div class="img"> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=7698"> <img alt="夏装加长吊带裙/束胸雪纺拖地超长款连衣裙/波西米亚长裙/沙滩裙" src="images/7698.jpg" /> </a> </div>
                <div class="xiangxi">
                  <h1> <b> 1.</b> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=7698"> 夏装加长吊带裙/束胸雪纺拖地超长...</a> </h1>
                  <label> 13.00</label>
                  <p> 来源网站：<span>淘宝</span></p>
                </div>
              </dt>
              <dd style="display: none;"> <span>1</span>
                  <p> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=7698"> 夏装加长吊带裙/束胸雪纺拖地超长...</a> </p>
              </dd>
            </dl>
            <dl>
              <dt style="display: none;">
                <div class="img"> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=7389"> <img alt="黑色高腰蕾丝短裤。背后的蝴蝶结是亮点" src="images/7389.jpg" /> </a> </div>
                <div class="xiangxi">
                  <h1> <b> 2.</b> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=7389"> 黑色高腰蕾丝短裤。背后的蝴蝶结是...</a> </h1>
                  <label> 65.00</label>
                  <p> 来源网站：<span>淘宝</span></p>
                </div>
              </dt>
              <dd> <span>2</span>
                  <p> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=7389"> 黑色高腰蕾丝短裤。背后的蝴蝶结是...</a> </p>
              </dd>
            </dl>
            <dl>
              <dt style="display: none;">
                <div class="img"> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=5763"> <img alt="香奈儿CHANEL 田园瓢虫花朵流苏手链～ 镀24K金" src="images/5763.jpg" /> </a> </div>
                <div class="xiangxi">
                  <h1> <b> 3.</b> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=5763"> 香奈儿CHANEL 田园瓢虫花朵流苏手...</a> </h1>
                  <label> 42.00</label>
                  <p> 来源网站：<span>淘宝</span></p>
                </div>
              </dt>
              <dd> <span>3</span>
                  <p> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=5763"> 香奈儿CHANEL 田园瓢虫花朵流苏手...</a> </p>
              </dd>
            </dl>
            <dl>
              <dt style="display: none;">
                <div class="img"> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=7549"> <img alt="特价秒杀 欧美时装女装 夏季 背心裙 连衣裙" src="images/7549.jpg" /> </a> </div>
                <div class="xiangxi">
                  <h1> <b> 4.</b> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=7549"> 特价秒杀 欧美时装女装 夏季 背心...</a> </h1>
                  <label> 168.00</label>
                  <p> 来源网站：<span>淘宝</span></p>
                </div>
              </dt>
              <dd> <b>4</b>
                  <p> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=7549"> 特价秒杀 欧美时装女装 夏季 背心...</a> </p>
              </dd>
            </dl>
            <dl>
              <dt style="display: none;">
                <div class="img"> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=8042"> <img alt="VIVI裙裤 小恶魔 蕾丝层层打底裤 防走光安全裤 热裤 现货 特价" src="images/8042.jpg" /> </a> </div>
                <div class="xiangxi">
                  <h1> <b> 5.</b> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=8042"> VIVI裙裤 小恶魔 蕾丝层层打底裤...</a> </h1>
                  <label> 8.80</label>
                  <p> 来源网站：<span>淘宝</span></p>
                </div>
              </dt>
              <dd> <b>5</b>
                  <p> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=8042"> VIVI裙裤 小恶魔 蕾丝层层打底裤...</a> </p>
              </dd>
            </dl>
            <dl>
              <dt style="display: none;">
                <div class="img"> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=1382"> <img alt="【嘉兴五芳斋粽子旗舰店】真空中肉粽子" src="images/1382.png" /> </a> </div>
                <div class="xiangxi">
                  <h1> <b> 6.</b> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=1382"> 【嘉兴五芳斋粽子旗舰店】真空中肉...</a> </h1>
                  <label> 7.50</label>
                  <p> 来源网站：<span>淘宝</span></p>
                </div>
              </dt>
              <dd> <b>6</b>
                  <p> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=1382"> 【嘉兴五芳斋粽子旗舰店】真空中肉...</a> </p>
              </dd>
            </dl>
            <dl>
              <dt style="display: none;">
                <div class="img"> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=3195"> <img alt="【变型金刚】美特斯邦威男净色配领带短袖衬衫" src="images/3195.png" /> </a> </div>
                <div class="xiangxi">
                  <h1> <b> 7.</b> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=3195"> 【变型金刚】美特斯邦威男净色配领...</a> </h1>
                  <label> 70.00</label>
                  <p> 来源网站：<span>淘宝</span></p>
                </div>
              </dt>
              <dd> <b>7</b>
                  <p> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=3195"> 【变型金刚】美特斯邦威男净色配领...</a> </p>
              </dd>
            </dl>
            <dl>
              <dt style="display: none;">
                <div class="img"> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=1521"> <img alt="韩版超可爱超甜美百搭苏格兰短裙 配腰带哦" src="images/1521.png" /> </a> </div>
                <div class="xiangxi">
                  <h1> <b> 8.</b> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=1521"> 韩版超可爱超甜美百搭苏格兰短裙...</a> </h1>
                  <label> 38.00</label>
                  <p> 来源网站：<span>淘宝</span></p>
                </div>
              </dt>
              <dd> <b>8</b>
                  <p> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=1521"> 韩版超可爱超甜美百搭苏格兰短裙...</a> </p>
              </dd>
            </dl>
            <dl>
              <dt style="display: none;">
                <div class="img"> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=8059"> <img alt="☆新作☆EHY石川设计！蕾丝纱+柔棉双层面料 优雅气质背心裙OP" src="images/8059.jpg" /> </a> </div>
                <div class="xiangxi">
                  <h1> <b> 9.</b> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=8059"> ☆新作☆EHY石川设计！蕾丝纱+柔棉双...</a> </h1>
                  <label> 69.00</label>
                  <p> 来源网站：<span>淘宝</span></p>
                </div>
              </dt>
              <dd> <b>9</b>
                  <p> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=8059"> ☆新作☆EHY石川设计！蕾丝纱+柔棉双...</a> </p>
              </dd>
            </dl>
            <dl>
              <dt style="display: none;">
                <div class="img"> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=7686"> <img alt="夏日可爱糖果鞋 鱼嘴高跟交叉结坡跟淑女式凉鞋 粉红色" src="images/7686.jpg" /> </a> </div>
                <div class="xiangxi">
                  <h1> <b> 10.</b> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=7686"> 夏日可爱糖果鞋 鱼嘴高跟交叉结坡...</a> </h1>
                  <label> 29.90</label>
                  <p> 来源网站：<span>淘宝</span></p>
                </div>
              </dt>
              <dd> <b>10</b>
                  <p> <a target="_blank" href="/PanliRecommend/Product.aspx?pid=7686"> 夏日可爱糖果鞋 鱼嘴高跟交叉结坡...</a> </p>
              </dd>
            </dl>
          </div>
        </div>
        <div class="lately">
          <h2> <img alt="您最近浏览过的宝贝" src="images/lately.gif" /></h2>
          <ul id="scan">
          </ul>
        </div>
      </div>
    </div>

    
<div class="foot">
    <div class="help">
        <div class="fenlei">
            <h3>
                新手上路</h3>
            <ul>
                <li><a target="_blank" href="/Help/Search.aspx?sc=1">新人须知</a></li>
                <li><a target="_blank" href="/Help/Search.aspx?sc=8">操作指南</a></li>
                <li><a target="_blank" href="/Help/Search.aspx?sc=7">代拍说明</a></li>
                <li><a target="_blank" href="/Help/Search.aspx?sc=4">会员等级和积分</a></li>
            </ul>
        </div>
        <div class="fenlei">
            <h3>
                代购指南</h3>
            <ul>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=13">挑选商品</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=12">代购流程</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=14">如何生成订单</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=16">查询商品状态</a></li>
            </ul>
        </div>
        <div class="fenlei">
            <h3>
                支付说明</h3>
            <ul>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=22">paypal支付</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=23">国际信用卡</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=24">国内银行卡</a></li>
                <li><a target="_blank" href="/Help/Search.aspx?sc=2">其他汇款方式</a></li>
            </ul>
        </div>
        <div class="fenlei">
            <h3>
                配送说明</h3>
            <ul>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=37">运输方式和费用对比</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=38">大宗商品的运费</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=39">海关及税项</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=40">收货注意事项</a></li>
            </ul>
        </div>
        <div class="fenlei">
            <h3>
                售后服务</h3>
            <ul>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=28">退换货原则</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=29">退换货流程</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=20">商品的保管期限</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=18">如何退款</a></li>
            </ul>
        </div>
        <div class="fenlei">
            <h3>
                用户须知</h3>
            <ul>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=67">服务条款</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=67">服务介绍</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=67">服务修订</a></li>
                <li><a target="_blank" href="/Help/Detail.aspx?hid=67">用户隐私保护规则</a></li>
            </ul>
        </div>
        <div class="lx">
            <h3>
                <img alt="Panli客户服务热线" src="images/rexian.gif"></h3>
            <ul>
                <li>客服邮箱：<a href="mailto:service@panli.com">service@panli.com</a></li>
                <li>服务时间：周一至周日（8:30～20:00）</li>
            </ul>
            <div class="Gobal_time">
              <input type="hidden" id="Beijing_Time" value="1280572323707.38">
                <label id="BeijingDate">北京时间：2010-07-31</label><p id="BeijingTime"><span>10</span><b></b><span>32</span><b></b><span>09</span></p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="b_logo">
            <a href="/news/about.aspx?nid=4">
            <img alt="panli" src="images/f_logo.gif"></a>
        </div>
        <div class="b_box">
            <p>
                <a href="/news/about.aspx?nid=4">关于Panli代购</a><span>|</span><a href="/news/about.aspx?nid=5">联系我们</a><span>|</span><a href="/news/about.aspx?nid=6">加入Panli</a><span>|</span><a href="http://tech.panli.com" target="_blank">团队博客</a><span>|</span><a href="/news/about.aspx?nid=14">友情链接</a></p>
            <p>
                Copyright &copy;2010 Panli代购! Inc. All rights reserved.</p>
        </div>
        <div class="b_box2">
            <ul>
                <li class="juli"><a onClick="javascript:window.open('https://www.paypal.com/c2/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');" href="javascript:;">
                <img alt="paypal接受标记" src="images/paypal_.gif"></a></li>
                <li><a target="_blank" href="https://www.paypal.com/verified/pal=paypal@panli.com">
                <img alt="paypal" src="images/paypal.gif"></a></li>
                <li>
                    <img alt="paypal" src="images/v.gif"></li>
            </ul>
        </div>
    </div>
</div>

    </form>

</body>
</html>