<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$cfg_site_name}" />
<link type="text/css" rel="Stylesheet" href="{TPL}css/NewTopFoot.css" />
<link href="{TPL}css/AddItemPanel.css" rel="stylesheet" type="text/css" />
<script src="{TPL}js/jquery-1.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{TPL}js/Gobal.js"></script>
<link href="{TPL}css/tbsp.css" rel="stylesheet" type="text/css" />
<link href="{TPL}css/charging_center.css" rel="stylesheet" type="text/css" />
<title>{lang Girls_Services} - {$cfg_site_name}</title>
</head>
<body>
  {template 'header'}
  <div id="page" style="border:1px solid #f0f0f0;overflow:hidden">
    <!-- #header END -->
    <div id="content">
      <div class="grid-c">
        <div class="box page-info">
          <h2 class="title">{lang Shopping_girls_Charge_Center}</h2>
          <p class="desc">{lang Make_easier_recharge}</p>
        </div>
      </div>
      <div class="grid-c2f">
        <div class="col-main">
          <div class="main-wrap">
            <div class="box">
              <div id="J_ChargingTab" class="tab-box">

				
<ul class="nav-box">
			<li class="current">
				<a  href="service.php?action=alipay"><span class="icon escoreicon">{lang Alipay_behalf_the_recharge}</span></a>			
			</li>
			<li>
				<a href="service.php?action=game"><span class="icon gameicon">{lang Online_direct_charge}</span></a>			
			</li>
			<li>
				<a href="service.php?action=qq"><span class="icon cashgifticon">{lang QQ_currency_recharge}</span></a>				
			</li>
			<li>
				<a href="service.php?action=tenpay"><span class="icon paymenticon">{lang TenPay_recharge}</span></a>
			</li>
			<li>
				<a  href="service.php?action=other"><span class="icon lotteryicon">{lang Other_Website_recharge}</span></a>			
			</li>
			<li>
				<a  href="service.php?action=card"><span class="icon crediticon">{lang Credit_payments}</span></a>				
			</li>
</ul>				
				
			
                <div class="panel-box"> <span class="rc-tp"><span></span></span>
                  <div class="panel">
                    <div class="telephone">
					<form name="service_product_list" method="post" action="{url_service.php?action=add&type=$action}" style="padding:0px; margin:0px;">
                      <table cellspacing="0" cellpadding="0" border="0" class="form-table">
                        <tbody>
                          <tr>
                            <td class="tel-img-box" colspan="2">{lang Facilitate_safe_efficient}</td>
                          </tr>
                          <tr>
                            <th class="tel-num" scope="row"><label>{lang Alipay_Account}：</label></th>
                            <td><span class="tel-input-label">
                              <input type="text" name="account" autocomplete="off" maxlength="50" class="tel-input" id="J_TelInput" style="color: rgb(128, 128, 128);" />
                            </span></td>
                          </tr>
                          <tr>
                            <th scope="row"><label style="color:red">{lang The_amount_recharge}：</label></th>
                            <td><span class="tel-input-label" style="width:100px">
                                <input name="money" type="text" class="tel-input" id="phone" style="color: rgb(128, 128, 128); width:100px" size="10" maxlength="12" autocomplete="off" />
                            </span></td>
                          </tr>
                          <tr>
                            <th scope="row"><label id="J_PriceLabel"></label></th>
                            <td><div class="feild-box"></div></td>
                          </tr>
                          <tr>
                            <td colspan="2"><button id="J_SubmitButton" class="btn-submit" type="submit">{lang Click_here_recharge}</button>
                              <a href="" target="_blank">{lang Probably_arrive_minutes}</a> </td>
                          </tr>
                        </tbody>
                      </table>
					</form>
                    </div>
                  </div>
                  <div class="panel"></div>
                  <div class="panel"></div>
                  <div class="panel"></div>
                  <div class="panel"></div>
                  <div class="panel"></div>
                  <div class="panel"></div>
                  <div class="panel"></div>
                  <div class="panel"></div>
                  <div class="panel"></div>
                  <span class="rc-bt"><span></span></span> </div>
              </div>
            </div>
            <div class="box more-service">
              <ul class="ul-has-icon">
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sub">
          <div class="box side-banner"> <a href="#"><img src="{TPL}images/T1h.hFXiBoXXXXXXXX-180-250.jpg" alt="ad" /></a> </div>
          <div class="box"> <span class="rc-tp"><span></span></span>
            <div class="hd">
              <h3>{lang Recharge_Help}</h3>
            </div>
            <div class="bd">
              <ul>
				{loop $helparray $r}
				<li><a href="{url_help.php?action=view&id=$r['aid']}" target="_blank" title="{$r['title']}">{$r['title']}</a></li>
				
				{/loop}
              </ul>
            </div>
            <span class="rc-bt"><span></span></span> </div>
        </div>
      </div>
    </div>
  </div>
  {template 'footer'}
</body>
</html>
