<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$cfg_site_name}" />
<link type="text/css" rel="Stylesheet" href="{TPL}css/NewTopFoot.css" />
<link href="{TPL}css/AddItemPanel.css" rel="stylesheet" type="text/css" />
    <script src="{TPL}js/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="{TPL}js/jQuery.Extend.js" type="text/javascript"></script>
    <script type="text/javascript" src="{TPL}js/jQuery.Drag.min.js"></script>
    <script src="{TPL}js/Plug-in/jquery.cookies.2.1.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{TPL}js/Gobal.js"></script>
    <link href="{TPL}css/about.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var id = '4';
        $(function() {
            $("#" + id).addClass("tl");
        });
    </script>

<title>
	{lang about_us} - {$cfg_site_name}
</title></head>
<body>
    
<form name="" method="post" action="" id="">

{template 'header'}

<div class="about">
        <div class="full">
            <div class="leftpan">
                <h2>{lang about_us}</h2>
                <ul>
                    
                            <li id='4'><a href='{url_about.php?action=aboutus}'>

                                {lang about_us}</a></li>
                        
                            <li id='5'><a href='{url_about.php?action=contactus}'>
                                {lang Contact_us}</a></li>
                        
                            <li id='6'><a href='{url_about.php?action=joinus}'>
                                {lang join_us}</a></li>
                        
                            <li id='10'><a href='{url_about.php?action=Agreement}'>
                                {lang Service_Agreement}</a></li>

                        
                            <li id='14'><a href='{url_about.php?action=links}'>
                                {lang Links}</a></li>
                        
                            <li id='21'><a href='{url_about.php?action=Customers}'>
                                 {lang t_Service_Agreement}</a></li>
                        
                </ul>

          </div>
 
			
			<div class="rightpan">
                <h1>
                    {lang t_Service_Agreement}</h1>
                <div class="detail">
                    <p>　　<strong>法律声明</strong></p>

<p>　　我们提醒您：在使用我们网站服务前，请您务必仔细阅读并透彻理解本声明。您可以选择不使用本团购服务，但如果您使用本团购服务，您的使用行为将被视为对本声明全部内容的认可。</p>
<p>　　团购服务中会员或其发布的相关商品（包括但不限于店铺名称、公司名称、联系人及联络信息，产品的描述和说明，相关图片、视讯等）的信息均由会员自行提供，会员依法应对其提供的任何信息承担全部责任。</p>
<p>　　<strong>免责声明</strong></p>
<p>　　（1）我们对于任何包含、经由或链接、下载或从任何与有关本服务所获得的任何内容、商品商家信息，不声明或保证其正确性或可靠性；并且对于会员经本服务上的商品商家信息、展示而购买、取得的任何商品、信息或资料，我们不负保证责任。会员自行负担使用上述服务的风险。</p>
<p>　　（2）我们有权但无义务，改善或更正本服务任何部分之任何疏漏、错误。</p>
<p>　　（3）我们不保证（包括但不限于）：</p>
<p>　　a.本服务适合会员的使用要求；</p>
<p>　　b.本服务不受干扰，及时、安全、可靠或不出现错误，包括黑客入侵，网络中断，电信问题及其他不可抗力等;</p>

<p>　　c.会员经由本服务取得的任何产品、服务或其他商品符合会员的期望；</p>
<p>　　d.会员经由本服务获得的任何商品都符合海关以及货运公司的国际运送规范；</p>
<p>　　e．提供商品的卖家或公司一定会依照购买需求完成交易。出现缺货、错发、漏发货等异常现象时会及时告之会员。</p>
<p>　　（4）会员使用经由本服务取得的任何资料，其风险自行负担；</p>
<p>　　（5）会员在浏览网际网路时自行判断使用我们的检索目录和外部链接。这些可能会引导会员进入到被认为具有攻击性或不适当的网站，我们没有义务查看所有的会员所列网站的内容，因此，对其正确性、合法性、正当性不负任何责任。</p>
<p>　　<strong>会员在我们所发布的信息，不得含有以下内容：</strong></p>
<p>　　违反宪法确定的基本原则的；</p>
<p>　　（1）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>

<p>　　（2）损害国家荣誉和利益，攻击党和政府的；</p>
<p>　　（3）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
<p>　　（4）破坏国家、地区间友好关系的；</p>
<p>　　（5）违背中华民族传统美德、社会公德、论理道德、以及社会主义精神文明的；</p>
<p>　　（6）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
<p>　　（7）散布谣言或不实消息，扰乱社会秩序，破坏社会稳定的；</p>
<p>　　（8）煽动、组织、教唆恐怖活动、非法集会、结社、游行、示威、聚众扰乱社会秩序的；</p>
<p>　　（9）散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</p>
<p>　　（10）侮辱或诽谤他人，侵害他人合法权益的；</p>

<p>　　（11）侵犯他人肖像权、姓名权、名誉权、隐私权、著作权及其他合法权益的；</p>
<p>　　（12）使用漫骂、辱骂、中伤、恐吓、诅咒等不文明语言的；</p>
<p>　　（13）以非法民间组织名义活动的；</p>
<p>　　（14）含有法律、行政法规禁止的其他内容的。</p>
<p>　　如果会员在我们发布信息时，不能履行和遵守协议中的规定，为维护本网站的形象、信誉、安全、本网站有权删除会员发布的信息。并对违反协议的会员做出封闭ID，暂时、永久禁止在本网站发布信息的处理。同时保留依法追究当事人法律责任的权利。</p>
<p>　　会员需独立对自己在网上的行为承担法律责任。若会员的行为不符合上述服务协议，我们有权做出独立判断并立即取消用户服务帐号，用户若在我们网站上散布和传播反动、色情或其他违反国家法律的信息，我们的系统记录有可能作为用户违反法律的证据。</p>
<p>　　我们不对会员所发布信息的删除或储存失败承担任何责任。我们有权判定用户的行为是否符合中国法律法规的规定以及我们服务协议的要求，如果会员违背了中国法律法规的规定或服务协议的规定，我们有中断对其提供服务的权利。对于会员通过我们网站络提供的服务（包括但不限于团购等频道）上传到我们网站上可公开获取区域的任何内容，会员同意授予我们在全世界范围内永久性的、不可撤销的、免费的、独家的和再许可的权利和许可，我们可以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示该等内容的全部或部分，和/或将此等内容的全部或部分编入其他任何形式的作品、媒体或技术中，未经我们书面许可，用户不得授权其他网络媒体有偿或无偿使用该内容。</p>
<p>　　由于会员经由本服务张贴或传送内容、与本服务连线、违反本服务协议或侵害其他人的任何权利导致任何第三方提出权利主张或使本网站遭受任何形式的罚款或处罚，用户同意以适当方式充分消除对本网站的不利影响，赔偿本网站及其分公司、关联公司、代理人或其他合作伙伴及员工的损失，并使其免受损害。</p>
<p>　　用户不得对他人张贴在公开使用区域的内容进行复制、出售或用作其他商业用途。</p>

<p>　　<strong>本团购服务有一定的风险存在，请用户谨慎选择使用。<br /><br />　　</strong><span style="color: #ff0000;">*本协议最终解释权归我们所有</span>　　<strong>　　</strong></p>
<p>&nbsp;</p>
                </div>
            </div>
        
 

 


        </div>
        <div style="background: url({TPL}images/yuan_top.gif) no-repeat -982px 0;height: 5px; clear: both">
        </div>
    </div>

    
{template 'footer'}

</form>
</body>
</html>
