<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$cfg_site_name}" />
<link type="text/css" rel="Stylesheet" href="{TPL}css/NewTopFoot.css" />
<link href="{TPL}css/AddItemPanel.css" rel="stylesheet" type="text/css" />
    <script src="{TPL}js/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="{TPL}js/jQuery.Extend.js" type="text/javascript"></script>
    <script type="text/javascript" src="{TPL}js/jQuery.Drag.min.js"></script>
    <script src="{TPL}js/Plug-in/jquery.cookies.2.1.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{TPL}js/Gobal.js"></script>
    <link href="{TPL}css/about.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var id = '4';
        $(function() {
            $("#" + id).addClass("tl");
        });
    </script>

<title>
	{lang about_us} - {$cfg_site_name}
</title></head>
<body>
    
<form name="" method="post" action="" id="">

{template 'header'}

<div class="about">
        <div class="full">
            <div class="leftpan">
                <h2>{lang join_us}</h2>
                <ul>
                    
                            <li id='4'><a href='{url_about.php?action=aboutus}'>

                                {lang about_us}</a></li>
                        
                            <li id='5'><a href='{url_about.php?action=contactus}'>
                                {lang Contact_us}</a></li>
                        
                            <li id='6'><a href='{url_about.php?action=joinus}'>
                                {lang join_us}</a></li>
                        
                            <li id='10'><a href='{url_about.php?action=Agreement}'>
                                {lang Service_Agreement}</a></li>

                        
                            <li id='14'><a href='{url_about.php?action=links}'>
                                {lang Links}</a></li>
                        
                            <li id='21'><a href='{url_about.php?action=Customers}'>
                                 {lang t_Service_Agreement}</a></li>
                        
                </ul>

          </div>
         <!-- <div class="right">
                <h1>

                    {lang about_us}</h1>
            <div class="detail">
                    <p>　　欢迎您来到全国最大的海外华人在线购物平台--Panli网，体验最新最时尚的购物方式，一站解决您对国内商品的需求。</p>
<p>　　<strong>Panli网的团队</strong></p>
<p>　　&ldquo;<span id="ctl00_ContentPlaceHolder1_ucNewsDetail1_lblTitle">郑州全搜索计算机服务有限公司</span>&rdquo;旗下的&ldquo;Panli网&rdquo;创建于2005年3月。Panli网前身为Panli购物论坛，是在原有的服务海外留学生代购国内商品业务的基础上成立发展而来的。</p>

<p>　　公司拥有多位著名的电子商务专家，拥有开拓进取的精英管理团队，拥有商品代购领域的资深经营经验以及先进的全球物流网络。公司构建了一个自由广阔、安全可靠的网络平台，为广大的海外消费者畅通无阻地进行国内网络购物提供了全方位的解决方案。</p>
<p>　　<strong>Panli的目标</strong></p>
<p>　　&ldquo;Panli网&rdquo;正在帮助更多的海外消费者实现他们多年的梦想 &mdash;&mdash;&ldquo;足不出户，买遍中国&rdquo;!</p>
<p>　　&ldquo;Panli网&rdquo;致力于建设一个为海外用户提供代购国内商品的服务，让身在海外的您不用回国，便能自由挑选和购买到正宗优质的国内商品;同时，&ldquo;Panli网&rdquo;与众多国内著名网络商家达成合作协议，您可以通过&ldquo;Panli&rdquo;这样一个海外购物网络门户进入中国， 第一时间了解国内时尚信息，拥有自己梦寐以求的商品，真正实现无国界生活。</p>

<p>　　<strong>Panli的服务</strong></p>
<p>　　&ldquo;Panli网&rdquo;依托自身广泛的信息平台，和世界范围内的物流网络，向海外消费者提供以互联网为基础、以便利消费者为宗旨的全国代购服务。通过&ldquo;Panli&rdquo;代购，您可以享受到：</p>
<p>　　1、无限选择购买网上商品;</p>
<p>　　2、无需拥有国内银行卡，无需兑换外汇，用外币即可购买国内商品;</p>
<p>　　3、最低价的商品价格 ，便捷多元的付费方式，让您省时省事，坐享其成;</p>
<p>　　5、快捷安全地收到您委托代购的商品;</p>

<p>　　6、整个订购过程方便简捷，享受令人满意的客户服务。</p>
<p>　　&ldquo;Panli网&rdquo;作为目前国内最大的国内商品在线代购网，始终致力于向用户提供完善的服务，给用户完美的时尚购物体验。您有对国内商品的需求吗?让Panli为您一站解决。</p>
            </div>
            </div>-->
			
			            <div class="right">

                <div class="detail">
                    <div class="bt_1"><img src="{TPL}images/links_y_03.gif" alt="" /></div>

<div class="hezuo_logo">
<ul>
<li><a href="http://www.taobao.com/" target="_blank"><img src="{TPL}images/taobao_logo.gif" alt="淘宝网" /></a></li>
<li><a href="http://www.dangdang.com/" target="_blank"><img src="{TPL}images/dangdang_logo.gif" alt="当当网" /></a></li>
<li><a href="http://www.amazon.cn/" target="_blank"><img src="{TPL}images/joyo_logo.gif" alt="卓越网" /></a></li>
<li><a href="http://www.paipai.com/" target="_blank"><img src="{TPL}images/paipai_logo.gif" alt="拍拍网" /></a></li>
<li><a href="http://www.youa.com/" target="_blank"><img src="{TPL}images/youa_logo.gif" alt="有啊" /></a></li>
<li><a href="http://www.m18.com/" target="_blank"><img src="{TPL}images/m18_logo.gif" alt="麦网" /></a></li>
<li><a href="http://www.shishangqiyi.com/" target="_blank"><img src="{TPL}images/shishangqiyi_logo.gif" alt="时尚起义" /></a></li>
<li><a href="http://www.vancl.com/" target="_blank"><img src="{TPL}images/vancl_logo.gif" alt="凡客诚品" /></a></li>
<li><a href="http://www.redbaby.com.cn/" target="_blank"><img src="{TPL}images/redbaby_logo.gif" alt="红孩子商城" /></a></li>
<li><a href="http://www.360buy.com/" target="_blank"><img src="{TPL}images/360buy_logo.gif" alt="360京东商城" /></a></li>
<li><a href="http://www.newegg.com.cn/" target="_blank"><img src="{TPL}images/newegg_logo.gif" alt="新蛋网" /></a></li>
<li><a href="http://www.eachnet.com/" target="_blank"><img src="{TPL}images/eachnet_logo.gif" alt="易趣网" /></a></li>
</ul>
</div>
<div class="bt_1"><img src="{TPL}images/links_y_07.gif" alt="" /></div>

<div class="hezuo_logo">
<ul>
<li><a href="http://www.ddmap.com/" target="_blank"><img src="{TPL}images/ddmap_logo.gif" alt="丁丁网" /></a></li>
<li><a href="http://www.zhigou.com/" target="_blank"><img src="{TPL}images/zhigou_logo.gif" alt="智购网上购物" /></a></li>
<li><a title="爱帮生活搜索" href="http://www.aibang.com" target="_blank"><img src="{TPL}images/aibang_logo.gif" alt="爱帮网" /></a></li>
<li><a href="http://www.yymp3.com/" target="_blank"><img src="{TPL}images/yymp3_logo.jpg" alt="音乐mp3" /></a></li>
<li><a href="http://www.outlets365.com/" target="_blank"><img src="{TPL}images/outlets365.gif" alt="品牌男装折扣" /></a></li>
<li><a href="http://www.daqi.com/" target="_blank"><img src="{TPL}images/daqi_logo.jpg" alt="大旗网" /></a></li>
<li><a href="http://sh.99wed.com/" target="_blank"><img src="{TPL}images/sh.99wed.jpg" alt="久久结婚" /></a></li>
<li><a href="http://www.rice.sh/" target="_blank"><img src="{TPL}images/rice_logo.jpg" alt="米饭馆" /></a></li>
<li><a href="http://www.buding.com/" target="_blank"><img src="{TPL}images/buding_logo.jpg" alt="布丁网" /></a></li>
<li><a href="http://www.eachnet.com/" target="_blank"><img src="{TPL}images/vsuch_logo.gif" alt="尚趣网" /></a></li>
<li><a href="http://www.trybb.com/" target="_blank"><img src="http://img.panli.com/CMS/news/14/633941342438675061.jpg" border="0" alt="试试网，想试就试" width="160" height="50" /></a></li>
<li><A href="http://www.usashopcn.com" target="_blank"><IMG src="http://www.usashopcn.com/UploadNewsPic/news_010624111530.gif" alt="美国购物网，专业网上代购平台！轻松体验跨国购物乐趣！" width="110" height="44" border="0" /></A></li>
</ul>
</div>
<div class="bt_1"><img src="{TPL}images/links_y_09.gif" alt="" /></div>

<div class="wenzi_link">
<ul>
<li><a title="姿尚女性网" href="http://www.zslady.com/" target="_blank">姿尚女性网</a></li>
<li><a title="上海打折网" href="http://www.shhbm.com/" target="_blank">上海打折网</a></li>
<li><a title="发型产品" href="http://shop.faxingw.cn/" target="_blank">发型产品</a></li>
<li><a title="雅虎口碑网" href="http://shanghai.koubei.com/" target="_blank">雅虎口碑网</a></li>
<li><a title="好店铺中国网店联盟" href="http://www.haodp.com" target="_blank">好店铺中国网店</a></li>
<li><a title="加拿大中文门户网" href="http://bbs.yorkbbs.ca" target="_blank">加拿大中文门户网</a></li>
<li><a title="薄荷女人网" href="http://www.bohelady.com" target="_blank">薄荷女人网</a></li>
<li><a title="斐贝女性网" href="http://www.febay.com.cn" target="_blank">斐贝女性网</a></li>

<li><a title="爱美网" href="http://www.lady8844.com" target="_blank">爱美网</a></li>
<li><a title="手表折扣网" href="http://www.watchtop.com/" target="_blank">手表折扣网</a></li>
<li><a title="Hers爱物网" href="http://www.hers.com.cn/" target="_blank">Hers爱物网</a></li>
<li><a title="Panli代购社区" href="http://bbs.panli.com/" target="_blank">Panli代购社区</a></li>
<li><a title="妆点女人网" href="http://www.zdwomen.com/" target="_blank">妆点女人网</a></li>
<li><a title="米粒商城" href="http://www.milimall.com/" target="_blank">米粒商城</a></li>
<li><a title="美容新闻" href="http://www.dfhon.com/news/" target="_blank">美容新闻</a></li>
<li><a title="一比多网络营销" href="http://www.ebdoor.com/" target="_blank">一比多网络营销</a></li>
<li><a title="JChere日本商品直送网" href="http://www.jchere.com/" target="_blank">JChere日本直送网</a></li>

<li><a title="COOK100烤肉料网" href="http://www.cook100.com/" target="_blank">COOK100烤肉料网</a></li>
<li><a title="幸福网" href="http://www.xingfu.cn/" target="_blank">幸福网</a></li>
<li><a title="上海打折网" href="http://www.shanghaidz.com/" target="_blank">上海打折网</a></li>
<li><a title="播视娱乐" href="http://ent.boosj.com/" target="_blank">播视娱乐</a></li>
<li><a title="魅力瑜伽网" href="http://www.yogacharm.net/" target="_blank">魅力瑜伽网</a></li>
<li><a title="广购网" href="http://www.gou3618.com/" target="_blank">广购网</a></li>
<li><a title="701搜" href="http://www.701sou.com/" target="_blank">701搜</a></li>
<li><a title="中文分类目录" href="http://www.all-list.cn/" target="_blank">中文分类目录</a></li>
<li><a title="网站排名" href="http://alexa.cn/" target="_blank">网站排名</a></li>

</ul>
</div>
</div>
</div>
			
        </div>
        <div style="background: url({TPL}images/yuan_top.gif) no-repeat -982px 0;height: 5px; clear: both">
        </div>
    </div>

    
{template 'footer'}

</form>
</body>
</html>
